<a href="#measuring-churn-rate">Measuring Churn Rate</a>
- <a href="#standard-based-churn-rate">Standard Churn Rate (Subscription)</a>
- <a href="#activity-based-churn-rate">Activity Churn Rate (Non-Subscription)</a>

<a href="#measuring-customers">Measuring Customers</a>
- <a href="#common-summay-metrics">Common Summary Metrics (Count, Total, Avg, etc)</a>
- <a href="#account-tenure">Account Tenure Metrics</a>

<a href="#observing-churn">Observing Churn</a>
- <a href="#observation-datetime-picking">Observation Datetime Picking and Outcome</a>
- <a href="#analytic-data">Features (Metrics) for each observation instance. Analytic summary data</a>

In [1648]:
# import libraries
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import math

In [1084]:
df = pd.read_json('data/mini_sparkify_event_data.json', orient='records', lines=True)
df.head(5)

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
0,1538352117000,30,29,NextSong,Logged In,PUT,200,paid,50,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Martha Tilston,Rockpools,277.89016
1,1538352180000,9,8,NextSong,Logged In,PUT,200,free,79,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Five Iron Frenzy,Canada,236.09424
2,1538352394000,30,29,NextSong,Logged In,PUT,200,paid,51,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Adam Lambert,Time For Miracles,282.82730
3,1538352416000,9,8,NextSong,Logged In,PUT,200,free,80,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Enigma,Knocking On Forbidden Doors,262.71302
4,1538352676000,30,29,NextSong,Logged In,PUT,200,paid,52,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Daft Punk,Harder Better Faster Stronger,223.60771

In [1085]:
df = df.drop(np.where(df.userId == '')[0])
df.head(5)

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
0,1538352117000,30,29,NextSong,Logged In,PUT,200,paid,50,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Martha Tilston,Rockpools,277.89016
1,1538352180000,9,8,NextSong,Logged In,PUT,200,free,79,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Five Iron Frenzy,Canada,236.09424
2,1538352394000,30,29,NextSong,Logged In,PUT,200,paid,51,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Adam Lambert,Time For Miracles,282.82730
3,1538352416000,9,8,NextSong,Logged In,PUT,200,free,80,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Enigma,Knocking On Forbidden Doors,262.71302
4,1538352676000,30,29,NextSong,Logged In,PUT,200,paid,52,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Daft Punk,Harder Better Faster Stronger,223.60771

In [1086]:
# Convert User Id to numeric type
df.userId = df.userId.astype('int')

# Drop 'useless' attributes
df = df.drop(['registration', 'userAgent', 'status', 'method', ], axis=1)
df.head(10)

# Join First Name and Last Name to Fullname column, then drop First Name, Last Name
df['fullname'] = df['firstName'] + ' ' + df['lastName']
df = df.drop(['firstName', 'lastName'], axis=1)

In [1087]:
# Create 'datetime' column, based on timpstamp value, convert UTC time.
# Convert type to pandas datetime type

df['datetime'] = df['ts'].apply(lambda x: datetime.utcfromtimestamp(x/1000).isoformat())
df['datetime'] = df['datetime'].astype('datetime64[ns]')

df['date'] = df.ts.apply(lambda x: datetime.utcfromtimestamp(x/1000).isoformat()[:10])

In [1088]:
# Check earlist date and latest date in the dataset

print(np.min(df['datetime']))
print(np.max(df['datetime']))

2018-10-01 00:01:57
2018-12-03 01:11:16

In [1089]:
# Date range in the dataset
np.max(df['datetime']) - np.min(df['datetime'])

Timedelta('63 days 01:09:19')

In [1090]:
# Helper Function. get timedelta
# Get a user's timerange of event. (delta of earlist event date to latest event date)

def get_timedelta_by_user(user_id, data=df):
    min_datetime = np.min(data[data.userId == user_id]['datetime'])
    max_datetime = np.max(data[data.userId == user_id]['datetime'])
    d = max_datetime - min_datetime
    return d

# Spot Check
get_timedelta_by_user(152)

Timedelta('31 days 17:01:23')

In [1091]:
# Spot Check: Cancellation Event Count
df[(df.page == 'Cancel') | (df.page == 'Cancellation Confirmation')]['page'].value_counts()

Cancel                       52
Cancellation Confirmation    52
Name: page, dtype: int64

In [1092]:
# Spot Check: Cancellation Event Count (string method)
df[(df.page.str.startswith('Cancel'))]['page'].value_counts()

Cancel                       52
Cancellation Confirmation    52
Name: page, dtype: int64

In [1093]:
# Number of event records
print(df.shape[0])

# Number of distinct users
print(df.userId.nunique())

278154
225

In [1094]:
# Number of 'authentication' values check

df['auth'].value_counts()

Logged In    278102
Cancelled        52
Name: auth, dtype: int64

---

<a id="measuring-churn-rate"></a>

## Measuring Churn Rate

---

observation date recall that follow weekly cycles, so pick a last sunday (or monday 0:00) date as end day

In [1095]:
# Set the observation timeframe we want to do churn model.
# 4 Weeks. 

observation_end_date = pd.Timestamp('2018-12-03') # 49th Monday of 2018.
observation_start_date = observation_end_date - pd.Timedelta("28 days") # 45th Monday of 2018

In [1096]:
def check_last_event(ids, data=df):
    # Check the last event for a list of users.
    
    # return (page, auth, level, time)
    
    l = []
    
    for i in ids:
        page = data[data.userId == i].tail(1).page.values[0]
        auth = data[data.userId == i].tail(1).auth.values[0]
        level = data[data.userId == i].tail(1).level.values[0]
        dt = pd.Timestamp(data[data.userId == i].tail(1).datetime.values[0])
        
        l.append((i, page, auth, level, dt))
        
    return l

---
<a id="standard-based-churn-rate"></a>

### Standard account-basd churn rate

Glance of churn rate for 2018 Nov full calendar.

Since the limitation of event data, we dont have access to Subscription database (information such as sub id, renew date, therefore, to utilize the event data, we calculate the standard account-based churn rate (for Nov 2018) as:

Number of users whose first event is a paid status last event is also a paid status and not cancel auth
/
Total distinct number of users in the month

In [1097]:
# Define 2018 Nov start and end dates
nov_start_date = '2018-11-01T00:00:00'
nov_end_date = '2018-12-01T00:00:00'

# 2018 Nov Data Frame
df_nov = df[(df.datetime > nov_start_date) & (df.datetime < nov_end_date)]

# Distinct user ids in Nov 2018
nov_uids = df_nov.userId.value_counts().index 

# Numbers of user ids in Nov 2018
n_nov_uids = len(nov_uids)

In [1098]:
# The VERY FIRST event for each user in Nov 2018
df_nov_first = df_nov.drop_duplicates('userId', keep='first').\
sort_values('userId')[['userId', 'auth', 'level', 'datetime']]

df_nov_first = df_nov_first.set_index('userId')

In [1099]:
# Users that first event in Nov 2018 is under 'paid' status. (Subscriber already)
df_nov_starts_with_paid = df_nov_first[df_nov_first['level'] == 'paid']
df_nov_starts_with_paid

             auth level            datetime
userId
2       Logged In  paid 2018-11-02 14:49:33
4       Logged In  paid 2018-11-04 13:23:21
6       Logged In  paid 2018-11-01 06:40:13
9       Logged In  paid 2018-11-01 01:49:01
10      Logged In  paid 2018-11-03 14:27:42
...           ...   ...                 ...
300020  Logged In  paid 2018-11-13 12:06:12
300021  Logged In  paid 2018-11-01 13:10:20
300022  Logged In  paid 2018-11-05 01:08:50
300023  Logged In  paid 2018-11-01 05:47:58
300025  Logged In  paid 2018-11-12 22:24:17

[102 rows x 3 columns]

In [1100]:
# The VERY LAST event for each user in Nov 2018

df_nov_last = df_nov.drop_duplicates('userId', keep='last').\
sort_values('userId')[['userId', 'auth', 'level', 'datetime']]

df_nov_last = df_nov_last.set_index('userId')
df_nov_last.head(10)

             auth level            datetime
userId
2       Logged In  paid 2018-11-21 22:30:04
4       Logged In  paid 2018-11-30 16:32:28
5       Logged In  free 2018-11-08 00:33:21
6       Logged In  paid 2018-11-29 22:48:26
7       Logged In  free 2018-11-23 06:46:51
8       Logged In  free 2018-11-30 13:54:57
9       Logged In  paid 2018-11-30 14:19:12
10      Logged In  paid 2018-11-19 12:49:48
11      Logged In  paid 2018-11-27 09:08:22
13      Logged In  free 2018-11-29 17:35:09

In [1101]:
# Merger userFirst and userLast. Then check who churn under condition: 
# 1 - if begin with paid, end with free. (cancelled before the very last), OR
# 2 - if begin with paid, end with paid but it is ALSO the last paid event (cancel is the last event)

df_nov_first_last = pd.merge(df_nov_first, df_nov_last, how='inner', on='userId')

df_nov_churn = df_nov_first_last[
    ((df_nov_first_last.level_x == 'paid') & (df_nov_first_last.level_y == 'free')) | 
    ((df_nov_first_last.level_x == 'paid') & (df_nov_first_last.auth_y == 'Cancelled'))
]

df_nov_churn

,auth_x,level_x,datetime_x,auth_y,level_y,datetime_y
userId,,,,,,
28,Logged In,paid,2018-11-01 00:00:06,Cancelled,paid,2018-11-06 00:20:32
29,Logged In,paid,2018-11-01 00:03:11,Cancelled,paid,2018-11-14 07:37:11
35,Logged In,paid,2018-11-01 05:23:02,Logged In,free,2018-11-30 10:24:09
53,Logged In,paid,2018-11-04 00:20:10,Cancelled,paid,2018-11-19 12:34:56
54,Logged In,paid,2018-11-01 00:02:21,Cancelled,paid,2018-11-12 19:40:08
70,Logged In,paid,2018-11-02 01:20:40,Cancelled,paid,2018-11-14 22:34:27
92,Logged In,paid,2018-11-01 05:09:45,Logged In,free,2018-11-30 23:34:25
103,Logged In,paid,2018-11-03 08:27:37,Cancelled,paid,2018-11-04 14:01:31
106,Logged In,paid,2018-11-02 13:07:17,Cancelled,paid,2018-11-02 13:47:04
109,Logged In,paid,2018-11-05 17:12:05,Logged In,free,2018-11-16 12:33:04
131,Logged In,paid,2018-11-01 18:26:13,Logged In,free,2018-11-30 03:21:23
100007,Logged In,paid,2018-11-07 12:36:40,Cancelled,paid,2018-11-29 11:45:09
100008,Logged In,paid,2018-11-19 12:35:46,Logged In,free,2018-11-27 16:13:39
100013,Logged In,paid,2018-11-01 17:00:47,Cancelled,paid,2018-11-02 18:53:36
100014,Logged In,paid,2018-11-09 05:10:12,Cancelled,paid,2018-11-20 19:04:09
100016,Logged In,paid,2018-11-01 00:03:19,Logged In,free,2018-11-27 16:20:47
100018,Logged In,paid,2018-11-02 07:28:51,Logged In,free,2018-11-28 04:12:40
200017,Logged In,paid,2018-11-01 18:56:48,Cancelled,paid,2018-11-15 20:16:43
200021,Logged In,paid,2018-11-01 08:41:21,Cancelled,paid,2018-11-02 05:58:53
300001,Logged In,paid,2018-11-04 12:52:21,Cancelled,paid,2018-11-23 21:42:24
300004,Logged In,paid,2018-11-14 13:17:46,Logged In,free,2018-11-14 22:41:25

In [1102]:
# Calculate Nov 2018 Churn Rate based on Standard account-based (paid-status or cancellation event)

print(f"Number of customers at the start of nov: {df_nov_starts_with_paid.shape[0]}")
print(f"Number of customers at the end of nov: {df_nov_churn.shape[0]}")

nov_churn_rate = df_nov_churn.shape[0] / df_nov_starts_with_paid.shape[0]

print(f"2018 Nov churn rate: {nov_churn_rate}")
print(f"2018 Nov retention rate: {1 - nov_churn_rate}")

Number of customers at the start of nov: 102
Number of customers at the end of nov: 21
2018 Nov churn rate: 0.20588235294117646
2018 Nov retention rate: 0.7941176470588236

---
<a id="activity-based-churn-rate"></a>
### Activity Based Churn for non-subscriber

In addtion to standard churn rate calculation, I would also calculate churn rate for non-paid ('free') user, based on activity
 measure for Nov 2018.
 
We can obtain an overview of the engagement, utilization of free user. 

How many of free user discontine to use the free service. 

Based on activity recency. Define an inactive time interval, eg 1 month.
Short gaps can be ignore



1. Observe on the start day. (Nov 1), get all free uses have activities within oct 1 - nov 1. Get the head count. 
2. Observe on the end day. (Before Dec 1), get all users have activities within nov 1 - dec 1. Get the head count. 
3. Calculation: End head count / Start head count  (Retaintion Rate)
4. Churn Rate + Retaintion Rate = 1

In [1103]:
# Two observations: 
# 1. Observation on start date of the month 
# 2. Observation on end date of the month
# Recency interval: 30 days

nov_start_date = '2018-11-01T00:00:00'
nov_end_date = '2018-12-01T00:00:00'
recency_interval = '30 days'

# Convert to pd timestamp type
free_nov_ob_start_date = pd.Timestamp(nov_start_date)
free_nov_ob_end_date = pd.Timestamp(nov_end_date)

# Calcuate the inactivity limit for start and end
recency_start_date = free_nov_ob_start_date - pd.Timedelta(recency_interval)
recency_end_date = free_nov_ob_end_date - pd.Timedelta(recency_interval)

print(recency_start_date)
print(recency_end_date)

2018-10-02 00:00:00
2018-11-01 00:00:00

In [1104]:
# Free users count at the start

free_start_count = df[
    (df.datetime >= recency_start_date) & 
    (df.datetime < recency_end_date) & 
    (df.level == 'free')
].groupby('userId').size().shape[0]

free_start_count

173

In [1105]:
# Free users count at the end

free_end_count = df[
    (df.datetime >= recency_end_date) & 
    (df.datetime < nov_end_date) & 
    (df.level == 'free')
].groupby('userId').size().shape[0]

free_end_count # retain

103

In [1106]:
print(f"Number of free users churn for 2018 Nov (Based on activity recency): {free_start_count - free_end_count}")

print(f"Free Users Churn Rate for 2018 Nov (Based on activity recency): \
{(free_start_count - free_end_count) / free_start_count}")

print(f"Free Users Retain Rate for 2018 Nov (Based on activity recency): \
{free_end_count / free_start_count}")

Number of free users churn for 2018 Nov (Based on activity recency): 70
Free Users Churn Rate for 2018 Nov (Based on activity recency): 0.4046242774566474
Free Users Retain Rate for 2018 Nov (Based on activity recency): 0.5953757225433526

---

<a id="measuring-customers"></a>

## Measuring Customers (Feature Engineering)


- Measuring counts, averages, and totals of customer events 
- Measuring how long a customer has been using a service 
- Measuring subscription metrics

---

In [1107]:
# The measuring metrics based on this timeframe (4 weeks)

print(observation_start_date)  # 45th Monday of 2018
print(observation_end_date)  # 49th Monday of 2018.

# 4 weeks in between
observation_end_date - observation_start_date

2018-11-05 00:00:00
2018-12-03 00:00:00

Timedelta('28 days 00:00:00')

In [1108]:
# Softcopy for periods subset to work on.

df_p = df.copy()
df_p.head()

,ts,userId,sessionId,page,auth,level,itemInSession,location,gender,artist,song,length,fullname,datetime,date
0,1538352117000,30,29,NextSong,Logged In,paid,50,"Bakersfield, CA",M,Martha Tilston,Rockpools,277.89016,Colin Freeman,2018-10-01 00:01:57,2018-10-01
1,1538352180000,9,8,NextSong,Logged In,free,79,"Boston-Cambridge-Newton, MA-NH",M,Five Iron Frenzy,Canada,236.09424,Micah Long,2018-10-01 00:03:00,2018-10-01
2,1538352394000,30,29,NextSong,Logged In,paid,51,"Bakersfield, CA",M,Adam Lambert,Time For Miracles,282.82730,Colin Freeman,2018-10-01 00:06:34,2018-10-01
3,1538352416000,9,8,NextSong,Logged In,free,80,"Boston-Cambridge-Newton, MA-NH",M,Enigma,Knocking On Forbidden Doors,262.71302,Micah Long,2018-10-01 00:06:56,2018-10-01
4,1538352676000,30,29,NextSong,Logged In,paid,52,"Bakersfield, CA",M,Daft Punk,Harder Better Faster Stronger,223.60771,Colin Freeman,2018-10-01 00:11:16,2018-10-01

In [1109]:
# Utility Function: Assign period number. 

def period_from_datetime(x):
    """
    Assign each log a period number based on date. 
    Default 0.
    '4' is actually the latest 4 full weeks (28 days).
    `period 3` is 7-days before `period 4`. (28 days).
    `period 2` is 7-days before `period 3`. (28 days).
    `period 1` is 7-days before `period 2`. (28 days).
    
    Each period is 28 days, moving 7 days ahead from its previous period. 
    (moving 7 days)
    """
    period = 0 # default 0: out of window concerned. to filter out.
    
    if (x >= pd.Timestamp('2018-10-15')) & (x < pd.Timestamp('2018-11-12')): 
        period = 1
    
    if (x >= pd.Timestamp('2018-10-22')) & (x < pd.Timestamp('2018-11-19')):
        period = 2
    
    if (x >= pd.Timestamp('2018-10-29')) & (x < pd.Timestamp('2018-11-26')):
        period = 3
        
    if (x >= pd.Timestamp('2018-11-05')) & (x < pd.Timestamp('2018-12-03')):
        period = 4
        
    return period


# df_p[-20:]['datetime'].apply(period_from_datetime)

In [1110]:
# Add a column of period, assign each event to a period base on its datetime.

df_p['period'] = df_p['datetime'].apply(period_from_datetime)

In [1111]:
# p1,2,3,4 is what we concern. 0 is out of timeframe we don't consider. 

df_p[df_p.period.isin([1,2,3,4])].head(5)

,ts,userId,sessionId,page,auth,level,itemInSession,location,gender,artist,song,length,fullname,datetime,date,period
43747,1539561613000,133,167,Home,Logged In,free,0,"San Diego-Carlsbad, CA",M,NaN,NaN,NaN,Liam Fleming,2018-10-15 00:00:13,2018-10-15,1
43748,1539561620000,9,583,NextSong,Logged In,paid,96,"Boston-Cambridge-Newton, MA-NH",M,Edward Sharpe & The Magnetic Zeros,Up From Below,250.27873,Micah Long,2018-10-15 00:00:20,2018-10-15,1
43749,1539561692000,133,167,NextSong,Logged In,free,1,"San Diego-Carlsbad, CA",M,Starflyer 59,When You Feel The Mess,376.86812,Liam Fleming,2018-10-15 00:01:32,2018-10-15,1
43750,1539561762000,54,782,NextSong,Logged In,paid,243,"Spokane-Spokane Valley, WA",F,Aphex Twin,Xtal,294.05995,Alexi Warren,2018-10-15 00:02:42,2018-10-15,1
43751,1539561778000,61,766,NextSong,Logged In,free,18,"San Francisco-Oakland-Hayward, CA",M,Ludovico Einaudi,Nefeli,266.94485,Parker Williams,2018-10-15 00:02:58,2018-10-15,1

In [1112]:
# Spot Check: Distinct Events

df['page'].value_counts()

NextSong                     228108
Thumbs Up                     12551
Home                          10082
Add to Playlist                6526
Add Friend                     4277
Roll Advert                    3933
Logout                         3226
Thumbs Down                    2546
Downgrade                      2055
Settings                       1514
Help                           1454
Upgrade                         499
About                           495
Save Settings                   310
Error                           252
Submit Upgrade                  159
Submit Downgrade                 63
Cancel                           52
Cancellation Confirmation        52
Name: page, dtype: int64

<a id="common-summay-metrics"></a>
### Common Summary Metrics

e.g Count, Total, Avg, Sum

In [1113]:
# Summary df for n_like within 4 moving period, each period is 4 weeks

df_n_like = df_p[df_p.period.isin([1,2,3,4])]
df_n_like = df_n_like[df_n_like.page == 'Thumbs Up']
ds_like_count = df_n_like.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_like_count = pd.DataFrame(ds_like_count).reset_index()
df_n_like_count.columns = ['userId', 'period', 'n_like']
df_n_like_count.head(10)

   userId  period  n_like
0       2       2       1
1       2       3       3
2       2       4       8
3       3       2      10
4       3       3       3
5       4       1       5
6       4       2      12
7       4       3      25
8       4       4      53
9       5       2       5

In [1114]:
# Summary df for n_songplay within 4 moving period, each period is 4 weeks

df_n_play = df_p[df_p.period.isin([1,2,3,4])]
df_n_play = df_n_play[df_n_play.page == 'NextSong']
ds_nplay_count = df_n_play.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_play_count = pd.DataFrame(ds_nplay_count).reset_index()
df_n_play_count.columns = ['userId', 'period', 'n_songplay']
df_n_play_count.head(10)

   userId  period  n_songplay
0       2       2          50
1       2       3          99
2       2       4         247
3       3       2         154
4       3       3          38
5       4       1         102
6       4       2         315
7       4       3         576
8       4       4        1025
9       5       2          78

In [1115]:
# Summary df for n_displike within 4 moving period, each period is 4 weeks

df_n_dislike = df_p[df_p.period.isin([1,2,3,4])]
df_n_dislike = df_n_dislike[df_n_dislike.page == 'Thumbs Down']
ds_ndislike_count = df_n_dislike.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_dislike_count = pd.DataFrame(ds_ndislike_count).reset_index()
df_n_dislike_count.columns = ['userId', 'period', 'n_dislike']
df_n_dislike_count.head(10)

   userId  period  n_dislike
0       2       4          3
1       3       2          3
2       4       1          4
3       4       2          1
4       4       3         10
5       4       4         11
6       6       1          2
7       6       2          4
8       6       3         10
9       6       4         11

In [1116]:
# Summary df for n_addplaylist within 4 moving period, each period is 4 weeks

df_n_addplaylist = df_p[df_p.period.isin([1,2,3,4])]
df_n_addplaylist = df_n_addplaylist[df_n_addplaylist.page == 'Add to Playlist']
ds_n_addplaylist = df_n_addplaylist.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_addplaylist_count = pd.DataFrame(ds_n_addplaylist).reset_index()
df_n_addplaylist_count.columns = ['userId', 'period', 'n_addplaylist']
df_n_addplaylist_count.head(10)

   userId  period  n_addplaylist
0       2       3              1
1       2       4              7
2       3       2              3
3       3       3              1
4       4       1              4
5       4       2              7
6       4       3             13
7       4       4             35
8       5       2              4
9       5       4              2

In [1117]:
# Summary df for n_addfriend within 4 moving period, each period is 4 weeks

df_n_addfriend = df_p[df_p.period.isin([1,2,3,4])]
df_n_addfriend = df_n_addfriend[df_n_addfriend.page == 'Add Friend']
ds_n_addfriend = df_n_addfriend.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_addfriend_count = pd.DataFrame(ds_n_addfriend).reset_index()
df_n_addfriend_count.columns = ['userId', 'period', 'n_addfriend']
df_n_addfriend_count.head(10)

   userId  period  n_addfriend
0       2       2            2
1       2       3            4
2       2       4            7
3       3       2            1
4       4       2            6
5       4       3           12
6       4       4           27
7       5       2            2
8       5       4            1
9       6       1            1

In [1118]:
# Summary df for n_adview within 4 moving period, each period is 4 weeks

df_n_adview = df_p[df_p.period.isin([1,2,3,4])]
df_n_adview = df_n_adview[df_n_adview.page == 'Roll Advert']
ds_n_adview = df_n_adview.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_adview_count = pd.DataFrame(ds_n_adview).reset_index()
df_n_adview_count.columns = ['userId', 'period', 'n_adview']
df_n_adview_count.head(10)

   userId  period  n_adview
0       3       3         1
1       4       1         4
2       5       2         4
3       5       4         3
4       6       1         1
5       6       2         1
6       6       3         1
7       6       4         2
8       7       1         2
9       7       2         9

In [1119]:
# Summary df for n_session within 4 moving period, each period is 4 weeks

df_n_session = df_p[df_p.period.isin([1,2,3,4])]

df_n_session = \
pd.DataFrame(df_n_session.groupby(['userId', 'period', 'sessionId']).size()).reset_index().drop([0], axis=1)

df_n_session_count = pd.DataFrame(df_n_session.groupby(['userId','period'])['sessionId'].count()).reset_index()
df_n_session_count.columns = ['userId', 'period', 'n_session']
df_n_session_count

     userId  period  n_session
0         2       2          1
1         2       3          2
2         2       4          3
3         3       2          2
4         3       3          1
..      ...     ...        ...
612  300024       1          1
613  300025       1          2
614  300025       2          3
615  300025       3          1
616  300025       4          6

[617 rows x 3 columns]

In [1120]:
# Summary df for n_itemsession within 4 moving period, each period is 4 weeks
# Total items in all sessions per period per user (represents usage, shoule be corelated to song play)

ds_n_itemsession = pd.DataFrame(
    df_p[df_p.period.isin([1,2,3,4])].groupby(['userId', 'period','sessionId'])['itemInSession'].count()
).reset_index().groupby(['userId', 'period'])['itemInSession'].sum()

df_n_itemsession_count = pd.DataFrame(ds_n_itemsession).reset_index()
df_n_itemsession_count.columns = ['userId', 'period', 'n_itemsession']

df_n_itemsession_count

     userId  period  n_itemsession
0         2       2             55
1         2       3            118
2         2       4            298
3         3       2            183
4         3       3             47
..      ...     ...            ...
612  300024       1            102
613  300025       1             42
614  300025       2            139
615  300025       3            185
616  300025       4            564

[617 rows x 3 columns]

In [1121]:
# Summary. Sessions Count, Session Items Count, Items per session each period. 

df_session_summary = pd.merge(df_n_session_count, df_n_itemsession_count)
df_session_summary['items_per_session'] = df_session_summary['n_itemsession'] / df_session_summary['n_session']
df_session_summary

     userId  period  n_session  n_itemsession  items_per_session
0         2       2          1             55          55.000000
1         2       3          2            118          59.000000
2         2       4          3            298          99.333333
3         3       2          2            183          91.500000
4         3       3          1             47          47.000000
..      ...     ...        ...            ...                ...
612  300024       1          1            102         102.000000
613  300025       1          2             42          21.000000
614  300025       2          3            139          46.333333
615  300025       3          1            185         185.000000
616  300025       4          6            564          94.000000

[617 rows x 5 columns]

In [1122]:
# Summary. Total listen duration for each user per period. 

df_duration = df_p[(df_p['page'] == 'NextSong') & df_p.period.isin([1,2,3,4])][['userId', 'period', 'length']]

df_duration_total = pd.DataFrame(
    df_duration.groupby(['userId', 'period'])['length'].sum()
).reset_index()

df_duration_total.columns = ['userId', 'period', 'total_duration']
df_duration_total

     userId  period  total_duration
0         2       2     11945.95611
1         2       3     23915.42291
2         2       4     62124.84475
3         3       2     38639.29017
4         3       3     10421.45543
..      ...     ...             ...
611  300024       1     22698.64417
612  300025       1      7703.44387
613  300025       2     27444.63957
614  300025       3     39919.26219
615  300025       4    111447.74303

[616 rows x 3 columns]

In [1123]:
# Summary. Playback duration per session.

df_duration_m = \
df_p[(df_p['page'] == 'NextSong') & df_p.period.isin([1,2,3,4])][['userId','period','sessionId','length']]

df_duration_n_ses = pd.DataFrame(
    pd.DataFrame(
        df_duration_m.groupby(['userId', 'period', 'sessionId'])['length'].sum()
    ).reset_index()\
        .groupby(['userId', 'period'])['sessionId'].size()
        ).reset_index()

df_duration_total = pd.DataFrame(
    df_duration_m.groupby(['userId', 'period'])['length'].sum()
).reset_index()

df_duration_summary = pd.merge(df_duration_n_ses, df_duration_total)
df_duration_summary['avg_play_duration'] = df_duration_summary['length'] / df_duration_summary['sessionId']
df_duration_summary.columns = ['userId','period','n_play_session', 'total_playback_duration', 'avg_playback_duration']
df_duration_summary

,userId,period,n_play_session,total_playback_duration,avg_playback_duration
0,2,2,1,11945.95611,11945.956110
1,2,3,2,23915.42291,11957.711455
2,2,4,3,62124.84475,20708.281583
3,3,2,2,38639.29017,19319.645085
4,3,3,1,10421.45543,10421.455430
...,...,...,...,...,...
611,300024,1,1,22698.64417,22698.644170
612,300025,1,2,7703.44387,3851.721935
613,300025,2,3,27444.63957,9148.213190
614,300025,3,1,39919.26219,39919.262190
615,300025,4,6,111447.74303,18574.623838

<a id="account-tenure"></a>
### Account Tenure

tenure should measure only the current subscription.

In [1124]:
user4 = df[df.userId == 4]

In [1125]:
np.where(user4.groupby('level').cumcount() == 0)

(array([  0, 141]),)

In [1126]:
# experiment cumcount() shift()
# https://stackoverflow.com/questions/25119524/pandas-conditional-rolling-count

dft = pd.DataFrame({
    'x': [1,2,3,4,5,6,7,8,9,10,11],
    'y': ['a','a', 'a', 'b', 'b','b','b','b','a','a','a']
})

dft.groupby(
    (dft['y'] != dft['y'].shift(1)).cumsum()
).cumcount()

0     0
1     1
2     2
3     0
4     1
5     2
6     3
7     4
8     0
9     1
10    2
dtype: int64

In [1127]:
# Experiment on Tenure calculation with User ID 4

user4['cumcount'] = user4.groupby(
    (user4['level'] != user4['level'].shift(1)).cumsum()
).cumcount()

/var/folders/z2/4x1xtsmd40sfmyp2ftrfbkfh0000gn/T/ipykernel_25639/1498505545.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user4['cumcount'] = user4.groupby(

In [1128]:
user4[['level', 'cumcount', 'datetime']]

# Start Date of latest subscription
user4[(user4.cumcount == 0) & (user4.level == 'paid')].tail(1).iloc[0].datetime

# End Date of latest subscription
user4[
    (user4.level == 'paid') & (~user4.page.str.startswith('Cancel'))
].tail(1).iloc[0].datetime

# Tenure Days
(user4[
    (user4.level == 'paid') & (~user4.page.str.startswith('Cancel'))
].tail(1).iloc[0].datetime) - (user4[(user4.cumcount == 0) & (user4.level == 'paid')].tail(1).iloc[0].datetime)

Timedelta('40 days 05:03:25')

In [1129]:
# Users in Observation timeframe [Timestamp('2018-11-05 00:00:00') to Timestamp('2018-12-03 00:00:00')]
# that also have 'paid' status. (subscriber)
# These are the users we concern currently.

uids_obs = list(df_p[
        (df_p.period == 4) & 
        (df_p.level == 'paid')
    ].groupby('userId').size().index)

len(uids_obs)

132

In [1310]:
# Utility Function. Get tunure days
def get_tenures(ids=uids_obs):
     
    """
    Get user's tenure days.
    Key value pair.
    
    Input: list of user ids. Assuming that argument ids are paid user. 
    Output: dict of key value pairs. key: user, value: tunure
    """
    
    dfsub = df[df.datetime < observation_end_date]
    
    tenures = {}
    
    for i in ids:
        dfu = dfsub[dfsub.userId == i]
        
        # Make a cumulative count column
        dfu['cumcount'] = dfu.groupby(
            (dfu['level'] != dfu['level'].shift(1)).cumsum()
        ).cumcount()
        
        # Start Date of latest subscription
        start = dfu[(dfu.cumcount == 0) & (dfu.level == 'paid')].tail(1).iloc[0].datetime
        start_date = str(start)[:10]
        
        # End Date of latest subscription
        end = dfu[
            (dfu.level == 'paid') & (~dfu.page.str.startswith('Cancel'))
        ].tail(1).iloc[0].datetime
        end_date = str(end)[:10]
        
        diff = pd.Timestamp(end_date) - pd.Timestamp(start_date)
#         print(diff.days)
        
        
        # append result, first day starts with 0
        tenures[i] = diff.days
        
    return tenures

tenures = get_tenures()
tenures

/var/folders/z2/4x1xtsmd40sfmyp2ftrfbkfh0000gn/T/ipykernel_25639/1874448288.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfu['cumcount'] = dfu.groupby(

{2: 44,
 4: 40,
 6: 54,
 9: 30,
 10: 42,
 11: 11,
 13: 0,
 14: 49,
 15: 55,
 16: 57,
 20: 10,
 21: 34,
 23: 2,
 25: 10,
 26: 0,
 28: 8,
 29: 37,
 30: 2,
 33: 57,
 35: 13,
 36: 17,
 37: 43,
 38: 37,
 39: 0,
 40: 30,
 41: 51,
 42: 54,
 45: 39,
 46: 29,
 49: 0,
 50: 9,
 52: 26,
 53: 26,
 54: 14,
 55: 0,
 56: 22,
 59: 24,
 60: 46,
 61: 26,
 62: 50,
 65: 53,
 66: 35,
 67: 31,
 69: 47,
 70: 42,
 71: 26,
 74: 27,
 75: 52,
 77: 35,
 79: 15,
 81: 42,
 82: 23,
 83: 24,
 85: 33,
 86: 16,
 88: 34,
 89: 22,
 91: 35,
 92: 46,
 93: 3,
 96: 4,
 97: 32,
 98: 36,
 99: 23,
 100: 16,
 104: 36,
 108: 23,
 109: 36,
 111: 27,
 113: 58,
 114: 30,
 115: 54,
 118: 49,
 120: 60,
 124: 60,
 126: 42,
 127: 56,
 128: 45,
 131: 49,
 132: 50,
 136: 45,
 137: 1,
 138: 39,
 139: 20,
 140: 10,
 141: 41,
 142: 60,
 145: 57,
 147: 16,
 151: 0,
 152: 15,
 153: 22,
 155: 19,
 100002: 38,
 100004: 2,
 100007: 58,
 100008: 42,
 100014: 41,
 100015: 22,
 100016: 53,
 100018: 37,
 200002: 28,
 200003: 4,
 200004: 55,
 200005: 25,
 200007: 30,
 200008: 58,
 200014: 0,
 200017: 16,
 200023: 0,
 200025: 16,
 300001: 53,
 300002: 35,
 300004: 29,
 300005: 42,
 300006: 0,
 300008: 58,
 300009: 58,
 300011: 15,
 300012: 52,
 300013: 48,
 300014: 40,
 300015: 52,
 300016: 52,
 300017: 59,
 300018: 46,
 300019: 54,
 300020: 36,
 300021: 47,
 300022: 50,
 300023: 0,
 300025: 52}

In [1311]:
tenures[25]

10

---

<a id="observing-churn"></a>

## Observing Churn


### Approach Overview
- Picking observation dates from subscribers 
- **Creating an analytic dataset by flattening metric data**
- Exporting a current customer list for segmentation

Forming Churn analysis dataset â€” A dataset in which every row represents a customer facing the decision to churn or stay. 

The outcome is what they do. The facts about these situations are the customerâ€™s behavioral metric measurements.

Observe them all at the interval **relative to their life cycle** with the product, which makes them comparable.


#### About LeadTime

Since we have not details access for every user's exact sub/renew date (although, some can be inferenced from event, 
evidence of first transit from free to paid during timeframe. **However**, some users whose first event in log are already with 'paid', means that they are already ongoing subscribers we don't know when exactly they sub).

Therefore we won't have all sub/renew date for subscribers. Not a good idea to user LeadTime which suggests
observe at one-week before monthly renewal.
For this case, event log only data, to make it consistent for known retain | churn users, I use **Sequence of Regularly Spaced** Observation dates that **relative** to each distinct user. 

#### Observation DateRange and Outcome Set

Make an observation date range dataset. Each row is a sub user's observation date range and is_churn outcome.
(a user can have multiple observation date range)

USER | OBSERVATION_TIME | OUTCOME

(OBSERVATION_DATE represents the end date of the observation with interval of 14 days. Garantee to have interval (e.g 14 days), therefor no need to input observationFrom date. If not enough 14 days, I will not make it an observation 

#### Relative Observations Parameters (adjustable)

- Observation Interval(Length): 14 days (observation_date_from to observation_date: 14 days within)
- Frequency: 14 days (observe every 14 days)
- Initial is_churn outcome. (the latest of 'paid' event, ongoing or churn)
- Iterate backwards to make possible observations

#### Variables
- FirstEventDate: a user's very first shown log date. No matter under 'free' or 'paid.
- TenureFromDate: The start paid day of a user's latest subscription's from date.
- TenureToDate: The latest paid day of a user's latest subscription's from date. (It can be the churn day or sub ongoing day)


#### Users to select
- Select the users from the **latest 4 weeks**. Range: (**>= 45th Monday of 2018 AND < 49th Monday of 2018**)
that is \[>= 2018-11-05 to < 2018-12-03\]
- Users who are ongoing subscribers OR are churn in this timeframe
- (Why not use a full month calendar, e.g Nov 2018? We can. But again, the dataset is a event log, latest records are not completed in a full month Dec instances, so use relative of latest. Use **units of full weeks**. Comsumer Human Behaviors follows WEEK cycle: for example, monday to friday busy, sat, sun more usage for consumer service)

In [1455]:
# Snippet. Datetime 

the_day_dt = datetime.fromtimestamp(df.loc[182974].ts/1000)

# Use utc timestamp for consistency
tsgmt = np.max(df.ts)/1000
tutc = datetime.utcfromtimestamp(tsgmt)

# Datetime Readable (both works)
tutc.isoformat()
str(tutc)

# 'on-the-day' plus one day and trim to 00:00, then can timeframe filter set condition before 
# the begining of next day, which also means taking all time on-the-day itself. 

the_day_plus1_dt = the_day_dt + timedelta(days=1)

# Trim hour/min/sec info, so default to 00:00
the_day_plus1_dt = the_day_plus1_dt.isoformat()[:10]

# Convert to pd.Timestamp
pd.Timestamp(new_dt.isoformat()[:10])

Timestamp('2018-12-01 00:00:00')

<a id="observation-datetime-picking"></a>

In [1456]:
# Subset timeframe 

# Set the timeframe we want to do churn model.
# 4 Weeks. 

range_to = pd.Timestamp('2018-12-03') # 49th Monday of 2018.
range_from = range_to - pd.Timedelta("28 days") # 45th Monday of 2018

# Make a subset to extract user ids that we concern.
dfu = df[(df.datetime >= range_from) & (df.datetime < range_to)]

# Get all subscriber users ids within this range (subscribers)
uids = dfu[dfu['level'] == 'paid'].drop_duplicates('userId', keep='last').sort_values(by='userId')['userId'].values

# These subsribers and their last events within the range.
uids_last_e = check_last_event(uids, data=dfu)

# Separate Retain uids and Churn uids. Condition to check:
# 1) if the last e is 'free', means user trainsited from paid to free within the timeframe, OR
# 2) even tho last is 'paid', but its a 'Cancelled' auth, means the 'paid' user submit cancel. 

# Churn users ids
u_churn = [x[0] for x in uids_last_e if (x[3] == 'free') or (x[2] == 'Cancelled')]
print(len(u_churn))

# Retain users
u_retain = [x[0] for x in uids_last_e if (x[3] == 'paid') and (x[2] != 'Cancelled')]
print(len(u_retain))

21
111

In [1457]:
# Make a tenure dataframe base on above
df_tenure = pd.DataFrame(
    {
        "userId": [x[0] for x in uids_last_e],
        "page": [x[1] for x in uids_last_e],
        "auth": [x[2] for x in uids_last_e],
        "level": [x[3] for x in uids_last_e],
        "latest_log_time": [x[4] for x in uids_last_e],
    }
)

# Add info to df_tenure)
# is_churn: DONE
# tenure_days: 
# tenure_from:
# tenure_to:
# first_log_time: 

def _get_is_churn(l, a):
    
    if (l == 'free') or (a == 'Cancelled'):
        return 1
    else:
        return 0
    
def _get_tenure_to_date(x):
    return dfu[(dfu.userId == x) & (dfu.level=='paid')].iloc[-1].datetime

def _get_tenure_from_time(u, t):
    
    tenure_days = tenures[u]
    dfx = df[df.userId == u]
    from_date = (t - pd.Timedelta(f'{tenure_days} days')).isoformat()[:10]
    tenure_from = dfx[(dfx.level=='paid') & (dfx.date==from_date)].iloc[0].datetime
    
    return tenure_from

def _get_first_log_date(x):
    return df[df.userId==x].iloc[0].datetime
    

    
# Add Columns

df_tenure['is_churn'] = df_tenure.apply(lambda x: _get_is_churn(x.level, x.auth), axis=1)
df_tenure['tenure_days'] = df_tenure['userId'].apply(lambda x: tenures[x])
df_tenure['tenure_to'] = df_tenure['userId'].apply(_get_tenure_to_date)
df_tenure['tenure_from'] = df_tenure.apply(lambda x: _get_tenure_from_date(x.userId, x.tenure_to), axis=1)
df_tenure['first_log_time'] = df_tenure['userId'].apply(_get_first_log_date)

In [1458]:
df_tenure.head(5)

,userId,page,auth,level,latest_log_time,is_churn,tenure_days,tenure_to,tenure_from,first_log_time
0,2,Add Friend,Logged In,paid,2018-11-21 22:30:04,0,44,2018-11-21 22:30:04,2018-10-08 04:49:55,2018-10-08 04:49:55
1,4,Add to Playlist,Logged In,paid,2018-11-30 16:32:28,0,40,2018-11-30 16:32:28,2018-10-21 11:29:03,2018-10-01 01:17:30
2,6,Home,Logged In,paid,2018-11-29 22:48:26,0,54,2018-11-29 22:48:26,2018-10-06 15:37:21,2018-10-01 15:11:43
3,9,Home,Logged In,paid,2018-11-30 14:19:12,0,30,2018-11-30 14:19:12,2018-10-31 03:25:12,2018-10-01 00:03:00
4,10,Downgrade,Logged In,paid,2018-11-19 12:49:48,0,42,2018-11-19 12:49:48,2018-10-08 02:20:20,2018-10-08 02:20:20

Define date picking constant parameter (adjustable)
- frequency = pd.Timedelta('14 days')
- interval = pd.Timedelta('21 days')

Boundary datetime range for user within its tenure range to iterate. (tenure range).

For every iteration of observation_time (It is the TO date, NOT from). And it must be within the tenure range.

**Date Picking Algorithm**

- For ongoing/retain users, is_churn ALWAYS False, any iteration of observation's outcome is_churn ALL False.
- For churn users, the initial observation is_churn is True, any following iteration outcomes (if exist, means they were under the 'paid' level) is_churn are False.


1) Condition: If an observation is within tenure range, record it. Loop to next frequency, check agian if is within range, record then loop next.

Retain Users: It is guarentee to be NotChurn since it is within his/her the tenure range, so that no worry if it has record on the date or nearest date. 

Churn Users: intial outcome always IsChurn, but any following iterations of observation are not.


2) Condition: If a observation date - user's first event date >= interval (means enough observation interval)

In [1570]:
# pseudo 

# observations = []
# intial ob_date = tenure_end_date
#
# while (ob_date isin tenure daterange), AND (ob_data - first_event_date >= interval)
#    ob_date_from = ob_date - interval
#    ob_churn_outcome = False
#    obervations.append([ob_data_from, ob_date, ob_churn_outcome])
#    ob_date -= frequency
#    

# Define Parameters. (Adjustable)
frequency = pd.Timedelta('14 days') # observation frequency. every x days. 
interval = pd.Timedelta('28 days') # length of each observation


def get_observations(userId):
    """
    Make observations of datetime range and churn outcome for a subscriber.
    
    Output: list of tuples. 
    """
    
    ds = df_tenure[df_tenure.userId==userId].iloc[0]
    
    first_log_time = ds.first_log_time
    tenure_from = ds.tenure_from
    
    tenure_to = ds.tenure_to

    # Initial observation time is tenure_to time
    obsevation_time = tenure_to

    # Initializer
    observations = []
    
    while (tenure_from <= obsevation_time <= tenure_to) & (obsevation_time - interval >= first_log_time):
        observations.append(obsevation_time)
        obsevation_time -= frequency
        
    # If user is in churn user list, initial observation always True, otherwise False
    if (userId in u_churn):
        res = [(userId, x, 1) if x == tenure_to else (userId, x, 0) for x in observations]
    else:
        res = [(userId, x, 0) for x in observations]
        
    return res
    
    
# Spot Check
get_observations(300004)

[(300004, Timestamp('2018-11-14 19:49:26'), 1)]

In [1582]:
# Generate observation daterange outcome dataset

def make_datetime_picking_outcome_dateset(sub_ids=u_churn + u_retain):
#     sub_ids = u_churn + u_retain
    
    userIds = []
    observation_times = []
    outcomes = []
    
    for i in sub_ids:
        for k in get_observations(i):
            userIds.append(k[0])
            observation_times.append(k[1])
            outcomes.append(k[2])
            
    res = pd.DataFrame({
        'userId': userIds,
        'observation_time': observation_times,
        'is_churn': outcomes
    })
    
    return res


dfobs = make_datetime_picking_outcome_dateset()
dfobs = dfobs.sort_values(['userId', 'observation_time'], ascending=[True, True]).reset_index().drop('index', axis=1)

# Spot Check
dfobs

     userId    observation_time  is_churn
0         2 2018-11-07 22:30:04         0
1         2 2018-11-21 22:30:04         0
2         4 2018-11-02 16:32:28         0
3         4 2018-11-16 16:32:28         0
4         4 2018-11-30 16:32:28         0
..      ...                 ...       ...
245  300022 2018-11-27 17:28:28         0
246  300023 2018-11-29 17:49:21         0
247  300025 2018-11-02 07:12:50         0
248  300025 2018-11-16 07:12:50         0
249  300025 2018-11-30 07:12:50         0

[250 rows x 3 columns]

<a id="analytic-data"></a>
---

Common Summary Metrics

e.g Count, Total, Avg, Sum

In [1583]:
# Subset dataset only contain the selected within-range (latest 4 weeks) subscriber (uids)
# Full date range as original set. (Oct, Nov, Dec2days)
dfs = df[df.userId.isin(uids)]
dfs.head()

,ts,userId,sessionId,page,auth,level,itemInSession,location,gender,artist,song,length,fullname,datetime,date
0,1538352117000,30,29,NextSong,Logged In,paid,50,"Bakersfield, CA",M,Martha Tilston,Rockpools,277.89016,Colin Freeman,2018-10-01 00:01:57,2018-10-01
1,1538352180000,9,8,NextSong,Logged In,free,79,"Boston-Cambridge-Newton, MA-NH",M,Five Iron Frenzy,Canada,236.09424,Micah Long,2018-10-01 00:03:00,2018-10-01
2,1538352394000,30,29,NextSong,Logged In,paid,51,"Bakersfield, CA",M,Adam Lambert,Time For Miracles,282.82730,Colin Freeman,2018-10-01 00:06:34,2018-10-01
3,1538352416000,9,8,NextSong,Logged In,free,80,"Boston-Cambridge-Newton, MA-NH",M,Enigma,Knocking On Forbidden Doors,262.71302,Micah Long,2018-10-01 00:06:56,2018-10-01
4,1538352676000,30,29,NextSong,Logged In,paid,52,"Bakersfield, CA",M,Daft Punk,Harder Better Faster Stronger,223.60771,Colin Freeman,2018-10-01 00:11:16,2018-10-01

In [1584]:
# for every observation instance, calculate metrics, e.g number of song play, n like etc
dfobs.head()

   userId    observation_time  is_churn
0       2 2018-11-07 22:30:04         0
1       2 2018-11-21 22:30:04         0
2       4 2018-11-02 16:32:28         0
3       4 2018-11-16 16:32:28         0
4       4 2018-11-30 16:32:28         0

In [1585]:
# Convert to np array

npobs = np.array(dfobs)
npobs

array([[2, Timestamp('2018-11-07 22:30:04'), 0],
       [2, Timestamp('2018-11-21 22:30:04'), 0],
       [4, Timestamp('2018-11-02 16:32:28'), 0],
       [4, Timestamp('2018-11-16 16:32:28'), 0],
       [4, Timestamp('2018-11-30 16:32:28'), 0],
       [6, Timestamp('2018-11-01 22:48:26'), 0],
       [6, Timestamp('2018-11-15 22:48:26'), 0],
       [6, Timestamp('2018-11-29 22:48:26'), 0],
       [9, Timestamp('2018-11-02 14:19:12'), 0],
       [9, Timestamp('2018-11-16 14:19:12'), 0],
       [9, Timestamp('2018-11-30 14:19:12'), 0],
       [10, Timestamp('2018-11-05 12:49:48'), 0],
       [10, Timestamp('2018-11-19 12:49:48'), 0],
       [11, Timestamp('2018-11-27 09:08:22'), 0],
       [13, Timestamp('2018-11-08 07:44:01'), 1],
       [14, Timestamp('2018-11-13 23:48:14'), 0],
       [14, Timestamp('2018-11-27 23:48:14'), 0],
       [15, Timestamp('2018-11-11 04:56:58'), 0],
       [15, Timestamp('2018-11-25 04:56:58'), 0],
       [16, Timestamp('2018-11-02 02:20:11'), 0],
       [16, Timestamp('2018-11-16 02:20:11'), 0],
       [16, Timestamp('2018-11-30 02:20:11'), 0],
       [20, Timestamp('2018-11-29 13:44:09'), 0],
       [21, Timestamp('2018-11-21 10:38:00'), 0],
       [25, Timestamp('2018-11-28 14:30:37'), 0],
       [26, Timestamp('2018-11-29 18:25:59'), 0],
       [28, Timestamp('2018-11-06 00:20:32'), 1],
       [29, Timestamp('2018-10-31 07:37:11'), 0],
       [29, Timestamp('2018-11-14 07:37:11'), 1],
       [30, Timestamp('2018-11-30 23:58:40'), 0],
       [33, Timestamp('2018-10-30 13:48:42'), 0],
       [33, Timestamp('2018-11-13 13:48:42'), 0],
       [33, Timestamp('2018-11-27 13:48:42'), 0],
       [35, Timestamp('2018-11-07 19:46:36'), 1],
       [36, Timestamp('2018-11-12 18:23:41'), 0],
       [36, Timestamp('2018-11-26 18:23:41'), 0],
       [37, Timestamp('2018-11-14 21:12:05'), 0],
       [37, Timestamp('2018-11-28 21:12:05'), 0],
       [38, Timestamp('2018-11-02 19:33:21'), 0],
       [38, Timestamp('2018-11-16 19:33:21'), 0],
       [38, Timestamp('2018-11-30 19:33:21'), 0],
       [39, Timestamp('2018-11-30 23:59:15'), 0],
       [40, Timestamp('2018-11-02 06:03:12'), 0],
       [40, Timestamp('2018-11-16 06:03:12'), 0],
       [41, Timestamp('2018-11-09 21:42:02'), 0],
       [41, Timestamp('2018-11-23 21:42:02'), 0],
       [42, Timestamp('2018-11-02 20:43:27'), 0],
       [42, Timestamp('2018-11-16 20:43:27'), 0],
       [42, Timestamp('2018-11-30 20:43:27'), 0],
       [45, Timestamp('2018-10-31 11:15:04'), 0],
       [45, Timestamp('2018-11-14 11:15:04'), 0],
       [45, Timestamp('2018-11-28 11:15:04'), 0],
       [46, Timestamp('2018-11-12 12:13:37'), 0],
       [46, Timestamp('2018-11-26 12:13:37'), 0],
       [49, Timestamp('2018-11-30 13:32:45'), 0],
       [50, Timestamp('2018-11-30 11:16:08'), 0],
       [52, Timestamp('2018-11-14 23:31:43'), 0],
       [52, Timestamp('2018-11-28 23:31:43'), 0],
       [53, Timestamp('2018-11-05 12:34:56'), 0],
       [53, Timestamp('2018-11-19 12:34:56'), 1],
       [54, Timestamp('2018-10-29 19:40:08'), 0],
       [54, Timestamp('2018-11-12 19:40:08'), 1],
       [55, Timestamp('2018-11-21 23:11:11'), 0],
       [56, Timestamp('2018-11-16 23:58:02'), 0],
       [56, Timestamp('2018-11-30 23:58:02'), 0],
       [59, Timestamp('2018-11-15 06:19:15'), 0],
       [59, Timestamp('2018-11-29 06:19:15'), 0],
       [60, Timestamp('2018-11-12 00:04:37'), 0],
       [60, Timestamp('2018-11-26 00:04:37'), 0],
       [61, Timestamp('2018-11-14 17:52:52'), 0],
       [61, Timestamp('2018-11-28 17:52:52'), 1],
       [62, Timestamp('2018-11-14 06:48:41'), 0],
       [62, Timestamp('2018-11-28 06:48:41'), 0],
       [65, Timestamp('2018-11-01 11:28:45'), 0],
       [65, Timestamp('2018-11-15 11:28:45'), 0],
       [65, Timestamp('2018-11-29 11:28:45'), 0],
       [66, Timestamp('2018-11-15 10:44:12'), 0],
       [66, Timestamp('2018-11-29 10:44:12'), 0],
       [67, Timestamp('2018-11-06 00:55:02'), 0],
       [67, Timestamp('2018-11-20 00:55:02'), 0],
       [69, Timestamp('2018-11-09 17:47:11'), 0],
       [69, Timestamp('2018-11-23 17:47:11'), 0],
       [70, Timestamp('2018-10-31 22:34:27'), 0],
       [70, Timestamp('2018-11-14 22:34:27'), 1],
       [71, Timestamp('2018-11-21 14:50:29'), 0],
       [74, Timestamp('2018-11-15 19:15:26'), 0],
       [74, Timestamp('2018-11-29 19:15:26'), 0],
       [75, Timestamp('2018-11-11 14:42:03'), 0],
       [75, Timestamp('2018-11-25 14:42:03'), 0],
       [77, Timestamp('2018-10-31 02:27:12'), 0],
       [77, Timestamp('2018-11-14 02:27:12'), 0],
       [77, Timestamp('2018-11-28 02:27:12'), 0],
       [79, Timestamp('2018-11-29 11:26:12'), 0],
       [81, Timestamp('2018-11-02 23:56:13'), 0],
       [81, Timestamp('2018-11-16 23:56:13'), 0],
       [81, Timestamp('2018-11-30 23:56:13'), 0],
       [82, Timestamp('2018-11-14 07:52:38'), 0],
       [82, Timestamp('2018-11-28 07:52:38'), 0],
       [83, Timestamp('2018-11-15 13:07:07'), 0],
       [83, Timestamp('2018-11-29 13:07:07'), 0],
       [85, Timestamp('2018-11-02 18:48:50'), 0],
       [85, Timestamp('2018-11-16 18:48:50'), 0],
       [85, Timestamp('2018-11-30 18:48:50'), 0],
       [86, Timestamp('2018-11-14 19:25:02'), 0],
       [86, Timestamp('2018-11-28 19:25:02'), 0],
       [88, Timestamp('2018-10-29 15:28:25'), 0],
       [88, Timestamp('2018-11-12 15:28:25'), 0],
       [88, Timestamp('2018-11-26 15:28:25'), 0],
       [89, Timestamp('2018-11-09 14:12:46'), 0],
       [91, Timestamp('2018-11-14 16:36:51'), 0],
       [91, Timestamp('2018-11-28 16:36:51'), 0],
       [92, Timestamp('2018-11-07 08:40:22'), 0],
       [92, Timestamp('2018-11-21 08:40:22'), 1],
       [93, Timestamp('2018-11-30 23:43:25'), 0],
       [96, Timestamp('2018-11-30 00:31:19'), 0],
       [97, Timestamp('2018-11-16 09:37:14'), 0],
       [97, Timestamp('2018-11-30 09:37:14'), 0],
       [98, Timestamp('2018-11-02 03:23:49'), 0],
       [98, Timestamp('2018-11-16 03:23:49'), 0],
       [98, Timestamp('2018-11-30 03:23:49'), 0],
       [99, Timestamp('2018-11-13 07:21:17'), 0],
       [99, Timestamp('2018-11-27 07:21:17'), 0],
       [100, Timestamp('2018-11-16 14:15:49'), 0],
       [100, Timestamp('2018-11-30 14:15:49'), 0],
       [104, Timestamp('2018-11-13 19:59:30'), 0],
       [104, Timestamp('2018-11-27 19:59:30'), 0],
       [108, Timestamp('2018-11-30 15:55:40'), 0],
       [109, Timestamp('2018-11-12 17:41:28'), 1],
       [111, Timestamp('2018-11-15 07:34:03'), 0],
       [111, Timestamp('2018-11-29 07:34:03'), 0],
       [113, Timestamp('2018-11-02 16:08:27'), 0],
       [113, Timestamp('2018-11-16 16:08:27'), 0],
       [113, Timestamp('2018-11-30 16:08:27'), 0],
       [114, Timestamp('2018-11-09 19:08:11'), 0],
       [114, Timestamp('2018-11-23 19:08:11'), 0],
       [115, Timestamp('2018-10-31 04:36:02'), 0],
       [115, Timestamp('2018-11-14 04:36:02'), 0],
       [115, Timestamp('2018-11-28 04:36:02'), 0],
       [118, Timestamp('2018-10-30 19:41:12'), 0],
       [118, Timestamp('2018-11-13 19:41:12'), 0],
       [118, Timestamp('2018-11-27 19:41:12'), 0],
       [120, Timestamp('2018-11-02 01:08:23'), 0],
       [120, Timestamp('2018-11-16 01:08:23'), 0],
       [120, Timestamp('2018-11-30 01:08:23'), 0],
       [124, Timestamp('2018-11-02 15:12:46'), 0],
       [124, Timestamp('2018-11-16 15:12:46'), 0],
       [124, Timestamp('2018-11-30 15:12:46'), 0],
       [126, Timestamp('2018-11-02 15:41:16'), 0],
       [126, Timestamp('2018-11-16 15:41:16'), 0],
       [126, Timestamp('2018-11-30 15:41:16'), 0],
       [127, Timestamp('2018-10-30 20:40:29'), 0],
       [127, Timestamp('2018-11-13 20:40:29'), 0],
       [127, Timestamp('2018-11-27 20:40:29'), 0],
       [128, Timestamp('2018-11-01 15:49:32'), 0],
       [128, Timestamp('2018-11-15 15:49:32'), 0],
       [128, Timestamp('2018-11-29 15:49:32'), 0],
       [131, Timestamp('2018-11-05 23:51:37'), 0],
       [131, Timestamp('2018-11-19 23:51:37'), 1],
       [132, Timestamp('2018-11-07 20:56:12'), 0],
       [132, Timestamp('2018-11-21 20:56:12'), 0],
       [136, Timestamp('2018-11-02 02:31:16'), 0],
       [136, Timestamp('2018-11-16 02:31:16'), 0],
       [136, Timestamp('2018-11-30 02:31:16'), 0],
       [137, Timestamp('2018-11-25 01:20:03'), 0],
       [138, Timestamp('2018-11-02 23:59:25'), 0],
       [138, Timestamp('2018-11-16 23:59:25'), 0],
       [138, Timestamp('2018-11-30 23:59:25'), 0],
       [140, Timestamp('2018-11-30 19:33:12'), 0],
       [141, Timestamp('2018-11-03 01:29:31'), 0],
       [141, Timestamp('2018-11-17 01:29:31'), 0],
       [142, Timestamp('2018-11-02 19:32:17'), 0],
       [142, Timestamp('2018-11-16 19:32:17'), 0],
       [142, Timestamp('2018-11-30 19:32:17'), 0],
       [145, Timestamp('2018-11-02 23:11:32'), 0],
       [145, Timestamp('2018-11-16 23:11:32'), 0],
       [145, Timestamp('2018-11-30 23:11:32'), 0],
       [147, Timestamp('2018-11-15 07:23:24'), 0],
       [147, Timestamp('2018-11-29 07:23:24'), 0],
       [152, Timestamp('2018-12-01 00:00:32'), 0],
       [100002, Timestamp('2018-11-15 03:45:47'), 0],
       [100004, Timestamp('2018-11-29 02:37:45'), 0],
       [100007, Timestamp('2018-11-01 11:45:09'), 0],
       [100007, Timestamp('2018-11-15 11:45:09'), 0],
       [100007, Timestamp('2018-11-29 11:45:09'), 1],
       [100008, Timestamp('2018-11-06 21:21:41'), 0],
       [100008, Timestamp('2018-11-20 21:21:41'), 1],
       [100014, Timestamp('2018-11-20 19:04:09'), 1],
       [100015, Timestamp('2018-11-10 15:35:53'), 0],
       [100015, Timestamp('2018-11-24 15:35:53'), 1],
       [100016, Timestamp('2018-11-09 16:10:12'), 0],
       [100016, Timestamp('2018-11-23 16:10:12'), 1],
       [100018, Timestamp('2018-11-12 16:31:18'), 0],
       [100018, Timestamp('2018-11-26 16:31:18'), 1],
       [200002, Timestamp('2018-11-01 23:25:54'), 0],
       [200002, Timestamp('2018-11-15 23:25:54'), 0],
       [200003, Timestamp('2018-11-06 13:44:29'), 1],
       [200004, Timestamp('2018-11-13 14:04:22'), 0],
       [200004, Timestamp('2018-11-27 14:04:22'), 0],
       [200007, Timestamp('2018-11-18 23:55:06'), 0],
       [200008, Timestamp('2018-11-03 00:02:59'), 0],
       [200008, Timestamp('2018-11-17 00:02:59'), 0],
       [200008, Timestamp('2018-12-01 00:02:59'), 0],
       [200014, Timestamp('2018-11-28 20:13:43'), 0],
       [200017, Timestamp('2018-11-01 20:16:43'), 0],
       [200017, Timestamp('2018-11-15 20:16:43'), 1],
       [200023, Timestamp('2018-11-30 22:35:49'), 0],
       [200025, Timestamp('2018-11-21 12:51:23'), 0],
       [300001, Timestamp('2018-11-09 21:42:24'), 0],
       [300001, Timestamp('2018-11-23 21:42:24'), 1],
       [300002, Timestamp('2018-11-13 16:37:51'), 0],
       [300002, Timestamp('2018-11-27 16:37:51'), 0],
       [300004, Timestamp('2018-11-14 19:49:26'), 1],
       [300005, Timestamp('2018-11-02 04:14:36'), 0],
       [300005, Timestamp('2018-11-16 04:14:36'), 0],
       [300006, Timestamp('2018-11-24 22:07:42'), 0],
       [300008, Timestamp('2018-11-01 08:26:51'), 0],
       [300008, Timestamp('2018-11-15 08:26:51'), 0],
       [300008, Timestamp('2018-11-29 08:26:51'), 0],
       [300009, Timestamp('2018-11-02 19:17:37'), 0],
       [300009, Timestamp('2018-11-16 19:17:37'), 0],
       [300009, Timestamp('2018-11-30 19:17:37'), 0],
       [300011, Timestamp('2018-11-17 00:00:11'), 0],
       [300011, Timestamp('2018-12-01 00:00:11'), 0],
       [300012, Timestamp('2018-11-12 21:11:47'), 0],
       [300012, Timestamp('2018-11-26 21:11:47'), 0],
       [300013, Timestamp('2018-11-11 13:06:23'), 0],
       [300013, Timestamp('2018-11-25 13:06:23'), 0],
       [300014, Timestamp('2018-11-15 17:15:37'), 0],
       [300015, Timestamp('2018-11-02 16:53:06'), 0],
       [300015, Timestamp('2018-11-16 16:53:06'), 0],
       [300015, Timestamp('2018-11-30 16:53:06'), 0],
       [300016, Timestamp('2018-11-13 15:51:32'), 0],
       [300016, Timestamp('2018-11-27 15:51:32'), 0],
       [300017, Timestamp('2018-11-01 15:58:07'), 0],
       [300017, Timestamp('2018-11-15 15:58:07'), 0],
       [300017, Timestamp('2018-11-29 15:58:07'), 0],
       [300018, Timestamp('2018-11-16 21:39:16'), 0],
       [300018, Timestamp('2018-11-30 21:39:16'), 0],
       [300019, Timestamp('2018-11-15 05:31:30'), 0],
       [300019, Timestamp('2018-11-29 05:31:30'), 0],
       [300020, Timestamp('2018-11-13 14:15:34'), 0],
       [300021, Timestamp('2018-11-02 20:28:03'), 0],
       [300021, Timestamp('2018-11-16 20:28:03'), 0],
       [300021, Timestamp('2018-11-30 20:28:03'), 0],
       [300022, Timestamp('2018-11-13 17:28:28'), 0],
       [300022, Timestamp('2018-11-27 17:28:28'), 0],
       [300023, Timestamp('2018-11-29 17:49:21'), 0],
       [300025, Timestamp('2018-11-02 07:12:50'), 0],
       [300025, Timestamp('2018-11-16 07:12:50'), 0],
       [300025, Timestamp('2018-11-30 07:12:50'), 0]], dtype=object)

In [1716]:
# Computing Metrics functions

def get_n_songplay(uid, d_from, d_to):
    ds = dfs[(dfs.userId==uid) & (dfs.datetime > d_from) & (dfs.datetime <= d_to)]\
.page.value_counts()
    
    try:
        res = ds['NextSong']
    except:
        res = 0
        
    return res


def get_n_like(uid, d_from, d_to):
    ds = dfs[(dfs.userId==uid) & (dfs.datetime > d_from) & (dfs.datetime <= d_to)]\
.page.value_counts()
    
    try:
        res = ds['Thumbs Up']
    except:
        res = 0
        
    return res


def get_n_dislike(uid, d_from, d_to):
    ds = dfs[(dfs.userId==uid) & (dfs.datetime > d_from) & (dfs.datetime <= d_to)]\
.page.value_counts()
    
    try:
        res = ds['Thumbs Down']
    except:
        res = 0
        
    return res


def get_n_addtoplaylist(uid, d_from, d_to):
    ds = dfs[(dfs.userId==uid) & (dfs.datetime > d_from) & (dfs.datetime <= d_to)]\
.page.value_counts()
    
    try:
        res = ds['Add to Playlist']
    except:
        res = 0
        
    return res

def get_n_addfriend(uid, d_from, d_to):
    ds = dfs[(dfs.userId==uid) & (dfs.datetime > d_from) & (dfs.datetime <= d_to)]\
.page.value_counts()
    
    try:
        res = ds['Add Friend']
    except:
        res = 0
        
    return res


def get_n_adview(uid, d_from, d_to):
    ds = dfs[(dfs.userId==uid) & (dfs.datetime > d_from) & (dfs.datetime <= d_to)]\
.page.value_counts()
    
    try:
        res = ds['Roll Advert']
    except:
        res = 0
        
    return res


def get_n_viewdowngrade(uid, d_from, d_to):
    ds = dfs[(dfs.userId==uid) & (dfs.datetime > d_from) & (dfs.datetime <= d_to)]\
.page.value_counts()
    
    try:
        res = ds['Downgrade']
    except:
        res = 0
        
    return res


def get_n_session(uid, d_from, d_to):
    
    try:
        res = dfs[(dfs.userId==uid) & (dfs.datetime > d_from) & (dfs.datetime <= d_to)].sessionId.nunique()

    except:
        res = 0
        
    return res



def get_total_playlength(uid, d_from, d_to):
    
    try:
        res = math.ceil(dfs[(dfs.userId==uid) & (dfs.datetime > d_from) & (dfs.datetime <= d_to)]['length'].sum())

    except:
        res = 0
        
    return res

def get_tenure_days(uid, u_to):
    res = (pd.Timestamp(str(d_to)[:10]) - \
           pd.Timestamp(str(df_tenure[df_tenure.userId==uid].tenure_from.iloc[0])[:10])).days
    
    return res

def get_songplay_change_perc(uid, d_from, d_to):
    first_log_time = df_tenure[df_tenure.userId==uid]['first_log_time'].iloc[0]
    delta = frequency
    end = get_n_songplay(uid, d_from, d_to)
    start = get_n_songplay(uid, d_from - delta, d_to - delta) + 1 # plus 1 in case denominator 0 to avoid error
    perc = (end / start) - 1
    perc = round(perc, 4)
    
    if (d_from - delta < first_log_time):
        # not enough timerange data to compare with, 
        # which means 'unfair' comparation with previous timeframe
        # default to 0% change.
        perc = 0
    
    return perc

In [1721]:
df_tenure[df_tenure.userId==2]['first_log_time'].iloc[0] < d_to

True

In [1722]:
# 

"""observe to: 2018-11-07 22:30:04"""

print(get_n_songplay(2, pd.Timestamp('2018-10-24 22:30:04'), pd.Timestamp('2018-11-21 22:30:04')))


print(get_n_songplay(2, pd.Timestamp('2018-10-24 22:30:04') - interval, pd.Timestamp('2018-11-21 22:30:04') - interval))

396
359

In [1723]:
dfs.page.value_counts()

NextSong                     194005
Thumbs Up                     10882
Home                           8347
Add to Playlist                5581
Add Friend                     3616
Logout                         2610
Roll Advert                    2378
Thumbs Down                    2023
Downgrade                      1810
Settings                       1243
Help                           1229
About                           431
Upgrade                         337
Save Settings                   249
Error                           212
Submit Upgrade                  132
Submit Downgrade                 52
Cancel                           10
Cancellation Confirmation        10
Name: page, dtype: int64

In [1724]:
# Get metrics for every observation instance

for i in npobs:
    uid = i[0]
    d_to = i[1]
    d_from = d_to - interval
    is_churn = i[2]
    
    n_songplay = get_n_songplay(uid, d_from, d_to)
    song_play_change_perc = get_songplay_change_perc(uid, d_from, d_to)
    n_session = get_n_session(uid, d_from, d_to)
    total_playlength = get_total_playlength(uid, d_from, d_to)
    n_addtoplaylist = get_n_addtoplaylist(uid, d_from, d_to)
    n_addfriend = get_n_addfriend(uid, d_from, d_to)
    n_like = get_n_like(uid, d_from, d_to)
    n_dislike = get_n_dislike(uid, d_from, d_to)
    n_adview = get_n_adview(uid, d_from, d_to)
    n_viewdowngrade = get_n_viewdowngrade(uid, d_from, d_to)
    avg_length_per_session = round(total_playlength / n_session, 2)
    tenure = get_tenure_days(uid, d_to)
    
    print()
    print(f"uid: {uid}")
    print(f"observe from: {d_from}")
    print(f"observe to: {d_to}")
    print(f"n_songplay: {n_songplay}")
    print(f"song_play_change_perc: {song_play_change_perc}")
    print(f"n_session: {n_session}")
    print(f"total_playlength: {total_playlength}")
    print(f"n_addtoplaylist: {n_addtoplaylist}")
    print(f"n_addfriend: {n_addfriend}")
    print(f"n_like: {n_like}")
    print(f"n_dislike: {n_dislike}")
    print(f"n_adview: {n_adview}")
    print(f"n_viewdowngrade: {n_viewdowngrade}")
    print(f"avg_length_per_session: {avg_length_per_session}")
    print(f"tenure: {tenure} days")
    print(f"is_churn: {is_churn}")

uid: 2
observe from: 2018-10-10 22:30:04
observe to: 2018-11-07 22:30:04
n_songplay: 154
song_play_change_perc: 0
n_session: 4
total_playlength: 36986
n_addtoplaylist: 2
n_addfriend: 6
n_like: 4
n_dislike: 0
n_adview: 0
n_viewdowngrade: 2
avg_length_per_session: 9246.5
tenure: 30 days
is_churn: 0

uid: 2
observe from: 2018-10-24 22:30:04
observe to: 2018-11-21 22:30:04
n_songplay: 396
song_play_change_perc: 1.5714
n_session: 6
total_playlength: 97987
n_addtoplaylist: 8
n_addfriend: 13
n_like: 12
n_dislike: 3
n_adview: 0
n_viewdowngrade: 7
avg_length_per_session: 16331.17
tenure: 44 days
is_churn: 0

uid: 4
observe from: 2018-10-05 16:32:28
observe to: 2018-11-02 16:32:28
n_songplay: 846
song_play_change_perc: 0
n_session: 10
total_playlength: 209280
n_addtoplaylist: 21
n_addfriend: 15
n_like: 34
n_dislike: 13
n_adview: 4
n_viewdowngrade: 8
avg_length_per_session: 20928.0
tenure: 12 days
is_churn: 0

uid: 4
observe from: 2018-10-19 16:32:28
observe to: 2018-11-16 16:32:28
n_songplay: 1434
song_play_change_perc: 0.695
n_session: 9
total_playlength: 354367
n_addtoplaylist: 36
n_addfriend: 34
n_like: 66
n_dislike: 16
n_adview: 0
n_viewdowngrade: 16
avg_length_per_session: 39374.11
tenure: 26 days
is_churn: 0

uid: 4
observe from: 2018-11-02 16:32:28
observe to: 2018-11-30 16:32:28
n_songplay: 1183
song_play_change_perc: -0.175
n_session: 11
total_playlength: 291196
n_addtoplaylist: 38
n_addfriend: 31
n_like: 61
n_dislike: 13
n_adview: 0
n_viewdowngrade: 13
avg_length_per_session: 26472.36
tenure: 40 days
is_churn: 0

uid: 6
observe from: 2018-10-04 22:48:26
observe to: 2018-11-01 22:48:26
n_songplay: 1465
song_play_change_perc: 0
n_session: 12
total_playlength: 368103
n_addtoplaylist: 35
n_addfriend: 23
n_like: 67
n_dislike: 16
n_adview: 3
n_viewdowngrade: 20
avg_length_per_session: 30675.25
tenure: 26 days
is_churn: 0

uid: 6
observe from: 2018-10-18 22:48:26
observe to: 2018-11-15 22:48:26
n_songplay: 1830
song_play_change_perc: 0.2491
n_session: 11
total_playlength: 449865
n_addtoplaylist: 41
n_addfriend: 19
n_like: 87
n_dislike: 15
n_adview: 3
n_viewdowngrade: 22
avg_length_per_session: 40896.82
tenure: 40 days
is_churn: 0

uid: 6
observe from: 2018-11-01 22:48:26
observe to: 2018-11-29 22:48:26
n_songplay: 1648
song_play_change_perc: -0.0995
n_session: 10
total_playlength: 407977
n_addtoplaylist: 46
n_addfriend: 18
n_like: 97
n_dislike: 14
n_adview: 2
n_viewdowngrade: 21
avg_length_per_session: 40797.7
tenure: 54 days
is_churn: 0

uid: 9
observe from: 2018-10-05 14:19:12
observe to: 2018-11-02 14:19:12
n_songplay: 1091
song_play_change_perc: 0
n_session: 11
total_playlength: 273838
n_addtoplaylist: 25
n_addfriend: 10
n_like: 56
n_dislike: 15
n_adview: 6
n_viewdowngrade: 12
avg_length_per_session: 24894.36
tenure: 2 days
is_churn: 0

uid: 9
observe from: 2018-10-19 14:19:12
observe to: 2018-11-16 14:19:12
n_songplay: 1042
song_play_change_perc: -0.0449
n_session: 14
total_playlength: 259465
n_addtoplaylist: 27
n_addfriend: 19
n_like: 43
n_dislike: 10
n_adview: 6
n_viewdowngrade: 14
avg_length_per_session: 18533.21
tenure: 16 days
is_churn: 0

uid: 9
observe from: 2018-11-02 14:19:12
observe to: 2018-11-30 14:19:12
n_songplay: 1481
song_play_change_perc: 0.4213
n_session: 18
total_playlength: 365368
n_addtoplaylist: 48
n_addfriend: 29
n_like: 56
n_dislike: 15
n_adview: 0
n_viewdowngrade: 20
avg_length_per_session: 20298.22
tenure: 30 days
is_churn: 0

uid: 10
observe from: 2018-10-08 12:49:48
observe to: 2018-11-05 12:49:48
n_songplay: 465
song_play_change_perc: 0
n_session: 3
total_playlength: 114193
n_addtoplaylist: 7
n_addfriend: 7
n_like: 30
n_dislike: 4
n_adview: 0
n_viewdowngrade: 4
avg_length_per_session: 38064.33
tenure: 28 days
is_churn: 0

uid: 10
observe from: 2018-10-22 12:49:48
observe to: 2018-11-19 12:49:48
n_songplay: 235
song_play_change_perc: -0.4946
n_session: 4
total_playlength: 59343
n_addtoplaylist: 1
n_addfriend: 4
n_like: 11
n_dislike: 0
n_adview: 1
n_viewdowngrade: 4
avg_length_per_session: 14835.75
tenure: 42 days
is_churn: 0

uid: 11
observe from: 2018-10-30 09:08:22
observe to: 2018-11-27 09:08:22
n_songplay: 437
song_play_change_perc: 0.5552
n_session: 8
total_playlength: 108335
n_addtoplaylist: 18
n_addfriend: 5
n_like: 29
n_dislike: 5
n_adview: 20
n_viewdowngrade: 4
avg_length_per_session: 13541.88
tenure: 11 days
is_churn: 0

uid: 13
observe from: 2018-10-11 07:44:01
observe to: 2018-11-08 07:44:01
n_songplay: 797
song_play_change_perc: 0
n_session: 19
total_playlength: 195503
n_addtoplaylist: 22
n_addfriend: 19
n_like: 38
n_dislike: 8
n_adview: 31
n_viewdowngrade: 8
avg_length_per_session: 10289.63
tenure: 0 days
is_churn: 1

uid: 14
observe from: 2018-10-16 23:48:14
observe to: 2018-11-13 23:48:14
n_songplay: 596
song_play_change_perc: 0
n_session: 6
total_playlength: 147868
n_addtoplaylist: 15
n_addfriend: 8
n_like: 28
n_dislike: 9
n_adview: 1
n_viewdowngrade: 5
avg_length_per_session: 24644.67
tenure: 35 days
is_churn: 0

uid: 14
observe from: 2018-10-30 23:48:14
observe to: 2018-11-27 23:48:14
n_songplay: 737
song_play_change_perc: 0.2366
n_session: 7
total_playlength: 182227
n_addtoplaylist: 22
n_addfriend: 12
n_like: 30
n_dislike: 5
n_adview: 0
n_viewdowngrade: 8
avg_length_per_session: 26032.43
tenure: 49 days
is_churn: 0

uid: 15
observe from: 2018-10-14 04:56:58
observe to: 2018-11-11 04:56:58
n_songplay: 524
song_play_change_perc: 0
n_session: 4
total_playlength: 129483
n_addtoplaylist: 18
n_addfriend: 7
n_like: 27
n_dislike: 2
n_adview: 1
n_viewdowngrade: 7
avg_length_per_session: 32370.75
tenure: 41 days
is_churn: 0

uid: 15
observe from: 2018-10-28 04:56:58
observe to: 2018-11-25 04:56:58
n_songplay: 797
song_play_change_perc: 0.521
n_session: 6
total_playlength: 197727
n_addtoplaylist: 29
n_addfriend: 14
n_like: 34
n_dislike: 6
n_adview: 1
n_viewdowngrade: 12
avg_length_per_session: 32954.5
tenure: 55 days
is_churn: 0

uid: 16
observe from: 2018-10-05 02:20:11
observe to: 2018-11-02 02:20:11
n_songplay: 356
song_play_change_perc: 0
n_session: 3
total_playlength: 92128
n_addtoplaylist: 11
n_addfriend: 5
n_like: 23
n_dislike: 2
n_adview: 1
n_viewdowngrade: 2
avg_length_per_session: 30709.33
tenure: 29 days
is_churn: 0

uid: 16
observe from: 2018-10-19 02:20:11
observe to: 2018-11-16 02:20:11
n_songplay: 197
song_play_change_perc: -0.4466
n_session: 3
total_playlength: 50194
n_addtoplaylist: 3
n_addfriend: 4
n_like: 16
n_dislike: 1
n_adview: 0
n_viewdowngrade: 4
avg_length_per_session: 16731.33
tenure: 43 days
is_churn: 0

uid: 16
observe from: 2018-11-02 02:20:11
observe to: 2018-11-30 02:20:11
n_songplay: 161
song_play_change_perc: -0.1827
n_session: 5
total_playlength: 37583
n_addtoplaylist: 4
n_addfriend: 2
n_like: 11
n_dislike: 1
n_adview: 0
n_viewdowngrade: 5
avg_length_per_session: 7516.6
tenure: 57 days
is_churn: 0

uid: 20
observe from: 2018-11-01 13:44:09
observe to: 2018-11-29 13:44:09
n_songplay: 634
song_play_change_perc: -0.5484
n_session: 10
total_playlength: 154408
n_addtoplaylist: 22
n_addfriend: 10
n_like: 35
n_dislike: 10
n_adview: 5
n_viewdowngrade: 5
avg_length_per_session: 15440.8
tenure: 10 days
is_churn: 0

uid: 21
observe from: 2018-10-24 10:38:00
observe to: 2018-11-21 10:38:00
n_songplay: 455
song_play_change_perc: 0
n_session: 3
total_playlength: 110293
n_addtoplaylist: 8
n_addfriend: 8
n_like: 25
n_dislike: 2
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 36764.33
tenure: 34 days
is_churn: 0

uid: 25
observe from: 2018-10-31 14:30:37
observe to: 2018-11-28 14:30:37
n_songplay: 1079
song_play_change_perc: 1.0282
n_session: 10
total_playlength: 269551
n_addtoplaylist: 39
n_addfriend: 19
n_like: 59
n_dislike: 9
n_adview: 27
n_viewdowngrade: 4
avg_length_per_session: 26955.1
tenure: 10 days
is_churn: 0

uid: 26
observe from: 2018-11-01 18:25:59
observe to: 2018-11-29 18:25:59
n_songplay: 78
song_play_change_perc: -0.4222
n_session: 4
total_playlength: 20091
n_addtoplaylist: 3
n_addfriend: 3
n_like: 3
n_dislike: 0
n_adview: 11
n_viewdowngrade: 0
avg_length_per_session: 5022.75
tenure: 0 days
is_churn: 0

uid: 28
observe from: 2018-10-09 00:20:32
observe to: 2018-11-06 00:20:32
n_songplay: 1348
song_play_change_perc: 0
n_session: 15
total_playlength: 337907
n_addtoplaylist: 45
n_addfriend: 14
n_like: 75
n_dislike: 21
n_adview: 19
n_viewdowngrade: 15
avg_length_per_session: 22527.13
tenure: 8 days
is_churn: 1

uid: 29
observe from: 2018-10-03 07:37:11
observe to: 2018-10-31 07:37:11
n_songplay: 2067
song_play_change_perc: 0
n_session: 23
total_playlength: 519695
n_addtoplaylist: 63
n_addfriend: 34
n_like: 104
n_dislike: 15
n_adview: 11
n_viewdowngrade: 13
avg_length_per_session: 22595.43
tenure: 23 days
is_churn: 0

uid: 29
observe from: 2018-10-17 07:37:11
observe to: 2018-11-14 07:37:11
n_songplay: 1792
song_play_change_perc: -0.133
n_session: 18
total_playlength: 446082
n_addtoplaylist: 50
n_addfriend: 22
n_like: 97
n_dislike: 14
n_adview: 6
n_viewdowngrade: 16
avg_length_per_session: 24782.33
tenure: 37 days
is_churn: 1

uid: 30
observe from: 2018-11-02 23:58:40
observe to: 2018-11-30 23:58:40
n_songplay: 760
song_play_change_perc: 0.3547
n_session: 15
total_playlength: 190310
n_addtoplaylist: 24
n_addfriend: 15
n_like: 29
n_dislike: 13
n_adview: 37
n_viewdowngrade: 3
avg_length_per_session: 12687.33
tenure: 2 days
is_churn: 0

uid: 33
observe from: 2018-10-02 13:48:42
observe to: 2018-10-30 13:48:42
n_songplay: 265
song_play_change_perc: 0
n_session: 4
total_playlength: 66220
n_addtoplaylist: 6
n_addfriend: 7
n_like: 23
n_dislike: 3
n_adview: 0
n_viewdowngrade: 5
avg_length_per_session: 16555.0
tenure: 29 days
is_churn: 0

uid: 33
observe from: 2018-10-16 13:48:42
observe to: 2018-11-13 13:48:42
n_songplay: 664
song_play_change_perc: 1.5057
n_session: 4
total_playlength: 166530
n_addtoplaylist: 15
n_addfriend: 15
n_like: 40
n_dislike: 6
n_adview: 1
n_viewdowngrade: 7
avg_length_per_session: 41632.5
tenure: 43 days
is_churn: 0

uid: 33
observe from: 2018-10-30 13:48:42
observe to: 2018-11-27 13:48:42
n_songplay: 983
song_play_change_perc: 0.4804
n_session: 7
total_playlength: 242097
n_addtoplaylist: 26
n_addfriend: 22
n_like: 55
n_dislike: 6
n_adview: 1
n_viewdowngrade: 11
avg_length_per_session: 34585.29
tenure: 57 days
is_churn: 0

uid: 35
observe from: 2018-10-10 19:46:36
observe to: 2018-11-07 19:46:36
n_songplay: 1086
song_play_change_perc: 0
n_session: 18
total_playlength: 275966
n_addtoplaylist: 40
n_addfriend: 24
n_like: 43
n_dislike: 8
n_adview: 20
n_viewdowngrade: 10
avg_length_per_session: 15331.44
tenure: 13 days
is_churn: 1

uid: 36
observe from: 2018-10-15 18:23:41
observe to: 2018-11-12 18:23:41
n_songplay: 465
song_play_change_perc: 1.2356
n_session: 10
total_playlength: 111673
n_addtoplaylist: 8
n_addfriend: 11
n_like: 23
n_dislike: 5
n_adview: 16
n_viewdowngrade: 0
avg_length_per_session: 11167.3
tenure: 3 days
is_churn: 0

uid: 36
observe from: 2018-10-29 18:23:41
observe to: 2018-11-26 18:23:41
n_songplay: 908
song_play_change_perc: 0.9527
n_session: 10
total_playlength: 221838
n_addtoplaylist: 16
n_addfriend: 27
n_like: 40
n_dislike: 4
n_adview: 10
n_viewdowngrade: 3
avg_length_per_session: 22183.8
tenure: 17 days
is_churn: 0

uid: 37
observe from: 2018-10-17 21:12:05
observe to: 2018-11-14 21:12:05
n_songplay: 716
song_play_change_perc: 0
n_session: 5
total_playlength: 178513
n_addtoplaylist: 17
n_addfriend: 9
n_like: 35
n_dislike: 7
n_adview: 0
n_viewdowngrade: 8
avg_length_per_session: 35702.6
tenure: 29 days
is_churn: 0

uid: 37
observe from: 2018-10-31 21:12:05
observe to: 2018-11-28 21:12:05
n_songplay: 843
song_play_change_perc: 0.1774
n_session: 8
total_playlength: 213885
n_addtoplaylist: 23
n_addfriend: 18
n_like: 47
n_dislike: 5
n_adview: 1
n_viewdowngrade: 5
avg_length_per_session: 26735.62
tenure: 43 days
is_churn: 0

uid: 38
observe from: 2018-10-05 19:33:21
observe to: 2018-11-02 19:33:21
n_songplay: 505
song_play_change_perc: 0
n_session: 8
total_playlength: 120640
n_addtoplaylist: 16
n_addfriend: 12
n_like: 24
n_dislike: 5
n_adview: 2
n_viewdowngrade: 2
avg_length_per_session: 15080.0
tenure: 9 days
is_churn: 0

uid: 38
observe from: 2018-10-19 19:33:21
observe to: 2018-11-16 19:33:21
n_songplay: 741
song_play_change_perc: 0.4673
n_session: 8
total_playlength: 179361
n_addtoplaylist: 18
n_addfriend: 11
n_like: 36
n_dislike: 12
n_adview: 1
n_viewdowngrade: 5
avg_length_per_session: 22420.12
tenure: 23 days
is_churn: 0

uid: 38
observe from: 2018-11-02 19:33:21
observe to: 2018-11-30 19:33:21
n_songplay: 791
song_play_change_perc: 0.0675
n_session: 6
total_playlength: 200465
n_addtoplaylist: 14
n_addfriend: 9
n_like: 41
n_dislike: 16
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 33410.83
tenure: 37 days
is_churn: 0

uid: 39
observe from: 2018-11-02 23:59:15
observe to: 2018-11-30 23:59:15
n_songplay: 2658
song_play_change_perc: -0.4199
n_session: 53
total_playlength: 662147
n_addtoplaylist: 67
n_addfriend: 41
n_like: 123
n_dislike: 26
n_adview: 81
n_viewdowngrade: 21
avg_length_per_session: 12493.34
tenure: 0 days
is_churn: 0

uid: 40
observe from: 2018-10-05 06:03:12
observe to: 2018-11-02 06:03:12
n_songplay: 609
song_play_change_perc: 0
n_session: 11
total_playlength: 146128
n_addtoplaylist: 23
n_addfriend: 16
n_like: 41
n_dislike: 5
n_adview: 12
n_viewdowngrade: 2
avg_length_per_session: 13284.36
tenure: 16 days
is_churn: 0

uid: 40
observe from: 2018-10-19 06:03:12
observe to: 2018-11-16 06:03:12
n_songplay: 723
song_play_change_perc: 0.1872
n_session: 8
total_playlength: 173269
n_addtoplaylist: 24
n_addfriend: 19
n_like: 40
n_dislike: 5
n_adview: 2
n_viewdowngrade: 2
avg_length_per_session: 21658.62
tenure: 30 days
is_churn: 0

uid: 41
observe from: 2018-10-12 21:42:02
observe to: 2018-11-09 21:42:02
n_songplay: 1067
song_play_change_perc: 0
n_session: 6
total_playlength: 267884
n_addtoplaylist: 33
n_addfriend: 18
n_like: 49
n_dislike: 6
n_adview: 0
n_viewdowngrade: 16
avg_length_per_session: 44647.33
tenure: 37 days
is_churn: 0

uid: 41
observe from: 2018-10-26 21:42:02
observe to: 2018-11-23 21:42:02
n_songplay: 1007
song_play_change_perc: -0.0562
n_session: 7
total_playlength: 256636
n_addtoplaylist: 32
n_addfriend: 17
n_like: 40
n_dislike: 5
n_adview: 1
n_viewdowngrade: 8
avg_length_per_session: 36662.29
tenure: 51 days
is_churn: 0

uid: 42
observe from: 2018-10-05 20:43:27
observe to: 2018-11-02 20:43:27
n_songplay: 1555
song_play_change_perc: 0
n_session: 22
total_playlength: 381037
n_addtoplaylist: 53
n_addfriend: 31
n_like: 80
n_dislike: 12
n_adview: 6
n_viewdowngrade: 13
avg_length_per_session: 17319.86
tenure: 26 days
is_churn: 0

uid: 42
observe from: 2018-10-19 20:43:27
observe to: 2018-11-16 20:43:27
n_songplay: 1577
song_play_change_perc: 0.0141
n_session: 18
total_playlength: 387691
n_addtoplaylist: 44
n_addfriend: 22
n_like: 76
n_dislike: 10
n_adview: 0
n_viewdowngrade: 13
avg_length_per_session: 21538.39
tenure: 40 days
is_churn: 0

uid: 42
observe from: 2018-11-02 20:43:27
observe to: 2018-11-30 20:43:27
n_songplay: 1978
song_play_change_perc: 0.2543
n_session: 21
total_playlength: 489246
n_addtoplaylist: 50
n_addfriend: 21
n_like: 84
n_dislike: 12
n_adview: 0
n_viewdowngrade: 24
avg_length_per_session: 23297.43
tenure: 54 days
is_churn: 0

uid: 45
observe from: 2018-10-03 11:15:04
observe to: 2018-10-31 11:15:04
n_songplay: 309
song_play_change_perc: 0
n_session: 8
total_playlength: 75537
n_addtoplaylist: 6
n_addfriend: 4
n_like: 15
n_dislike: 4
n_adview: 9
n_viewdowngrade: 3
avg_length_per_session: 9442.12
tenure: 11 days
is_churn: 0

uid: 45
observe from: 2018-10-17 11:15:04
observe to: 2018-11-14 11:15:04
n_songplay: 595
song_play_change_perc: 0.9256
n_session: 6
total_playlength: 147090
n_addtoplaylist: 22
n_addfriend: 6
n_like: 29
n_dislike: 6
n_adview: 4
n_viewdowngrade: 4
avg_length_per_session: 24515.0
tenure: 25 days
is_churn: 0

uid: 45
observe from: 2018-10-31 11:15:04
observe to: 2018-11-28 11:15:04
n_songplay: 1172
song_play_change_perc: 0.9697
n_session: 7
total_playlength: 290790
n_addtoplaylist: 37
n_addfriend: 18
n_like: 52
n_dislike: 9
n_adview: 4
n_viewdowngrade: 15
avg_length_per_session: 41541.43
tenure: 39 days
is_churn: 0

uid: 46
observe from: 2018-10-15 12:13:37
observe to: 2018-11-12 12:13:37
n_songplay: 597
song_play_change_perc: 0
n_session: 6
total_playlength: 148258
n_addtoplaylist: 22
n_addfriend: 13
n_like: 24
n_dislike: 7
n_adview: 7
n_viewdowngrade: 3
avg_length_per_session: 24709.67
tenure: 15 days
is_churn: 0

uid: 46
observe from: 2018-10-29 12:13:37
observe to: 2018-11-26 12:13:37
n_songplay: 819
song_play_change_perc: 0.3719
n_session: 7
total_playlength: 205062
n_addtoplaylist: 27
n_addfriend: 13
n_like: 41
n_dislike: 11
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 29294.57
tenure: 29 days
is_churn: 0

uid: 49
observe from: 2018-11-02 13:32:45
observe to: 2018-11-30 13:32:45
n_songplay: 280
song_play_change_perc: -0.0698
n_session: 6
total_playlength: 69658
n_addtoplaylist: 5
n_addfriend: 9
n_like: 12
n_dislike: 0
n_adview: 11
n_viewdowngrade: 4
avg_length_per_session: 11609.67
tenure: 0 days
is_churn: 0

uid: 50
observe from: 2018-11-02 11:16:08
observe to: 2018-11-30 11:16:08
n_songplay: 205
song_play_change_perc: -0.0284
n_session: 3
total_playlength: 50172
n_addtoplaylist: 4
n_addfriend: 2
n_like: 12
n_dislike: 0
n_adview: 9
n_viewdowngrade: 2
avg_length_per_session: 16724.0
tenure: 9 days
is_churn: 0

uid: 52
observe from: 2018-10-17 23:31:43
observe to: 2018-11-14 23:31:43
n_songplay: 617
song_play_change_perc: 1.9242
n_session: 5
total_playlength: 152436
n_addtoplaylist: 20
n_addfriend: 30
n_like: 26
n_dislike: 3
n_adview: 8
n_viewdowngrade: 3
avg_length_per_session: 30487.2
tenure: 12 days
is_churn: 0

uid: 52
observe from: 2018-10-31 23:31:43
observe to: 2018-11-28 23:31:43
n_songplay: 853
song_play_change_perc: 0.3825
n_session: 5
total_playlength: 210267
n_addtoplaylist: 29
n_addfriend: 36
n_like: 39
n_dislike: 6
n_adview: 1
n_viewdowngrade: 10
avg_length_per_session: 42053.4
tenure: 26 days
is_churn: 0

uid: 53
observe from: 2018-10-08 12:34:56
observe to: 2018-11-05 12:34:56
n_songplay: 584
song_play_change_perc: 0
n_session: 11
total_playlength: 143459
n_addtoplaylist: 16
n_addfriend: 6
n_like: 21
n_dislike: 6
n_adview: 19
n_viewdowngrade: 4
avg_length_per_session: 13041.73
tenure: 12 days
is_churn: 0

uid: 53
observe from: 2018-10-22 12:34:56
observe to: 2018-11-19 12:34:56
n_songplay: 1405
song_play_change_perc: 1.4058
n_session: 12
total_playlength: 349065
n_addtoplaylist: 34
n_addfriend: 20
n_like: 59
n_dislike: 14
n_adview: 1
n_viewdowngrade: 13
avg_length_per_session: 29088.75
tenure: 26 days
is_churn: 1

uid: 54
observe from: 2018-10-01 19:40:08
observe to: 2018-10-29 19:40:08
n_songplay: 1761
song_play_change_perc: 0
n_session: 23
total_playlength: 437724
n_addtoplaylist: 43
n_addfriend: 22
n_like: 93
n_dislike: 16
n_adview: 46
n_viewdowngrade: 16
avg_length_per_session: 19031.48
tenure: 0 days
is_churn: 0

uid: 54
observe from: 2018-10-15 19:40:08
observe to: 2018-11-12 19:40:08
n_songplay: 1400
song_play_change_perc: -0.205
n_session: 25
total_playlength: 356228
n_addtoplaylist: 33
n_addfriend: 12
n_like: 94
n_dislike: 20
n_adview: 42
n_viewdowngrade: 20
avg_length_per_session: 14249.12
tenure: 14 days
is_churn: 1

uid: 55
observe from: 2018-10-24 23:11:11
observe to: 2018-11-21 23:11:11
n_songplay: 332
song_play_change_perc: 2.1923
n_session: 6
total_playlength: 83215
n_addtoplaylist: 10
n_addfriend: 8
n_like: 15
n_dislike: 4
n_adview: 24
n_viewdowngrade: 0
avg_length_per_session: 13869.17
tenure: 0 days
is_churn: 0

uid: 56
observe from: 2018-10-19 23:58:02
observe to: 2018-11-16 23:58:02
n_songplay: 378
song_play_change_perc: 0
n_session: 10
total_playlength: 93477
n_addtoplaylist: 9
n_addfriend: 10
n_like: 20
n_dislike: 4
n_adview: 8
n_viewdowngrade: 2
avg_length_per_session: 9347.7
tenure: 8 days
is_churn: 0

uid: 56
observe from: 2018-11-02 23:58:02
observe to: 2018-11-30 23:58:02
n_songplay: 446
song_play_change_perc: 0.1799
n_session: 10
total_playlength: 110290
n_addtoplaylist: 10
n_addfriend: 10
n_like: 27
n_dislike: 6
n_adview: 1
n_viewdowngrade: 10
avg_length_per_session: 11029.0
tenure: 22 days
is_churn: 0

uid: 59
observe from: 2018-10-18 06:19:15
observe to: 2018-11-15 06:19:15
n_songplay: 228
song_play_change_perc: -0.0656
n_session: 1
total_playlength: 56833
n_addtoplaylist: 4
n_addfriend: 7
n_like: 12
n_dislike: 2
n_adview: 2
n_viewdowngrade: 1
avg_length_per_session: 56833.0
tenure: 10 days
is_churn: 0

uid: 59
observe from: 2018-11-01 06:19:15
observe to: 2018-11-29 06:19:15
n_songplay: 391
song_play_change_perc: 0.7149
n_session: 2
total_playlength: 97650
n_addtoplaylist: 11
n_addfriend: 13
n_like: 18
n_dislike: 3
n_adview: 2
n_viewdowngrade: 3
avg_length_per_session: 48825.0
tenure: 24 days
is_churn: 0

uid: 60
observe from: 2018-10-15 00:04:37
observe to: 2018-11-12 00:04:37
n_songplay: 936
song_play_change_perc: 0
n_session: 9
total_playlength: 233367
n_addtoplaylist: 32
n_addfriend: 21
n_like: 44
n_dislike: 6
n_adview: 1
n_viewdowngrade: 7
avg_length_per_session: 25929.67
tenure: 32 days
is_churn: 0

uid: 60
observe from: 2018-10-29 00:04:37
observe to: 2018-11-26 00:04:37
n_songplay: 1252
song_play_change_perc: 0.3376
n_session: 12
total_playlength: 313138
n_addtoplaylist: 45
n_addfriend: 11
n_like: 63
n_dislike: 6
n_adview: 1
n_viewdowngrade: 18
avg_length_per_session: 26094.83
tenure: 46 days
is_churn: 0

uid: 61
observe from: 2018-10-17 17:52:52
observe to: 2018-11-14 17:52:52
n_songplay: 160
song_play_change_perc: -0.803
n_session: 6
total_playlength: 39070
n_addtoplaylist: 4
n_addfriend: 7
n_like: 10
n_dislike: 1
n_adview: 16
n_viewdowngrade: 0
avg_length_per_session: 6511.67
tenure: 12 days
is_churn: 0

uid: 61
observe from: 2018-10-31 17:52:52
observe to: 2018-11-28 17:52:52
n_songplay: 657
song_play_change_perc: 3.1062
n_session: 7
total_playlength: 163959
n_addtoplaylist: 24
n_addfriend: 5
n_like: 25
n_dislike: 5
n_adview: 3
n_viewdowngrade: 5
avg_length_per_session: 23422.71
tenure: 26 days
is_churn: 1

uid: 62
observe from: 2018-10-17 06:48:41
observe to: 2018-11-14 06:48:41
n_songplay: 1124
song_play_change_perc: 0
n_session: 5
total_playlength: 278270
n_addtoplaylist: 31
n_addfriend: 23
n_like: 57
n_dislike: 16
n_adview: 1
n_viewdowngrade: 7
avg_length_per_session: 55654.0
tenure: 36 days
is_churn: 0

uid: 62
observe from: 2018-10-31 06:48:41
observe to: 2018-11-28 06:48:41
n_songplay: 843
song_play_change_perc: -0.25
n_session: 5
total_playlength: 209489
n_addtoplaylist: 23
n_addfriend: 21
n_like: 48
n_dislike: 11
n_adview: 0
n_viewdowngrade: 4
avg_length_per_session: 41897.8
tenure: 50 days
is_churn: 0

uid: 65
observe from: 2018-10-04 11:28:45
observe to: 2018-11-01 11:28:45
n_songplay: 601
song_play_change_perc: 0
n_session: 10
total_playlength: 150645
n_addtoplaylist: 18
n_addfriend: 22
n_like: 38
n_dislike: 7
n_adview: 2
n_viewdowngrade: 3
avg_length_per_session: 15064.5
tenure: 25 days
is_churn: 0

uid: 65
observe from: 2018-10-18 11:28:45
observe to: 2018-11-15 11:28:45
n_songplay: 650
song_play_change_perc: 0.0815
n_session: 9
total_playlength: 165513
n_addtoplaylist: 24
n_addfriend: 19
n_like: 37
n_dislike: 9
n_adview: 1
n_viewdowngrade: 5
avg_length_per_session: 18390.33
tenure: 39 days
is_churn: 0

uid: 65
observe from: 2018-11-01 11:28:45
observe to: 2018-11-29 11:28:45
n_songplay: 1455
song_play_change_perc: 1.2385
n_session: 10
total_playlength: 364054
n_addtoplaylist: 47
n_addfriend: 29
n_like: 70
n_dislike: 10
n_adview: 3
n_viewdowngrade: 17
avg_length_per_session: 36405.4
tenure: 53 days
is_churn: 0

uid: 66
observe from: 2018-10-18 10:44:12
observe to: 2018-11-15 10:44:12
n_songplay: 547
song_play_change_perc: 0
n_session: 9
total_playlength: 135936
n_addtoplaylist: 18
n_addfriend: 15
n_like: 23
n_dislike: 5
n_adview: 13
n_viewdowngrade: 6
avg_length_per_session: 15104.0
tenure: 21 days
is_churn: 0

uid: 66
observe from: 2018-11-01 10:44:12
observe to: 2018-11-29 10:44:12
n_songplay: 390
song_play_change_perc: -0.287
n_session: 6
total_playlength: 97166
n_addtoplaylist: 20
n_addfriend: 5
n_like: 23
n_dislike: 3
n_adview: 0
n_viewdowngrade: 4
avg_length_per_session: 16194.33
tenure: 35 days
is_churn: 0

uid: 67
observe from: 2018-10-09 00:55:02
observe to: 2018-11-06 00:55:02
n_songplay: 874
song_play_change_perc: 0
n_session: 7
total_playlength: 215416
n_addtoplaylist: 31
n_addfriend: 10
n_like: 45
n_dislike: 8
n_adview: 10
n_viewdowngrade: 12
avg_length_per_session: 30773.71
tenure: 17 days
is_churn: 0

uid: 67
observe from: 2018-10-23 00:55:02
observe to: 2018-11-20 00:55:02
n_songplay: 701
song_play_change_perc: -0.1979
n_session: 8
total_playlength: 176815
n_addtoplaylist: 27
n_addfriend: 12
n_like: 40
n_dislike: 8
n_adview: 0
n_viewdowngrade: 5
avg_length_per_session: 22101.88
tenure: 31 days
is_churn: 0

uid: 69
observe from: 2018-10-12 17:47:11
observe to: 2018-11-09 17:47:11
n_songplay: 516
song_play_change_perc: 0
n_session: 5
total_playlength: 130884
n_addtoplaylist: 16
n_addfriend: 6
n_like: 34
n_dislike: 6
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 26176.8
tenure: 33 days
is_churn: 0

uid: 69
observe from: 2018-10-26 17:47:11
observe to: 2018-11-23 17:47:11
n_songplay: 485
song_play_change_perc: -0.0601
n_session: 4
total_playlength: 125070
n_addtoplaylist: 16
n_addfriend: 1
n_like: 24
n_dislike: 3
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 31267.5
tenure: 47 days
is_churn: 0

uid: 70
observe from: 2018-10-03 22:34:27
observe to: 2018-10-31 22:34:27
n_songplay: 783
song_play_change_perc: 0
n_session: 10
total_playlength: 195951
n_addtoplaylist: 25
n_addfriend: 17
n_like: 45
n_dislike: 3
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 19595.1
tenure: 28 days
is_churn: 0

uid: 70
observe from: 2018-10-17 22:34:27
observe to: 2018-11-14 22:34:27
n_songplay: 766
song_play_change_perc: -0.0217
n_session: 11
total_playlength: 190325
n_addtoplaylist: 19
n_addfriend: 11
n_like: 53
n_dislike: 7
n_adview: 0
n_viewdowngrade: 9
avg_length_per_session: 17302.27
tenure: 42 days
is_churn: 1

uid: 71
observe from: 2018-10-24 14:50:29
observe to: 2018-11-21 14:50:29
n_songplay: 218
song_play_change_perc: 0
n_session: 3
total_playlength: 54834
n_addtoplaylist: 5
n_addfriend: 9
n_like: 12
n_dislike: 4
n_adview: 1
n_viewdowngrade: 3
avg_length_per_session: 18278.0
tenure: 26 days
is_churn: 0

uid: 74
observe from: 2018-10-18 19:15:26
observe to: 2018-11-15 19:15:26
n_songplay: 1208
song_play_change_perc: 0.5025
n_session: 11
total_playlength: 301082
n_addtoplaylist: 35
n_addfriend: 19
n_like: 75
n_dislike: 11
n_adview: 3
n_viewdowngrade: 17
avg_length_per_session: 27371.09
tenure: 13 days
is_churn: 0

uid: 74
observe from: 2018-11-01 19:15:26
observe to: 2018-11-29 19:15:26
n_songplay: 1576
song_play_change_perc: 0.3046
n_session: 11
total_playlength: 397051
n_addtoplaylist: 56
n_addfriend: 30
n_like: 88
n_dislike: 11
n_adview: 1
n_viewdowngrade: 24
avg_length_per_session: 36095.55
tenure: 27 days
is_churn: 0

uid: 75
observe from: 2018-10-14 14:42:03
observe to: 2018-11-11 14:42:03
n_songplay: 608
song_play_change_perc: 0
n_session: 4
total_playlength: 151080
n_addtoplaylist: 21
n_addfriend: 18
n_like: 35
n_dislike: 4
n_adview: 1
n_viewdowngrade: 4
avg_length_per_session: 37770.0
tenure: 38 days
is_churn: 0

uid: 75
observe from: 2018-10-28 14:42:03
observe to: 2018-11-25 14:42:03
n_songplay: 485
song_play_change_perc: -0.2023
n_session: 4
total_playlength: 120612
n_addtoplaylist: 16
n_addfriend: 19
n_like: 30
n_dislike: 3
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 30153.0
tenure: 52 days
is_churn: 0

uid: 77
observe from: 2018-10-03 02:27:12
observe to: 2018-10-31 02:27:12
n_songplay: 749
song_play_change_perc: 0
n_session: 4
total_playlength: 188535
n_addtoplaylist: 16
n_addfriend: 5
n_like: 33
n_dislike: 3
n_adview: 6
n_viewdowngrade: 6
avg_length_per_session: 47133.75
tenure: 7 days
is_churn: 0

uid: 77
observe from: 2018-10-17 02:27:12
observe to: 2018-11-14 02:27:12
n_songplay: 526
song_play_change_perc: -0.2977
n_session: 3
total_playlength: 133044
n_addtoplaylist: 11
n_addfriend: 4
n_like: 24
n_dislike: 2
n_adview: 6
n_viewdowngrade: 3
avg_length_per_session: 44348.0
tenure: 21 days
is_churn: 0

uid: 77
observe from: 2018-10-31 02:27:12
observe to: 2018-11-28 02:27:12
n_songplay: 258
song_play_change_perc: -0.5095
n_session: 2
total_playlength: 64017
n_addtoplaylist: 7
n_addfriend: 3
n_like: 11
n_dislike: 1
n_adview: 0
n_viewdowngrade: 2
avg_length_per_session: 32008.5
tenure: 35 days
is_churn: 0

uid: 79
observe from: 2018-11-01 11:26:12
observe to: 2018-11-29 11:26:12
n_songplay: 167
song_play_change_perc: 0
n_session: 4
total_playlength: 42451
n_addtoplaylist: 4
n_addfriend: 3
n_like: 6
n_dislike: 2
n_adview: 8
n_viewdowngrade: 2
avg_length_per_session: 10612.75
tenure: 15 days
is_churn: 0

uid: 81
observe from: 2018-10-05 23:56:13
observe to: 2018-11-02 23:56:13
n_songplay: 475
song_play_change_perc: 0
n_session: 7
total_playlength: 119212
n_addtoplaylist: 14
n_addfriend: 5
n_like: 24
n_dislike: 4
n_adview: 3
n_viewdowngrade: 6
avg_length_per_session: 17030.29
tenure: 14 days
is_churn: 0

uid: 81
observe from: 2018-10-19 23:56:13
observe to: 2018-11-16 23:56:13
n_songplay: 843
song_play_change_perc: 0.7747
n_session: 9
total_playlength: 212555
n_addtoplaylist: 22
n_addfriend: 9
n_like: 38
n_dislike: 7
n_adview: 2
n_viewdowngrade: 10
avg_length_per_session: 23617.22
tenure: 28 days
is_churn: 0

uid: 81
observe from: 2018-11-02 23:56:13
observe to: 2018-11-30 23:56:13
n_songplay: 1484
song_play_change_perc: 0.7604
n_session: 11
total_playlength: 374789
n_addtoplaylist: 37
n_addfriend: 18
n_like: 70
n_dislike: 10
n_adview: 4
n_viewdowngrade: 20
avg_length_per_session: 34071.73
tenure: 42 days
is_churn: 0

uid: 82
observe from: 2018-10-17 07:52:38
observe to: 2018-11-14 07:52:38
n_songplay: 868
song_play_change_perc: 1.1754
n_session: 7
total_playlength: 212120
n_addtoplaylist: 29
n_addfriend: 13
n_like: 47
n_dislike: 10
n_adview: 9
n_viewdowngrade: 6
avg_length_per_session: 30302.86
tenure: 9 days
is_churn: 0

uid: 82
observe from: 2018-10-31 07:52:38
observe to: 2018-11-28 07:52:38
n_songplay: 1301
song_play_change_perc: 0.4988
n_session: 8
total_playlength: 324768
n_addtoplaylist: 39
n_addfriend: 20
n_like: 58
n_dislike: 12
n_adview: 1
n_viewdowngrade: 13
avg_length_per_session: 40596.0
tenure: 23 days
is_churn: 0

uid: 83
observe from: 2018-10-18 13:07:07
observe to: 2018-11-15 13:07:07
n_songplay: 674
song_play_change_perc: 0
n_session: 10
total_playlength: 167565
n_addtoplaylist: 15
n_addfriend: 12
n_like: 36
n_dislike: 3
n_adview: 12
n_viewdowngrade: 9
avg_length_per_session: 16756.5
tenure: 10 days
is_churn: 0

uid: 83
observe from: 2018-11-01 13:07:07
observe to: 2018-11-29 13:07:07
n_songplay: 1023
song_play_change_perc: 0.5178
n_session: 18
total_playlength: 254540
n_addtoplaylist: 23
n_addfriend: 15
n_like: 58
n_dislike: 8
n_adview: 5
n_viewdowngrade: 14
avg_length_per_session: 14141.11
tenure: 24 days
is_churn: 0

uid: 85
observe from: 2018-10-05 18:48:50
observe to: 2018-11-02 18:48:50
n_songplay: 1718
song_play_change_perc: 0
n_session: 23
total_playlength: 432474
n_addtoplaylist: 56
n_addfriend: 26
n_like: 104
n_dislike: 23
n_adview: 26
n_viewdowngrade: 16
avg_length_per_session: 18803.22
tenure: 5 days
is_churn: 0

uid: 85
observe from: 2018-10-19 18:48:50
observe to: 2018-11-16 18:48:50
n_songplay: 1722
song_play_change_perc: 0.0023
n_session: 15
total_playlength: 433727
n_addtoplaylist: 51
n_addfriend: 32
n_like: 94
n_dislike: 20
n_adview: 13
n_viewdowngrade: 18
avg_length_per_session: 28915.13
tenure: 19 days
is_churn: 0

uid: 85
observe from: 2018-11-02 18:48:50
observe to: 2018-11-30 18:48:50
n_songplay: 1831
song_play_change_perc: 0.0633
n_session: 14
total_playlength: 459726
n_addtoplaylist: 50
n_addfriend: 32
n_like: 86
n_dislike: 14
n_adview: 1
n_viewdowngrade: 26
avg_length_per_session: 32837.57
tenure: 33 days
is_churn: 0

uid: 86
observe from: 2018-10-17 19:25:02
observe to: 2018-11-14 19:25:02
n_songplay: 221
song_play_change_perc: 10.05
n_session: 5
total_playlength: 55842
n_addtoplaylist: 10
n_addfriend: 11
n_like: 9
n_dislike: 2
n_adview: 7
n_viewdowngrade: 0
avg_length_per_session: 11168.4
tenure: 2 days
is_churn: 0

uid: 86
observe from: 2018-10-31 19:25:02
observe to: 2018-11-28 19:25:02
n_songplay: 602
song_play_change_perc: 1.724
n_session: 7
total_playlength: 148904
n_addtoplaylist: 20
n_addfriend: 17
n_like: 34
n_dislike: 8
n_adview: 6
n_viewdowngrade: 6
avg_length_per_session: 21272.0
tenure: 16 days
is_churn: 0

uid: 88
observe from: 2018-10-01 15:28:25
observe to: 2018-10-29 15:28:25
n_songplay: 613
song_play_change_perc: 0
n_session: 13
total_playlength: 152714
n_addtoplaylist: 13
n_addfriend: 8
n_like: 44
n_dislike: 3
n_adview: 19
n_viewdowngrade: 4
avg_length_per_session: 11747.23
tenure: 6 days
is_churn: 0

uid: 88
observe from: 2018-10-15 15:28:25
observe to: 2018-11-12 15:28:25
n_songplay: 1309
song_play_change_perc: 1.1354
n_session: 11
total_playlength: 330895
n_addtoplaylist: 33
n_addfriend: 22
n_like: 86
n_dislike: 12
n_adview: 6
n_viewdowngrade: 13
avg_length_per_session: 30081.36
tenure: 20 days
is_churn: 0

uid: 88
observe from: 2018-10-29 15:28:25
observe to: 2018-11-26 15:28:25
n_songplay: 1427
song_play_change_perc: 0.0901
n_session: 11
total_playlength: 360326
n_addtoplaylist: 45
n_addfriend: 20
n_like: 78
n_dislike: 17
n_adview: 1
n_viewdowngrade: 14
avg_length_per_session: 32756.91
tenure: 34 days
is_churn: 0

uid: 89
observe from: 2018-10-12 14:12:46
observe to: 2018-11-09 14:12:46
n_songplay: 655
song_play_change_perc: 0
n_session: 4
total_playlength: 162596
n_addtoplaylist: 11
n_addfriend: 14
n_like: 29
n_dislike: 6
n_adview: 11
n_viewdowngrade: 2
avg_length_per_session: 40649.0
tenure: 22 days
is_churn: 0

uid: 91
observe from: 2018-10-17 16:36:51
observe to: 2018-11-14 16:36:51
n_songplay: 1030
song_play_change_perc: 0
n_session: 4
total_playlength: 259704
n_addtoplaylist: 27
n_addfriend: 19
n_like: 45
n_dislike: 9
n_adview: 1
n_viewdowngrade: 4
avg_length_per_session: 64926.0
tenure: 21 days
is_churn: 0

uid: 91
observe from: 2018-10-31 16:36:51
observe to: 2018-11-28 16:36:51
n_songplay: 2184
song_play_change_perc: 1.1204
n_session: 5
total_playlength: 540878
n_addtoplaylist: 58
n_addfriend: 37
n_like: 103
n_dislike: 20
n_adview: 0
n_viewdowngrade: 20
avg_length_per_session: 108175.6
tenure: 35 days
is_churn: 0

uid: 92
observe from: 2018-10-10 08:40:22
observe to: 2018-11-07 08:40:22
n_songplay: 3296
song_play_change_perc: 0
n_session: 32
total_playlength: 826307
n_addtoplaylist: 100
n_addfriend: 54
n_like: 155
n_dislike: 46
n_adview: 2
n_viewdowngrade: 42
avg_length_per_session: 25822.09
tenure: 32 days
is_churn: 0

uid: 92
observe from: 2018-10-24 08:40:22
observe to: 2018-11-21 08:40:22
n_songplay: 3582
song_play_change_perc: 0.0868
n_session: 35
total_playlength: 892427
n_addtoplaylist: 113
n_addfriend: 61
n_like: 168
n_dislike: 48
n_adview: 2
n_viewdowngrade: 49
avg_length_per_session: 25497.91
tenure: 46 days
is_churn: 1

uid: 93
observe from: 2018-11-02 23:43:25
observe to: 2018-11-30 23:43:25
n_songplay: 437
song_play_change_perc: 4.9863
n_session: 9
total_playlength: 107838
n_addtoplaylist: 12
n_addfriend: 9
n_like: 27
n_dislike: 3
n_adview: 27
n_viewdowngrade: 3
avg_length_per_session: 11982.0
tenure: 3 days
is_churn: 0

uid: 96
observe from: 2018-11-02 00:31:19
observe to: 2018-11-30 00:31:19
n_songplay: 1434
song_play_change_perc: 0.7153
n_session: 11
total_playlength: 363107
n_addtoplaylist: 41
n_addfriend: 30
n_like: 74
n_dislike: 17
n_adview: 17
n_viewdowngrade: 16
avg_length_per_session: 33009.73
tenure: 4 days
is_churn: 0

uid: 97
observe from: 2018-10-19 09:37:14
observe to: 2018-11-16 09:37:14
n_songplay: 1070
song_play_change_perc: 0
n_session: 15
total_playlength: 267495
n_addtoplaylist: 41
n_addfriend: 19
n_like: 59
n_dislike: 7
n_adview: 14
n_viewdowngrade: 6
avg_length_per_session: 17833.0
tenure: 18 days
is_churn: 0

uid: 97
observe from: 2018-11-02 09:37:14
observe to: 2018-11-30 09:37:14
n_songplay: 1531
song_play_change_perc: 0.4308
n_session: 14
total_playlength: 380741
n_addtoplaylist: 52
n_addfriend: 26
n_like: 81
n_dislike: 10
n_adview: 1
n_viewdowngrade: 14
avg_length_per_session: 27195.79
tenure: 32 days
is_churn: 0

uid: 98
observe from: 2018-10-05 03:23:49
observe to: 2018-11-02 03:23:49
n_songplay: 476
song_play_change_perc: 0
n_session: 10
total_playlength: 120857
n_addtoplaylist: 17
n_addfriend: 5
n_like: 27
n_dislike: 6
n_adview: 21
n_viewdowngrade: 2
avg_length_per_session: 12085.7
tenure: 8 days
is_churn: 0

uid: 98
observe from: 2018-10-19 03:23:49
observe to: 2018-11-16 03:23:49
n_songplay: 863
song_play_change_perc: 0.813
n_session: 9
total_playlength: 224741
n_addtoplaylist: 24
n_addfriend: 16
n_like: 34
n_dislike: 8
n_adview: 2
n_viewdowngrade: 8
avg_length_per_session: 24971.22
tenure: 22 days
is_churn: 0

uid: 98
observe from: 2018-11-02 03:23:49
observe to: 2018-11-30 03:23:49
n_songplay: 1779
song_play_change_perc: 1.0614
n_session: 13
total_playlength: 454145
n_addtoplaylist: 39
n_addfriend: 38
n_like: 81
n_dislike: 14
n_adview: 1
n_viewdowngrade: 23
avg_length_per_session: 34934.23
tenure: 36 days
is_churn: 0

uid: 99
observe from: 2018-10-16 07:21:17
observe to: 2018-11-13 07:21:17
n_songplay: 67
song_play_change_perc: 0
n_session: 2
total_playlength: 18548
n_addtoplaylist: 0
n_addfriend: 2
n_like: 6
n_dislike: 1
n_adview: 2
n_viewdowngrade: 0
avg_length_per_session: 9274.0
tenure: 9 days
is_churn: 0

uid: 99
observe from: 2018-10-30 07:21:17
observe to: 2018-11-27 07:21:17
n_songplay: 440
song_play_change_perc: 5.5672
n_session: 7
total_playlength: 112130
n_addtoplaylist: 9
n_addfriend: 11
n_like: 26
n_dislike: 3
n_adview: 3
n_viewdowngrade: 2
avg_length_per_session: 16018.57
tenure: 23 days
is_churn: 0

uid: 100
observe from: 2018-10-19 14:15:49
observe to: 2018-11-16 14:15:49
n_songplay: 1398
song_play_change_perc: 0.2146
n_session: 22
total_playlength: 352788
n_addtoplaylist: 36
n_addfriend: 27
n_like: 76
n_dislike: 5
n_adview: 22
n_viewdowngrade: 12
avg_length_per_session: 16035.82
tenure: 2 days
is_churn: 0

uid: 100
observe from: 2018-11-02 14:15:49
observe to: 2018-11-30 14:15:49
n_songplay: 1292
song_play_change_perc: -0.0758
n_session: 17
total_playlength: 324157
n_addtoplaylist: 23
n_addfriend: 22
n_like: 77
n_dislike: 15
n_adview: 24
n_viewdowngrade: 16
avg_length_per_session: 19068.06
tenure: 16 days
is_churn: 0

uid: 104
observe from: 2018-10-16 19:59:30
observe to: 2018-11-13 19:59:30
n_songplay: 1227
song_play_change_perc: 0
n_session: 16
total_playlength: 305212
n_addtoplaylist: 27
n_addfriend: 15
n_like: 58
n_dislike: 10
n_adview: 10
n_viewdowngrade: 17
avg_length_per_session: 19075.75
tenure: 22 days
is_churn: 0

uid: 104
observe from: 2018-10-30 19:59:30
observe to: 2018-11-27 19:59:30
n_songplay: 948
song_play_change_perc: -0.2274
n_session: 12
total_playlength: 239064
n_addtoplaylist: 21
n_addfriend: 12
n_like: 44
n_dislike: 11
n_adview: 2
n_viewdowngrade: 13
avg_length_per_session: 19922.0
tenure: 36 days
is_churn: 0

uid: 108
observe from: 2018-11-02 15:55:40
observe to: 2018-11-30 15:55:40
n_songplay: 531
song_play_change_perc: 0
n_session: 4
total_playlength: 130261
n_addtoplaylist: 12
n_addfriend: 12
n_like: 15
n_dislike: 5
n_adview: 2
n_viewdowngrade: 2
avg_length_per_session: 32565.25
tenure: 23 days
is_churn: 0

uid: 109
observe from: 2018-10-15 17:41:28
observe to: 2018-11-12 17:41:28
n_songplay: 432
song_play_change_perc: 0
n_session: 6
total_playlength: 106316
n_addtoplaylist: 11
n_addfriend: 10
n_like: 17
n_dislike: 4
n_adview: 1
n_viewdowngrade: 7
avg_length_per_session: 17719.33
tenure: 36 days
is_churn: 1

uid: 111
observe from: 2018-10-18 07:34:03
observe to: 2018-11-15 07:34:03
n_songplay: 408
song_play_change_perc: 0
n_session: 3
total_playlength: 100526
n_addtoplaylist: 9
n_addfriend: 10
n_like: 22
n_dislike: 5
n_adview: 2
n_viewdowngrade: 3
avg_length_per_session: 33508.67
tenure: 13 days
is_churn: 0

uid: 111
observe from: 2018-11-01 07:34:03
observe to: 2018-11-29 07:34:03
n_songplay: 632
song_play_change_perc: 0.549
n_session: 3
total_playlength: 156915
n_addtoplaylist: 19
n_addfriend: 17
n_like: 30
n_dislike: 6
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 52305.0
tenure: 27 days
is_churn: 0

uid: 113
observe from: 2018-10-05 16:08:27
observe to: 2018-11-02 16:08:27
n_songplay: 760
song_play_change_perc: 0
n_session: 10
total_playlength: 193157
n_addtoplaylist: 22
n_addfriend: 15
n_like: 32
n_dislike: 3
n_adview: 0
n_viewdowngrade: 12
avg_length_per_session: 19315.7
tenure: 30 days
is_churn: 0

uid: 113
observe from: 2018-10-19 16:08:27
observe to: 2018-11-16 16:08:27
n_songplay: 646
song_play_change_perc: -0.15
n_session: 9
total_playlength: 165169
n_addtoplaylist: 24
n_addfriend: 13
n_like: 34
n_dislike: 5
n_adview: 0
n_viewdowngrade: 9
avg_length_per_session: 18352.11
tenure: 44 days
is_churn: 0

uid: 113
observe from: 2018-11-02 16:08:27
observe to: 2018-11-30 16:08:27
n_songplay: 737
song_play_change_perc: 0.1409
n_session: 12
total_playlength: 184204
n_addtoplaylist: 26
n_addfriend: 12
n_like: 45
n_dislike: 7
n_adview: 0
n_viewdowngrade: 3
avg_length_per_session: 15350.33
tenure: 58 days
is_churn: 0

uid: 114
observe from: 2018-10-12 19:08:11
observe to: 2018-11-09 19:08:11
n_songplay: 523
song_play_change_perc: 0
n_session: 10
total_playlength: 135151
n_addtoplaylist: 15
n_addfriend: 7
n_like: 29
n_dislike: 4
n_adview: 8
n_viewdowngrade: 3
avg_length_per_session: 13515.1
tenure: 16 days
is_churn: 0

uid: 114
observe from: 2018-10-26 19:08:11
observe to: 2018-11-23 19:08:11
n_songplay: 1077
song_play_change_perc: 1.0593
n_session: 11
total_playlength: 274621
n_addtoplaylist: 27
n_addfriend: 10
n_like: 60
n_dislike: 11
n_adview: 1
n_viewdowngrade: 6
avg_length_per_session: 24965.55
tenure: 30 days
is_churn: 0

uid: 115
observe from: 2018-10-03 04:36:02
observe to: 2018-10-31 04:36:02
n_songplay: 1023
song_play_change_perc: 0
n_session: 4
total_playlength: 253349
n_addtoplaylist: 30
n_addfriend: 16
n_like: 56
n_dislike: 15
n_adview: 8
n_viewdowngrade: 15
avg_length_per_session: 63337.25
tenure: 26 days
is_churn: 0

uid: 115
observe from: 2018-10-17 04:36:02
observe to: 2018-11-14 04:36:02
n_songplay: 553
song_play_change_perc: -0.4594
n_session: 6
total_playlength: 138505
n_addtoplaylist: 9
n_addfriend: 12
n_like: 31
n_dislike: 7
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 23084.17
tenure: 40 days
is_churn: 0

uid: 115
observe from: 2018-10-31 04:36:02
observe to: 2018-11-28 04:36:02
n_songplay: 689
song_play_change_perc: 0.2459
n_session: 5
total_playlength: 172056
n_addtoplaylist: 12
n_addfriend: 23
n_like: 35
n_dislike: 9
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 34411.2
tenure: 54 days
is_churn: 0

uid: 118
observe from: 2018-10-02 19:41:12
observe to: 2018-10-30 19:41:12
n_songplay: 1176
song_play_change_perc: 0
n_session: 11
total_playlength: 291930
n_addtoplaylist: 40
n_addfriend: 23
n_like: 63
n_dislike: 11
n_adview: 24
n_viewdowngrade: 13
avg_length_per_session: 26539.09
tenure: 21 days
is_churn: 0

uid: 118
observe from: 2018-10-16 19:41:12
observe to: 2018-11-13 19:41:12
n_songplay: 1310
song_play_change_perc: 0.1139
n_session: 12
total_playlength: 325852
n_addtoplaylist: 28
n_addfriend: 32
n_like: 68
n_dislike: 17
n_adview: 2
n_viewdowngrade: 19
avg_length_per_session: 27154.33
tenure: 35 days
is_churn: 0

uid: 118
observe from: 2018-10-30 19:41:12
observe to: 2018-11-27 19:41:12
n_songplay: 1190
song_play_change_perc: -0.0916
n_session: 13
total_playlength: 296688
n_addtoplaylist: 22
n_addfriend: 29
n_like: 64
n_dislike: 16
n_adview: 1
n_viewdowngrade: 14
avg_length_per_session: 22822.15
tenure: 49 days
is_churn: 0

uid: 120
observe from: 2018-10-05 01:08:23
observe to: 2018-11-02 01:08:23
n_songplay: 1279
song_play_change_perc: 0
n_session: 8
total_playlength: 319349
n_addtoplaylist: 36
n_addfriend: 18
n_like: 71
n_dislike: 9
n_adview: 0
n_viewdowngrade: 16
avg_length_per_session: 39918.62
tenure: 32 days
is_churn: 0

uid: 120
observe from: 2018-10-19 01:08:23
observe to: 2018-11-16 01:08:23
n_songplay: 218
song_play_change_perc: -0.8296
n_session: 5
total_playlength: 53357
n_addtoplaylist: 8
n_addfriend: 5
n_like: 10
n_dislike: 2
n_adview: 0
n_viewdowngrade: 4
avg_length_per_session: 10671.4
tenure: 46 days
is_churn: 0

uid: 120
observe from: 2018-11-02 01:08:23
observe to: 2018-11-30 01:08:23
n_songplay: 270
song_play_change_perc: 0.2385
n_session: 5
total_playlength: 67254
n_addtoplaylist: 8
n_addfriend: 4
n_like: 8
n_dislike: 4
n_adview: 1
n_viewdowngrade: 2
avg_length_per_session: 13450.8
tenure: 60 days
is_churn: 0

uid: 124
observe from: 2018-10-05 15:12:46
observe to: 2018-11-02 15:12:46
n_songplay: 1446
song_play_change_perc: 0
n_session: 11
total_playlength: 355394
n_addtoplaylist: 54
n_addfriend: 23
n_like: 56
n_dislike: 12
n_adview: 3
n_viewdowngrade: 13
avg_length_per_session: 32308.55
tenure: 32 days
is_churn: 0

uid: 124
observe from: 2018-10-19 15:12:46
observe to: 2018-11-16 15:12:46
n_songplay: 2284
song_play_change_perc: 0.5795
n_session: 15
total_playlength: 567011
n_addtoplaylist: 70
n_addfriend: 46
n_like: 102
n_dislike: 25
n_adview: 2
n_viewdowngrade: 21
avg_length_per_session: 37800.73
tenure: 46 days
is_churn: 0

uid: 124
observe from: 2018-11-02 15:12:46
observe to: 2018-11-30 15:12:46
n_songplay: 1854
song_play_change_perc: -0.1883
n_session: 16
total_playlength: 459721
n_addtoplaylist: 45
n_addfriend: 37
n_like: 85
n_dislike: 23
n_adview: 0
n_viewdowngrade: 17
avg_length_per_session: 28732.56
tenure: 60 days
is_churn: 0

uid: 126
observe from: 2018-10-05 15:41:16
observe to: 2018-11-02 15:41:16
n_songplay: 1446
song_play_change_perc: 0
n_session: 15
total_playlength: 360866
n_addtoplaylist: 45
n_addfriend: 14
n_like: 75
n_dislike: 11
n_adview: 30
n_viewdowngrade: 14
avg_length_per_session: 24057.73
tenure: 14 days
is_churn: 0

uid: 126
observe from: 2018-10-19 15:41:16
observe to: 2018-11-16 15:41:16
n_songplay: 1398
song_play_change_perc: -0.0332
n_session: 10
total_playlength: 349283
n_addtoplaylist: 40
n_addfriend: 17
n_like: 73
n_dislike: 9
n_adview: 15
n_viewdowngrade: 16
avg_length_per_session: 34928.3
tenure: 28 days
is_churn: 0

uid: 126
observe from: 2018-11-02 15:41:16
observe to: 2018-11-30 15:41:16
n_songplay: 1099
song_play_change_perc: -0.2139
n_session: 11
total_playlength: 276844
n_addtoplaylist: 26
n_addfriend: 19
n_like: 57
n_dislike: 10
n_adview: 3
n_viewdowngrade: 8
avg_length_per_session: 25167.64
tenure: 42 days
is_churn: 0

uid: 127
observe from: 2018-10-02 20:40:29
observe to: 2018-10-30 20:40:29
n_songplay: 275
song_play_change_perc: 0
n_session: 6
total_playlength: 70094
n_addtoplaylist: 11
n_addfriend: 0
n_like: 13
n_dislike: 4
n_adview: 0
n_viewdowngrade: 3
avg_length_per_session: 11682.33
tenure: 28 days
is_churn: 0

uid: 127
observe from: 2018-10-16 20:40:29
observe to: 2018-11-13 20:40:29
n_songplay: 307
song_play_change_perc: 0.1164
n_session: 3
total_playlength: 79012
n_addtoplaylist: 13
n_addfriend: 2
n_like: 16
n_dislike: 3
n_adview: 0
n_viewdowngrade: 2
avg_length_per_session: 26337.33
tenure: 42 days
is_churn: 0

uid: 127
observe from: 2018-10-30 20:40:29
observe to: 2018-11-27 20:40:29
n_songplay: 1401
song_play_change_perc: 3.5635
n_session: 10
total_playlength: 352175
n_addtoplaylist: 40
n_addfriend: 26
n_like: 73
n_dislike: 10
n_adview: 1
n_viewdowngrade: 13
avg_length_per_session: 35217.5
tenure: 56 days
is_churn: 0

uid: 128
observe from: 2018-10-04 15:49:32
observe to: 2018-11-01 15:49:32
n_songplay: 607
song_play_change_perc: 0
n_session: 9
total_playlength: 149752
n_addtoplaylist: 13
n_addfriend: 16
n_like: 30
n_dislike: 10
n_adview: 7
n_viewdowngrade: 4
avg_length_per_session: 16639.11
tenure: 17 days
is_churn: 0

uid: 128
observe from: 2018-10-18 15:49:32
observe to: 2018-11-15 15:49:32
n_songplay: 707
song_play_change_perc: 0.1647
n_session: 6
total_playlength: 174931
n_addtoplaylist: 17
n_addfriend: 11
n_like: 36
n_dislike: 12
n_adview: 1
n_viewdowngrade: 9
avg_length_per_session: 29155.17
tenure: 31 days
is_churn: 0

uid: 128
observe from: 2018-11-01 15:49:32
observe to: 2018-11-29 15:49:32
n_songplay: 1114
song_play_change_perc: 0.5757
n_session: 8
total_playlength: 277370
n_addtoplaylist: 40
n_addfriend: 12
n_like: 57
n_dislike: 8
n_adview: 1
n_viewdowngrade: 10
avg_length_per_session: 34671.25
tenure: 45 days
is_churn: 0

uid: 131
observe from: 2018-10-08 23:51:37
observe to: 2018-11-05 23:51:37
n_songplay: 1042
song_play_change_perc: 0
n_session: 11
total_playlength: 259808
n_addtoplaylist: 35
n_addfriend: 15
n_like: 51
n_dislike: 14
n_adview: 1
n_viewdowngrade: 10
avg_length_per_session: 23618.91
tenure: 35 days
is_churn: 0

uid: 131
observe from: 2018-10-22 23:51:37
observe to: 2018-11-19 23:51:37
n_songplay: 635
song_play_change_perc: -0.3906
n_session: 6
total_playlength: 157800
n_addtoplaylist: 15
n_addfriend: 10
n_like: 33
n_dislike: 9
n_adview: 0
n_viewdowngrade: 8
avg_length_per_session: 26300.0
tenure: 49 days
is_churn: 1

uid: 132
observe from: 2018-10-10 20:56:12
observe to: 2018-11-07 20:56:12
n_songplay: 995
song_play_change_perc: 0
n_session: 8
total_playlength: 252253
n_addtoplaylist: 15
n_addfriend: 18
n_like: 49
n_dislike: 8
n_adview: 1
n_viewdowngrade: 9
avg_length_per_session: 31531.62
tenure: 36 days
is_churn: 0

uid: 132
observe from: 2018-10-24 20:56:12
observe to: 2018-11-21 20:56:12
n_songplay: 1552
song_play_change_perc: 0.5598
n_session: 11
total_playlength: 388537
n_addtoplaylist: 33
n_addfriend: 34
n_like: 78
n_dislike: 13
n_adview: 2
n_viewdowngrade: 15
avg_length_per_session: 35321.55
tenure: 50 days
is_churn: 0

uid: 136
observe from: 2018-10-05 02:31:16
observe to: 2018-11-02 02:31:16
n_songplay: 1029
song_play_change_perc: 0
n_session: 12
total_playlength: 256830
n_addtoplaylist: 35
n_addfriend: 18
n_like: 60
n_dislike: 8
n_adview: 5
n_viewdowngrade: 10
avg_length_per_session: 21402.5
tenure: 17 days
is_churn: 0

uid: 136
observe from: 2018-10-19 02:31:16
observe to: 2018-11-16 02:31:16
n_songplay: 870
song_play_change_perc: -0.1545
n_session: 11
total_playlength: 217256
n_addtoplaylist: 36
n_addfriend: 20
n_like: 51
n_dislike: 6
n_adview: 0
n_viewdowngrade: 8
avg_length_per_session: 19750.55
tenure: 31 days
is_churn: 0

uid: 136
observe from: 2018-11-02 02:31:16
observe to: 2018-11-30 02:31:16
n_songplay: 1040
song_play_change_perc: 0.1954
n_session: 7
total_playlength: 258966
n_addtoplaylist: 28
n_addfriend: 42
n_like: 50
n_dislike: 6
n_adview: 1
n_viewdowngrade: 11
avg_length_per_session: 36995.14
tenure: 45 days
is_churn: 0

uid: 137
observe from: 2018-10-28 01:20:03
observe to: 2018-11-25 01:20:03
n_songplay: 113
song_play_change_perc: inf
n_session: 1
total_playlength: 27859
n_addtoplaylist: 2
n_addfriend: 7
n_like: 5
n_dislike: 1
n_adview: 7
n_viewdowngrade: 0
avg_length_per_session: 27859.0
tenure: 1 days
is_churn: 0

uid: 138
observe from: 2018-10-05 23:59:25
observe to: 2018-11-02 23:59:25
n_songplay: 1215
song_play_change_perc: 0
n_session: 10
total_playlength: 299400
n_addtoplaylist: 36
n_addfriend: 21
n_like: 55
n_dislike: 11
n_adview: 14
n_viewdowngrade: 13
avg_length_per_session: 29940.0
tenure: 11 days
is_churn: 0

uid: 138
observe from: 2018-10-19 23:59:25
observe to: 2018-11-16 23:59:25
n_songplay: 1158
song_play_change_perc: -0.0469
n_session: 8
total_playlength: 285440
n_addtoplaylist: 34
n_addfriend: 20
n_like: 49
n_dislike: 10
n_adview: 1
n_viewdowngrade: 13
avg_length_per_session: 35680.0
tenure: 25 days
is_churn: 0

uid: 138
observe from: 2018-11-02 23:59:25
observe to: 2018-11-30 23:59:25
n_songplay: 841
song_play_change_perc: -0.2737
n_session: 4
total_playlength: 209611
n_addtoplaylist: 31
n_addfriend: 20
n_like: 40
n_dislike: 13
n_adview: 2
n_viewdowngrade: 8
avg_length_per_session: 52402.75
tenure: 39 days
is_churn: 0

/var/folders/z2/4x1xtsmd40sfmyp2ftrfbkfh0000gn/T/ipykernel_25639/1763077524.py:119: RuntimeWarning: divide by zero encountered in long_scalars
  perc = (end / start) - 1

uid: 140
observe from: 2018-11-02 19:33:12
observe to: 2018-11-30 19:33:12
n_songplay: 2504
song_play_change_perc: -0.2833
n_session: 32
total_playlength: 627511
n_addtoplaylist: 60
n_addfriend: 82
n_like: 118
n_dislike: 30
n_adview: 42
n_viewdowngrade: 27
avg_length_per_session: 19609.72
tenure: 10 days
is_churn: 0

uid: 141
observe from: 2018-10-06 01:29:31
observe to: 2018-11-03 01:29:31
n_songplay: 588
song_play_change_perc: 0
n_session: 7
total_playlength: 146544
n_addtoplaylist: 18
n_addfriend: 11
n_like: 23
n_dislike: 2
n_adview: 11
n_viewdowngrade: 3
avg_length_per_session: 20934.86
tenure: 27 days
is_churn: 0

uid: 141
observe from: 2018-10-20 01:29:31
observe to: 2018-11-17 01:29:31
n_songplay: 355
song_play_change_perc: -0.3963
n_session: 6
total_playlength: 89193
n_addtoplaylist: 13
n_addfriend: 7
n_like: 16
n_dislike: 3
n_adview: 0
n_viewdowngrade: 3
avg_length_per_session: 14865.5
tenure: 41 days
is_churn: 0

uid: 142
observe from: 2018-10-05 19:32:17
observe to: 2018-11-02 19:32:17
n_songplay: 906
song_play_change_perc: 0
n_session: 7
total_playlength: 227377
n_addtoplaylist: 29
n_addfriend: 9
n_like: 46
n_dislike: 9
n_adview: 2
n_viewdowngrade: 12
avg_length_per_session: 32482.43
tenure: 32 days
is_churn: 0

uid: 142
observe from: 2018-10-19 19:32:17
observe to: 2018-11-16 19:32:17
n_songplay: 500
song_play_change_perc: -0.4481
n_session: 7
total_playlength: 124090
n_addtoplaylist: 20
n_addfriend: 13
n_like: 35
n_dislike: 6
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 17727.14
tenure: 46 days
is_churn: 0

uid: 142
observe from: 2018-11-02 19:32:17
observe to: 2018-11-30 19:32:17
n_songplay: 690
song_play_change_perc: 0.38
n_session: 7
total_playlength: 172350
n_addtoplaylist: 17
n_addfriend: 15
n_like: 46
n_dislike: 2
n_adview: 0
n_viewdowngrade: 7
avg_length_per_session: 24621.43
tenure: 60 days
is_churn: 0

uid: 145
observe from: 2018-10-05 23:11:32
observe to: 2018-11-02 23:11:32
n_songplay: 565
song_play_change_perc: 0
n_session: 9
total_playlength: 144495
n_addtoplaylist: 12
n_addfriend: 9
n_like: 31
n_dislike: 3
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 16055.0
tenure: 29 days
is_churn: 0

uid: 145
observe from: 2018-10-19 23:11:32
observe to: 2018-11-16 23:11:32
n_songplay: 311
song_play_change_perc: -0.4496
n_session: 5
total_playlength: 78534
n_addtoplaylist: 9
n_addfriend: 3
n_like: 28
n_dislike: 1
n_adview: 0
n_viewdowngrade: 4
avg_length_per_session: 15706.8
tenure: 43 days
is_churn: 0

uid: 145
observe from: 2018-11-02 23:11:32
observe to: 2018-11-30 23:11:32
n_songplay: 563
song_play_change_perc: 0.8103
n_session: 5
total_playlength: 142201
n_addtoplaylist: 15
n_addfriend: 25
n_like: 30
n_dislike: 5
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 28440.2
tenure: 57 days
is_churn: 0

uid: 147
observe from: 2018-10-18 07:23:24
observe to: 2018-11-15 07:23:24
n_songplay: 161
song_play_change_perc: 0
n_session: 3
total_playlength: 40077
n_addtoplaylist: 4
n_addfriend: 14
n_like: 14
n_dislike: 0
n_adview: 4
n_viewdowngrade: 1
avg_length_per_session: 13359.0
tenure: 2 days
is_churn: 0

uid: 147
observe from: 2018-11-01 07:23:24
observe to: 2018-11-29 07:23:24
n_songplay: 433
song_play_change_perc: 1.6894
n_session: 5
total_playlength: 108362
n_addtoplaylist: 11
n_addfriend: 5
n_like: 18
n_dislike: 2
n_adview: 2
n_viewdowngrade: 6
avg_length_per_session: 21672.4
tenure: 16 days
is_churn: 0

uid: 152
observe from: 2018-11-03 00:00:32
observe to: 2018-12-01 00:00:32
n_songplay: 1366
song_play_change_perc: 0
n_session: 18
total_playlength: 345037
n_addtoplaylist: 41
n_addfriend: 22
n_like: 80
n_dislike: 12
n_adview: 12
n_viewdowngrade: 8
avg_length_per_session: 19168.72
tenure: 15 days
is_churn: 0

uid: 100002
observe from: 2018-10-18 03:45:47
observe to: 2018-11-15 03:45:47
n_songplay: 191
song_play_change_perc: 0
n_session: 2
total_playlength: 48399
n_addtoplaylist: 4
n_addfriend: 1
n_like: 5
n_dislike: 0
n_adview: 3
n_viewdowngrade: 2
avg_length_per_session: 24199.5
tenure: 38 days
is_churn: 0

uid: 100004
observe from: 2018-11-01 02:37:45
observe to: 2018-11-29 02:37:45
n_songplay: 529
song_play_change_perc: 0.3812
n_session: 9
total_playlength: 130538
n_addtoplaylist: 12
n_addfriend: 9
n_like: 21
n_dislike: 8
n_adview: 44
n_viewdowngrade: 2
avg_length_per_session: 14504.22
tenure: 2 days
is_churn: 0

uid: 100007
observe from: 2018-10-04 11:45:09
observe to: 2018-11-01 11:45:09
n_songplay: 110
song_play_change_perc: 0
n_session: 4
total_playlength: 28269
n_addtoplaylist: 2
n_addfriend: 2
n_like: 4
n_dislike: 1
n_adview: 1
n_viewdowngrade: 2
avg_length_per_session: 7067.25
tenure: 30 days
is_churn: 0

uid: 100007
observe from: 2018-10-18 11:45:09
observe to: 2018-11-15 11:45:09
n_songplay: 96
song_play_change_perc: -0.1273
n_session: 5
total_playlength: 24245
n_addtoplaylist: 1
n_addfriend: 2
n_like: 4
n_dislike: 0
n_adview: 2
n_viewdowngrade: 2
avg_length_per_session: 4849.0
tenure: 44 days
is_churn: 0

uid: 100007
observe from: 2018-11-01 11:45:09
observe to: 2018-11-29 11:45:09
n_songplay: 201
song_play_change_perc: 1.0938
n_session: 4
total_playlength: 49934
n_addtoplaylist: 4
n_addfriend: 11
n_like: 11
n_dislike: 2
n_adview: 3
n_viewdowngrade: 2
avg_length_per_session: 12483.5
tenure: 58 days
is_churn: 1

uid: 100008
observe from: 2018-10-09 21:21:41
observe to: 2018-11-06 21:21:41
n_songplay: 226
song_play_change_perc: 0
n_session: 3
total_playlength: 55483
n_addtoplaylist: 14
n_addfriend: 5
n_like: 8
n_dislike: 4
n_adview: 1
n_viewdowngrade: 4
avg_length_per_session: 18494.33
tenure: 28 days
is_churn: 0

uid: 100008
observe from: 2018-10-23 21:21:41
observe to: 2018-11-20 21:21:41
n_songplay: 474
song_play_change_perc: 1.0973
n_session: 1
total_playlength: 118382
n_addtoplaylist: 16
n_addfriend: 10
n_like: 27
n_dislike: 2
n_adview: 10
n_viewdowngrade: 6
avg_length_per_session: 118382.0
tenure: 42 days
is_churn: 1

uid: 100014
observe from: 2018-10-23 19:04:09
observe to: 2018-11-20 19:04:09
n_songplay: 62
song_play_change_perc: 0
n_session: 2
total_playlength: 14977
n_addtoplaylist: 2
n_addfriend: 1
n_like: 5
n_dislike: 1
n_adview: 0
n_viewdowngrade: 2
avg_length_per_session: 7488.5
tenure: 41 days
is_churn: 1

uid: 100015
observe from: 2018-10-13 15:35:53
observe to: 2018-11-10 15:35:53
n_songplay: 386
song_play_change_perc: 0
n_session: 7
total_playlength: 94521
n_addtoplaylist: 9
n_addfriend: 6
n_like: 16
n_dislike: 4
n_adview: 22
n_viewdowngrade: 3
avg_length_per_session: 13503.0
tenure: 8 days
is_churn: 0

uid: 100015
observe from: 2018-10-27 15:35:53
observe to: 2018-11-24 15:35:53
n_songplay: 228
song_play_change_perc: -0.4093
n_session: 4
total_playlength: 54649
n_addtoplaylist: 5
n_addfriend: 1
n_like: 12
n_dislike: 1
n_adview: 6
n_viewdowngrade: 4
avg_length_per_session: 13662.25
tenure: 22 days
is_churn: 1

uid: 100016
observe from: 2018-10-12 16:10:12
observe to: 2018-11-09 16:10:12
n_songplay: 298
song_play_change_perc: 0
n_session: 3
total_playlength: 72074
n_addtoplaylist: 4
n_addfriend: 8
n_like: 10
n_dislike: 3
n_adview: 5
n_viewdowngrade: 4
avg_length_per_session: 24024.67
tenure: 39 days
is_churn: 0

uid: 100016
observe from: 2018-10-26 16:10:12
observe to: 2018-11-23 16:10:12
n_songplay: 356
song_play_change_perc: 0.1946
n_session: 3
total_playlength: 87107
n_addtoplaylist: 5
n_addfriend: 7
n_like: 15
n_dislike: 3
n_adview: 5
n_viewdowngrade: 6
avg_length_per_session: 29035.67
tenure: 53 days
is_churn: 1

uid: 100018
observe from: 2018-10-15 16:31:18
observe to: 2018-11-12 16:31:18
n_songplay: 364
song_play_change_perc: 0
n_session: 13
total_playlength: 90080
n_addtoplaylist: 16
n_addfriend: 11
n_like: 22
n_dislike: 2
n_adview: 4
n_viewdowngrade: 2
avg_length_per_session: 6929.23
tenure: 23 days
is_churn: 0

uid: 100018
observe from: 2018-10-29 16:31:18
observe to: 2018-11-26 16:31:18
n_songplay: 465
song_play_change_perc: 0.2775
n_session: 10
total_playlength: 113401
n_addtoplaylist: 15
n_addfriend: 11
n_like: 19
n_dislike: 4
n_adview: 4
n_viewdowngrade: 5
avg_length_per_session: 11340.1
tenure: 37 days
is_churn: 1

uid: 200002
observe from: 2018-10-04 23:25:54
observe to: 2018-11-01 23:25:54
n_songplay: 243
song_play_change_perc: 0
n_session: 3
total_playlength: 58949
n_addtoplaylist: 5
n_addfriend: 2
n_like: 13
n_dislike: 6
n_adview: 4
n_viewdowngrade: 3
avg_length_per_session: 19649.67
tenure: 14 days
is_churn: 0

uid: 200002
observe from: 2018-10-18 23:25:54
observe to: 2018-11-15 23:25:54
n_songplay: 212
song_play_change_perc: -0.1276
n_session: 2
total_playlength: 51537
n_addtoplaylist: 3
n_addfriend: 0
n_like: 10
n_dislike: 2
n_adview: 0
n_viewdowngrade: 2
avg_length_per_session: 25768.5
tenure: 28 days
is_churn: 0

uid: 200003
observe from: 2018-10-09 13:44:29
observe to: 2018-11-06 13:44:29
n_songplay: 213
song_play_change_perc: 0
n_session: 4
total_playlength: 52584
n_addtoplaylist: 4
n_addfriend: 4
n_like: 11
n_dislike: 7
n_adview: 7
n_viewdowngrade: 4
avg_length_per_session: 13146.0
tenure: 4 days
is_churn: 1

uid: 200004
observe from: 2018-10-16 14:04:22
observe to: 2018-11-13 14:04:22
n_songplay: 887
song_play_change_perc: 0
n_session: 12
total_playlength: 219775
n_addtoplaylist: 34
n_addfriend: 8
n_like: 45
n_dislike: 31
n_adview: 0
n_viewdowngrade: 14
avg_length_per_session: 18314.58
tenure: 41 days
is_churn: 0

uid: 200004
observe from: 2018-10-30 14:04:22
observe to: 2018-11-27 14:04:22
n_songplay: 845
song_play_change_perc: -0.0474
n_session: 14
total_playlength: 208727
n_addtoplaylist: 34
n_addfriend: 11
n_like: 37
n_dislike: 22
n_adview: 0
n_viewdowngrade: 15
avg_length_per_session: 14909.07
tenure: 55 days
is_churn: 0

uid: 200007
observe from: 2018-10-21 23:55:06
observe to: 2018-11-18 23:55:06
n_songplay: 65
song_play_change_perc: 0
n_session: 2
total_playlength: 15740
n_addtoplaylist: 0
n_addfriend: 1
n_like: 2
n_dislike: 0
n_adview: 0
n_viewdowngrade: 0
avg_length_per_session: 7870.0
tenure: 30 days
is_churn: 0

uid: 200008
observe from: 2018-10-06 00:02:59
observe to: 2018-11-03 00:02:59
n_songplay: 329
song_play_change_perc: 0
n_session: 4
total_playlength: 79096
n_addtoplaylist: 9
n_addfriend: 2
n_like: 15
n_dislike: 10
n_adview: 0
n_viewdowngrade: 9
avg_length_per_session: 19774.0
tenure: 30 days
is_churn: 0

uid: 200008
observe from: 2018-10-20 00:02:59
observe to: 2018-11-17 00:02:59
n_songplay: 895
song_play_change_perc: 1.7204
n_session: 6
total_playlength: 220056
n_addtoplaylist: 23
n_addfriend: 14
n_like: 32
n_dislike: 25
n_adview: 1
n_viewdowngrade: 6
avg_length_per_session: 36676.0
tenure: 44 days
is_churn: 0

uid: 200008
observe from: 2018-11-03 00:02:59
observe to: 2018-12-01 00:02:59
n_songplay: 1322
song_play_change_perc: 0.4771
n_session: 10
total_playlength: 326556
n_addtoplaylist: 36
n_addfriend: 25
n_like: 52
n_dislike: 42
n_adview: 1
n_viewdowngrade: 15
avg_length_per_session: 32655.6
tenure: 58 days
is_churn: 0

uid: 200014
observe from: 2018-10-31 20:13:43
observe to: 2018-11-28 20:13:43
n_songplay: 605
song_play_change_perc: 1.2
n_session: 5
total_playlength: 153088
n_addtoplaylist: 19
n_addfriend: 16
n_like: 33
n_dislike: 20
n_adview: 36
n_viewdowngrade: 0
avg_length_per_session: 30617.6
tenure: 0 days
is_churn: 0

uid: 200017
observe from: 2018-10-04 20:16:43
observe to: 2018-11-01 20:16:43
n_songplay: 186
song_play_change_perc: 0
n_session: 9
total_playlength: 46817
n_addtoplaylist: 4
n_addfriend: 4
n_like: 14
n_dislike: 8
n_adview: 6
n_viewdowngrade: 1
avg_length_per_session: 5201.89
tenure: 2 days
is_churn: 0

uid: 200017
observe from: 2018-10-18 20:16:43
observe to: 2018-11-15 20:16:43
n_songplay: 380
song_play_change_perc: 1.043
n_session: 6
total_playlength: 95419
n_addtoplaylist: 7
n_addfriend: 5
n_like: 22
n_dislike: 11
n_adview: 4
n_viewdowngrade: 4
avg_length_per_session: 15903.17
tenure: 16 days
is_churn: 1

uid: 200023
observe from: 2018-11-02 22:35:49
observe to: 2018-11-30 22:35:49
n_songplay: 1458
song_play_change_perc: -0.119
n_session: 36
total_playlength: 363717
n_addtoplaylist: 31
n_addfriend: 40
n_like: 74
n_dislike: 31
n_adview: 74
n_viewdowngrade: 13
avg_length_per_session: 10103.25
tenure: 0 days
is_churn: 0

uid: 200025
observe from: 2018-10-24 12:51:23
observe to: 2018-11-21 12:51:23
n_songplay: 528
song_play_change_perc: 0
n_session: 9
total_playlength: 128950
n_addtoplaylist: 14
n_addfriend: 19
n_like: 30
n_dislike: 19
n_adview: 24
n_viewdowngrade: 7
avg_length_per_session: 14327.78
tenure: 16 days
is_churn: 0

uid: 300001
observe from: 2018-10-12 21:42:24
observe to: 2018-11-09 21:42:24
n_songplay: 553
song_play_change_perc: 0
n_session: 7
total_playlength: 134779
n_addtoplaylist: 17
n_addfriend: 10
n_like: 42
n_dislike: 4
n_adview: 1
n_viewdowngrade: 2
avg_length_per_session: 19254.14
tenure: 39 days
is_churn: 0

uid: 300001
observe from: 2018-10-26 21:42:24
observe to: 2018-11-23 21:42:24
n_songplay: 932
song_play_change_perc: 0.6854
n_session: 8
total_playlength: 228543
n_addtoplaylist: 37
n_addfriend: 17
n_like: 80
n_dislike: 12
n_adview: 0
n_viewdowngrade: 3
avg_length_per_session: 28567.88
tenure: 53 days
is_churn: 1

uid: 300002
observe from: 2018-10-16 16:37:51
observe to: 2018-11-13 16:37:51
n_songplay: 891
song_play_change_perc: 0
n_session: 9
total_playlength: 221501
n_addtoplaylist: 31
n_addfriend: 18
n_like: 79
n_dislike: 6
n_adview: 3
n_viewdowngrade: 7
avg_length_per_session: 24611.22
tenure: 21 days
is_churn: 0

uid: 300002
observe from: 2018-10-30 16:37:51
observe to: 2018-11-27 16:37:51
n_songplay: 1049
song_play_change_perc: 0.1773
n_session: 7
total_playlength: 264026
n_addtoplaylist: 39
n_addfriend: 14
n_like: 81
n_dislike: 9
n_adview: 0
n_viewdowngrade: 4
avg_length_per_session: 37718.0
tenure: 35 days
is_churn: 0

uid: 300004
observe from: 2018-10-17 19:49:26
observe to: 2018-11-14 19:49:26
n_songplay: 105
song_play_change_perc: 0
n_session: 2
total_playlength: 25910
n_addtoplaylist: 2
n_addfriend: 1
n_like: 9
n_dislike: 1
n_adview: 0
n_viewdowngrade: 1
avg_length_per_session: 12955.0
tenure: 29 days
is_churn: 1

uid: 300005
observe from: 2018-10-05 04:14:36
observe to: 2018-11-02 04:14:36
n_songplay: 235
song_play_change_perc: 0
n_session: 4
total_playlength: 57369
n_addtoplaylist: 7
n_addfriend: 7
n_like: 25
n_dislike: 3
n_adview: 0
n_viewdowngrade: 0
avg_length_per_session: 14342.25
tenure: 28 days
is_churn: 0

uid: 300005
observe from: 2018-10-19 04:14:36
observe to: 2018-11-16 04:14:36
n_songplay: 47
song_play_change_perc: -0.8
n_session: 3
total_playlength: 10532
n_addtoplaylist: 1
n_addfriend: 2
n_like: 6
n_dislike: 1
n_adview: 0
n_viewdowngrade: 0
avg_length_per_session: 3510.67
tenure: 42 days
is_churn: 0

uid: 300006
observe from: 2018-10-27 22:07:42
observe to: 2018-11-24 22:07:42
n_songplay: 179
song_play_change_perc: 1.1566
n_session: 2
total_playlength: 43154
n_addtoplaylist: 4
n_addfriend: 13
n_like: 10
n_dislike: 3
n_adview: 4
n_viewdowngrade: 2
avg_length_per_session: 21577.0
tenure: 0 days
is_churn: 0

uid: 300008
observe from: 2018-10-04 08:26:51
observe to: 2018-11-01 08:26:51
n_songplay: 489
song_play_change_perc: 0
n_session: 10
total_playlength: 119698
n_addtoplaylist: 15
n_addfriend: 4
n_like: 34
n_dislike: 4
n_adview: 0
n_viewdowngrade: 1
avg_length_per_session: 11969.8
tenure: 30 days
is_churn: 0

uid: 300008
observe from: 2018-10-18 08:26:51
observe to: 2018-11-15 08:26:51
n_songplay: 540
song_play_change_perc: 0.1043
n_session: 7
total_playlength: 137002
n_addtoplaylist: 19
n_addfriend: 15
n_like: 47
n_dislike: 9
n_adview: 0
n_viewdowngrade: 0
avg_length_per_session: 19571.71
tenure: 44 days
is_churn: 0

uid: 300008
observe from: 2018-11-01 08:26:51
observe to: 2018-11-29 08:26:51
n_songplay: 602
song_play_change_perc: 0.1148
n_session: 7
total_playlength: 152198
n_addtoplaylist: 19
n_addfriend: 16
n_like: 49
n_dislike: 9
n_adview: 0
n_viewdowngrade: 1
avg_length_per_session: 21742.57
tenure: 58 days
is_churn: 0

uid: 300009
observe from: 2018-10-05 19:17:37
observe to: 2018-11-02 19:17:37
n_songplay: 1119
song_play_change_perc: 0
n_session: 9
total_playlength: 278440
n_addtoplaylist: 35
n_addfriend: 15
n_like: 100
n_dislike: 9
n_adview: 0
n_viewdowngrade: 6
avg_length_per_session: 30937.78
tenure: 30 days
is_churn: 0

uid: 300009
observe from: 2018-10-19 19:17:37
observe to: 2018-11-16 19:17:37
n_songplay: 661
song_play_change_perc: -0.4093
n_session: 8
total_playlength: 166517
n_addtoplaylist: 22
n_addfriend: 5
n_like: 61
n_dislike: 6
n_adview: 0
n_viewdowngrade: 2
avg_length_per_session: 20814.62
tenure: 44 days
is_churn: 0

uid: 300009
observe from: 2018-11-02 19:17:37
observe to: 2018-11-30 19:17:37
n_songplay: 234
song_play_change_perc: -0.646
n_session: 7
total_playlength: 59954
n_addtoplaylist: 8
n_addfriend: 2
n_like: 24
n_dislike: 3
n_adview: 0
n_viewdowngrade: 1
avg_length_per_session: 8564.86
tenure: 58 days
is_churn: 0

uid: 300011
observe from: 2018-10-20 00:00:11
observe to: 2018-11-17 00:00:11
n_songplay: 2418
song_play_change_perc: 0.1531
n_session: 38
total_playlength: 606030
n_addtoplaylist: 80
n_addfriend: 49
n_like: 223
n_dislike: 17
n_adview: 13
n_viewdowngrade: 19
avg_length_per_session: 15948.16
tenure: 1 days
is_churn: 0

uid: 300011
observe from: 2018-11-03 00:00:11
observe to: 2018-12-01 00:00:11
n_songplay: 1875
song_play_change_perc: -0.2246
n_session: 30
total_playlength: 472441
n_addtoplaylist: 50
n_addfriend: 30
n_like: 169
n_dislike: 14
n_adview: 13
n_viewdowngrade: 16
avg_length_per_session: 15748.03
tenure: 15 days
is_churn: 0

uid: 300012
observe from: 2018-10-15 21:11:47
observe to: 2018-11-12 21:11:47
n_songplay: 215
song_play_change_perc: 0
n_session: 3
total_playlength: 53788
n_addtoplaylist: 5
n_addfriend: 2
n_like: 19
n_dislike: 3
n_adview: 0
n_viewdowngrade: 1
avg_length_per_session: 17929.33
tenure: 38 days
is_churn: 0

uid: 300012
observe from: 2018-10-29 21:11:47
observe to: 2018-11-26 21:11:47
n_songplay: 585
song_play_change_perc: 1.7209
n_session: 4
total_playlength: 145571
n_addtoplaylist: 11
n_addfriend: 14
n_like: 50
n_dislike: 6
n_adview: 1
n_viewdowngrade: 3
avg_length_per_session: 36392.75
tenure: 52 days
is_churn: 0

uid: 300013
observe from: 2018-10-14 13:06:23
observe to: 2018-11-11 13:06:23
n_songplay: 12
song_play_change_perc: 0
n_session: 1
total_playlength: 3112
n_addtoplaylist: 0
n_addfriend: 0
n_like: 1
n_dislike: 0
n_adview: 0
n_viewdowngrade: 0
avg_length_per_session: 3112.0
tenure: 34 days
is_churn: 0

uid: 300013
observe from: 2018-10-28 13:06:23
observe to: 2018-11-25 13:06:23
n_songplay: 250
song_play_change_perc: 19.8333
n_session: 3
total_playlength: 63163
n_addtoplaylist: 5
n_addfriend: 1
n_like: 28
n_dislike: 1
n_adview: 0
n_viewdowngrade: 3
avg_length_per_session: 21054.33
tenure: 48 days
is_churn: 0

uid: 300014
observe from: 2018-10-18 17:15:37
observe to: 2018-11-15 17:15:37
n_songplay: 167
song_play_change_perc: 0
n_session: 5
total_playlength: 42660
n_addtoplaylist: 6
n_addfriend: 1
n_like: 11
n_dislike: 8
n_adview: 0
n_viewdowngrade: 1
avg_length_per_session: 8532.0
tenure: 40 days
is_churn: 0

uid: 300015
observe from: 2018-10-05 16:53:06
observe to: 2018-11-02 16:53:06
n_songplay: 1342
song_play_change_perc: 0
n_session: 17
total_playlength: 327971
n_addtoplaylist: 36
n_addfriend: 25
n_like: 89
n_dislike: 7
n_adview: 4
n_viewdowngrade: 15
avg_length_per_session: 19292.41
tenure: 24 days
is_churn: 0

uid: 300015
observe from: 2018-10-19 16:53:06
observe to: 2018-11-16 16:53:06
n_songplay: 1447
song_play_change_perc: 0.0782
n_session: 18
total_playlength: 351013
n_addtoplaylist: 42
n_addfriend: 27
n_like: 102
n_dislike: 11
n_adview: 0
n_viewdowngrade: 12
avg_length_per_session: 19500.72
tenure: 38 days
is_churn: 0

uid: 300015
observe from: 2018-11-02 16:53:06
observe to: 2018-11-30 16:53:06
n_songplay: 1039
song_play_change_perc: -0.282
n_session: 14
total_playlength: 255045
n_addtoplaylist: 27
n_addfriend: 21
n_like: 91
n_dislike: 9
n_adview: 0
n_viewdowngrade: 7
avg_length_per_session: 18217.5
tenure: 52 days
is_churn: 0

uid: 300016
observe from: 2018-10-16 15:51:32
observe to: 2018-11-13 15:51:32
n_songplay: 174
song_play_change_perc: 0
n_session: 4
total_playlength: 43292
n_addtoplaylist: 8
n_addfriend: 0
n_like: 17
n_dislike: 1
n_adview: 0
n_viewdowngrade: 1
avg_length_per_session: 10823.0
tenure: 38 days
is_churn: 0

uid: 300016
observe from: 2018-10-30 15:51:32
observe to: 2018-11-27 15:51:32
n_songplay: 390
song_play_change_perc: 1.2414
n_session: 8
total_playlength: 98882
n_addtoplaylist: 21
n_addfriend: 7
n_like: 36
n_dislike: 1
n_adview: 0
n_viewdowngrade: 5
avg_length_per_session: 12360.25
tenure: 52 days
is_churn: 0

uid: 300017
observe from: 2018-10-04 15:58:07
observe to: 2018-11-01 15:58:07
n_songplay: 1614
song_play_change_perc: 0
n_session: 30
total_playlength: 397148
n_addtoplaylist: 57
n_addfriend: 29
n_like: 127
n_dislike: 15
n_adview: 7
n_viewdowngrade: 11
avg_length_per_session: 13238.27
tenure: 31 days
is_churn: 0

uid: 300017
observe from: 2018-10-18 15:58:07
observe to: 2018-11-15 15:58:07
n_songplay: 1703
song_play_change_perc: 0.0551
n_session: 28
total_playlength: 422525
n_addtoplaylist: 53
n_addfriend: 25
n_like: 141
n_dislike: 16
n_adview: 6
n_viewdowngrade: 10
avg_length_per_session: 15090.18
tenure: 45 days
is_churn: 0

uid: 300017
observe from: 2018-11-01 15:58:07
observe to: 2018-11-29 15:58:07
n_songplay: 1631
song_play_change_perc: -0.0423
n_session: 29
total_playlength: 405892
n_addtoplaylist: 47
n_addfriend: 31
n_like: 139
n_dislike: 10
n_adview: 3
n_viewdowngrade: 8
avg_length_per_session: 13996.28
tenure: 59 days
is_churn: 0

uid: 300018
observe from: 2018-10-19 21:39:16
observe to: 2018-11-16 21:39:16
n_songplay: 1123
song_play_change_perc: 0
n_session: 13
total_playlength: 285220
n_addtoplaylist: 42
n_addfriend: 25
n_like: 88
n_dislike: 16
n_adview: 1
n_viewdowngrade: 7
avg_length_per_session: 21940.0
tenure: 32 days
is_churn: 0

uid: 300018
observe from: 2018-11-02 21:39:16
observe to: 2018-11-30 21:39:16
n_songplay: 1098
song_play_change_perc: -0.0223
n_session: 17
total_playlength: 274470
n_addtoplaylist: 35
n_addfriend: 17
n_like: 97
n_dislike: 18
n_adview: 1
n_viewdowngrade: 5
avg_length_per_session: 16145.29
tenure: 46 days
is_churn: 0

uid: 300019
observe from: 2018-10-18 05:31:30
observe to: 2018-11-15 05:31:30
n_songplay: 604
song_play_change_perc: 0
n_session: 6
total_playlength: 150790
n_addtoplaylist: 17
n_addfriend: 12
n_like: 68
n_dislike: 7
n_adview: 0
n_viewdowngrade: 0
avg_length_per_session: 25131.67
tenure: 40 days
is_churn: 0

uid: 300019
observe from: 2018-11-01 05:31:30
observe to: 2018-11-29 05:31:30
n_songplay: 257
song_play_change_perc: -0.5745
n_session: 3
total_playlength: 64208
n_addtoplaylist: 8
n_addfriend: 4
n_like: 24
n_dislike: 4
n_adview: 0
n_viewdowngrade: 0
avg_length_per_session: 21402.67
tenure: 54 days
is_churn: 0

uid: 300020
observe from: 2018-10-16 14:15:34
observe to: 2018-11-13 14:15:34
n_songplay: 217
song_play_change_perc: 0
n_session: 2
total_playlength: 53567
n_addtoplaylist: 10
n_addfriend: 8
n_like: 15
n_dislike: 1
n_adview: 0
n_viewdowngrade: 1
avg_length_per_session: 26783.5
tenure: 36 days
is_churn: 0

uid: 300021
observe from: 2018-10-05 20:28:03
observe to: 2018-11-02 20:28:03
n_songplay: 2197
song_play_change_perc: 0
n_session: 24
total_playlength: 542881
n_addtoplaylist: 60
n_addfriend: 47
n_like: 199
n_dislike: 21
n_adview: 5
n_viewdowngrade: 10
avg_length_per_session: 22620.04
tenure: 19 days
is_churn: 0

uid: 300021
observe from: 2018-10-19 20:28:03
observe to: 2018-11-16 20:28:03
n_songplay: 1963
song_play_change_perc: -0.1065
n_session: 23
total_playlength: 487671
n_addtoplaylist: 58
n_addfriend: 38
n_like: 162
n_dislike: 19
n_adview: 2
n_viewdowngrade: 7
avg_length_per_session: 21203.09
tenure: 33 days
is_churn: 0

uid: 300021
observe from: 2018-11-02 20:28:03
observe to: 2018-11-30 20:28:03
n_songplay: 1352
song_play_change_perc: -0.3113
n_session: 27
total_playlength: 332635
n_addtoplaylist: 39
n_addfriend: 32
n_like: 113
n_dislike: 12
n_adview: 0
n_viewdowngrade: 5
avg_length_per_session: 12319.81
tenure: 47 days
is_churn: 0

uid: 300022
observe from: 2018-10-16 17:28:28
observe to: 2018-11-13 17:28:28
n_songplay: 110
song_play_change_perc: 0
n_session: 4
total_playlength: 27213
n_addtoplaylist: 2
n_addfriend: 3
n_like: 7
n_dislike: 3
n_adview: 0
n_viewdowngrade: 0
avg_length_per_session: 6803.25
tenure: 36 days
is_churn: 0

uid: 300022
observe from: 2018-10-30 17:28:28
observe to: 2018-11-27 17:28:28
n_songplay: 165
song_play_change_perc: 0.5
n_session: 8
total_playlength: 41985
n_addtoplaylist: 5
n_addfriend: 3
n_like: 10
n_dislike: 2
n_adview: 0
n_viewdowngrade: 0
avg_length_per_session: 5248.12
tenure: 50 days
is_churn: 0

uid: 300023
observe from: 2018-11-01 17:49:21
observe to: 2018-11-29 17:49:21
n_songplay: 756
song_play_change_perc: 0.0957
n_session: 13
total_playlength: 188982
n_addtoplaylist: 24
n_addfriend: 10
n_like: 68
n_dislike: 10
n_adview: 1
n_viewdowngrade: 7
avg_length_per_session: 14537.08
tenure: 0 days
is_churn: 0

uid: 300025
observe from: 2018-10-05 07:12:50
observe to: 2018-11-02 07:12:50
n_songplay: 827
song_play_change_perc: 0
n_session: 9
total_playlength: 205667
n_addtoplaylist: 29
n_addfriend: 13
n_like: 94
n_dislike: 6
n_adview: 1
n_viewdowngrade: 5
avg_length_per_session: 22851.89
tenure: 24 days
is_churn: 0

uid: 300025
observe from: 2018-10-19 07:12:50
observe to: 2018-11-16 07:12:50
n_songplay: 390
song_play_change_perc: -0.5284
n_session: 7
total_playlength: 95547
n_addtoplaylist: 11
n_addfriend: 3
n_like: 47
n_dislike: 4
n_adview: 0
n_viewdowngrade: 2
avg_length_per_session: 13649.57
tenure: 38 days
is_churn: 0

uid: 300025
observe from: 2018-11-02 07:12:50
observe to: 2018-11-30 07:12:50
n_songplay: 466
song_play_change_perc: 0.1949
n_session: 6
total_playlength: 111448
n_addtoplaylist: 13
n_addfriend: 4
n_like: 44
n_dislike: 7
n_adview: 1
n_viewdowngrade: 2
avg_length_per_session: 18574.67
tenure: 52 days
is_churn: 0

In [1543]:
print(dfs[(dfs.userId==2) & (dfs.datetime > '2018-11-07 22:30:04') & (dfs.datetime <= '2018-11-21 22:30:04')].shape)

print(dfs[(dfs.userId==2) & (dfs.datetime > '2018-10-24 22:30:04') & (dfs.datetime <= '2018-11-07 22:30:04')].shape)

print(dfs[(dfs.userId==2) & (dfs.datetime > '2018-10-10 22:30:04') & (dfs.datetime <= '2018-10-24 22:30:04')].shape)

(290, 15)
(181, 15)
(0, 15)

In [1651]:
dfs[(dfs.userId==20) & (dfs.datetime > '2018-11-01 13:44:09') & (dfs.datetime <= '2018-11-29 13:44:09')]['length'].sum()

154407.65370000002

In [1607]:
u_churn

[13,
 28,
 29,
 35,
 53,
 54,
 61,
 70,
 92,
 109,
 131,
 100007,
 100008,
 100014,
 100015,
 100016,
 100018,
 200003,
 200017,
 300001,
 300004]