<a href="#measuring-churn">Measuring Churn</a>

- <a href="#standard-based-churn-rate">Standard Churn Rate (Subscription)</a>


- <a href="#activity-based-churn-rate">Activity Churn Rate (Non-Subscription)</a>

<a href="#measuring-customers">Measuring Customers</a>

In [ ]:
# import libraries
import pandas as pd
import numpy as np

In [126]:

df = pd.read_json('data/mini_sparkify_event_data.json', orient='records', lines=True)
df

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
0,1538352117000,30,29,NextSong,Logged In,PUT,200,paid,50,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Martha Tilston,Rockpools,277.89016
1,1538352180000,9,8,NextSong,Logged In,PUT,200,free,79,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Five Iron Frenzy,Canada,236.09424
2,1538352394000,30,29,NextSong,Logged In,PUT,200,paid,51,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Adam Lambert,Time For Miracles,282.82730
3,1538352416000,9,8,NextSong,Logged In,PUT,200,free,80,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Enigma,Knocking On Forbidden Doors,262.71302
4,1538352676000,30,29,NextSong,Logged In,PUT,200,paid,52,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Daft Punk,Harder Better Faster Stronger,223.60771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286495,1543622240000,,500,Home,Logged Out,GET,200,paid,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286496,1543622241000,,500,Login,Logged Out,PUT,307,paid,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286497,1543622248000,300011,500,Home,Logged In,GET,200,paid,43,"New York-Newark-Jersey City, NY-NJ-PA",Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,House,Emilia,1.538337e+12,F,NaN,NaN,NaN
286498,1543622398000,300011,500,About,Logged In,GET,200,paid,44,"New York-Newark-Jersey City, NY-NJ-PA",Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,House,Emilia,1.538337e+12,F,NaN,NaN,NaN
286499,1543622411000,300011,500,NextSong,Logged In,PUT,200,paid,45,"New York-Newark-Jersey City, NY-NJ-PA",Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,House,Emilia,1.538337e+12,F,Camera Obscura,The Sun On His Back,170.89261

In [127]:
df['page'].value_counts()

NextSong                     228108
Home                          14457
Thumbs Up                     12551
Add to Playlist                6526
Add Friend                     4277
Roll Advert                    3933
Login                          3241
Logout                         3226
Thumbs Down                    2546
Downgrade                      2055
Help                           1726
Settings                       1514
About                           924
Upgrade                         499
Save Settings                   310
Error                           258
Submit Upgrade                  159
Submit Downgrade                 63
Cancel                           52
Cancellation Confirmation        52
Register                         18
Submit Registration               5
Name: page, dtype: int64

In [135]:
df = df.drop(np.where(df.userId == '')[0])

df

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
0,1538352117000,30,29,NextSong,Logged In,PUT,200,paid,50,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Martha Tilston,Rockpools,277.89016
1,1538352180000,9,8,NextSong,Logged In,PUT,200,free,79,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Five Iron Frenzy,Canada,236.09424
2,1538352394000,30,29,NextSong,Logged In,PUT,200,paid,51,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Adam Lambert,Time For Miracles,282.82730
3,1538352416000,9,8,NextSong,Logged In,PUT,200,free,80,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Enigma,Knocking On Forbidden Doors,262.71302
4,1538352676000,30,29,NextSong,Logged In,PUT,200,paid,52,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Daft Punk,Harder Better Faster Stronger,223.60771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286492,1543622121000,300011,500,NextSong,Logged In,PUT,200,paid,38,"New York-Newark-Jersey City, NY-NJ-PA",Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,House,Emilia,1.538337e+12,F,Iron Maiden,Murders In The Rue Morgue (1998 Digital Remaster),258.66404
286493,1543622122000,300011,500,Logout,Logged In,PUT,307,paid,39,"New York-Newark-Jersey City, NY-NJ-PA",Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,House,Emilia,1.538337e+12,F,NaN,NaN,NaN
286497,1543622248000,300011,500,Home,Logged In,GET,200,paid,43,"New York-Newark-Jersey City, NY-NJ-PA",Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,House,Emilia,1.538337e+12,F,NaN,NaN,NaN
286498,1543622398000,300011,500,About,Logged In,GET,200,paid,44,"New York-Newark-Jersey City, NY-NJ-PA",Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,House,Emilia,1.538337e+12,F,NaN,NaN,NaN
286499,1543622411000,300011,500,NextSong,Logged In,PUT,200,paid,45,"New York-Newark-Jersey City, NY-NJ-PA",Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,House,Emilia,1.538337e+12,F,Camera Obscura,The Sun On His Back,170.89261

In [136]:
df.userId = df.userId.astype('int')

In [141]:
df = df.drop(['registration', 'userAgent', 'status', 'method', ], axis=1)

df

,ts,userId,sessionId,page,auth,level,itemInSession,location,lastName,firstName,gender,artist,song,length
0,1538352117000,30,29,NextSong,Logged In,paid,50,"Bakersfield, CA",Freeman,Colin,M,Martha Tilston,Rockpools,277.89016
1,1538352180000,9,8,NextSong,Logged In,free,79,"Boston-Cambridge-Newton, MA-NH",Long,Micah,M,Five Iron Frenzy,Canada,236.09424
2,1538352394000,30,29,NextSong,Logged In,paid,51,"Bakersfield, CA",Freeman,Colin,M,Adam Lambert,Time For Miracles,282.82730
3,1538352416000,9,8,NextSong,Logged In,free,80,"Boston-Cambridge-Newton, MA-NH",Long,Micah,M,Enigma,Knocking On Forbidden Doors,262.71302
4,1538352676000,30,29,NextSong,Logged In,paid,52,"Bakersfield, CA",Freeman,Colin,M,Daft Punk,Harder Better Faster Stronger,223.60771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286492,1543622121000,300011,500,NextSong,Logged In,paid,38,"New York-Newark-Jersey City, NY-NJ-PA",House,Emilia,F,Iron Maiden,Murders In The Rue Morgue (1998 Digital Remaster),258.66404
286493,1543622122000,300011,500,Logout,Logged In,paid,39,"New York-Newark-Jersey City, NY-NJ-PA",House,Emilia,F,NaN,NaN,NaN
286497,1543622248000,300011,500,Home,Logged In,paid,43,"New York-Newark-Jersey City, NY-NJ-PA",House,Emilia,F,NaN,NaN,NaN
286498,1543622398000,300011,500,About,Logged In,paid,44,"New York-Newark-Jersey City, NY-NJ-PA",House,Emilia,F,NaN,NaN,NaN
286499,1543622411000,300011,500,NextSong,Logged In,paid,45,"New York-Newark-Jersey City, NY-NJ-PA",House,Emilia,F,Camera Obscura,The Sun On His Back,170.89261

In [142]:
df['fullname'] = df['firstName'] + ' ' + df['lastName']

In [143]:
df = df.drop(['firstName', 'lastName'], axis=1)

df

,ts,userId,sessionId,page,auth,level,itemInSession,location,gender,artist,song,length,fullname
0,1538352117000,30,29,NextSong,Logged In,paid,50,"Bakersfield, CA",M,Martha Tilston,Rockpools,277.89016,Colin Freeman
1,1538352180000,9,8,NextSong,Logged In,free,79,"Boston-Cambridge-Newton, MA-NH",M,Five Iron Frenzy,Canada,236.09424,Micah Long
2,1538352394000,30,29,NextSong,Logged In,paid,51,"Bakersfield, CA",M,Adam Lambert,Time For Miracles,282.82730,Colin Freeman
3,1538352416000,9,8,NextSong,Logged In,free,80,"Boston-Cambridge-Newton, MA-NH",M,Enigma,Knocking On Forbidden Doors,262.71302,Micah Long
4,1538352676000,30,29,NextSong,Logged In,paid,52,"Bakersfield, CA",M,Daft Punk,Harder Better Faster Stronger,223.60771,Colin Freeman
...,...,...,...,...,...,...,...,...,...,...,...,...,...
286492,1543622121000,300011,500,NextSong,Logged In,paid,38,"New York-Newark-Jersey City, NY-NJ-PA",F,Iron Maiden,Murders In The Rue Morgue (1998 Digital Remaster),258.66404,Emilia House
286493,1543622122000,300011,500,Logout,Logged In,paid,39,"New York-Newark-Jersey City, NY-NJ-PA",F,NaN,NaN,NaN,Emilia House
286497,1543622248000,300011,500,Home,Logged In,paid,43,"New York-Newark-Jersey City, NY-NJ-PA",F,NaN,NaN,NaN,Emilia House
286498,1543622398000,300011,500,About,Logged In,paid,44,"New York-Newark-Jersey City, NY-NJ-PA",F,NaN,NaN,NaN,Emilia House
286499,1543622411000,300011,500,NextSong,Logged In,paid,45,"New York-Newark-Jersey City, NY-NJ-PA",F,Camera Obscura,The Sun On His Back,170.89261,Emilia House

In [162]:
pd.to_datetime(1538352117)

Timestamp('1970-01-01 00:00:01.538352117')

In [164]:
import datetime
datetime.datetime.fromtimestamp(1538352117).isoformat()

'2018-10-01T08:01:57'

In [171]:
# df['datetime'] = datetime.datetime.fromtimestamp(df['ts']).isoformat()

df['datetime'] = df['ts'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000).isoformat())

In [174]:
# convert to pandas datetime type

df['datetime'] = df['datetime'].astype('datetime64[ns]')

In [185]:
df.dtypes

ts                        int64
userId                    int64
sessionId                 int64
page                     object
auth                     object
level                    object
itemInSession             int64
location                 object
gender                   object
artist                   object
song                     object
length                  float64
fullname                 object
datetime         datetime64[ns]
dtype: object

In [232]:
# session id can be duplicate for multiple users. not unique

df.query('sessionId == 1').groupby('userId').size()

userId
2         428
100001     51
300001    201
dtype: int64

In [277]:
# Check earlist date and latest date in the dataset

print(np.min(df['datetime']))

print(np.max(df['datetime']))

2018-10-01 08:01:57
2018-12-03 09:11:16

In [282]:
np.max(df['datetime']) - np.min(df['datetime'])

Timedelta('63 days 01:09:19')

In [286]:
# def get timedelta

def get_timedelta_by_user(user_id, data=df):
    min_datetime = np.min(data[data.userId == user_id]['datetime'])
    max_datetime = np.max(data[data.userId == user_id]['datetime'])
    d = max_datetime - min_datetime
    return d

get_timedelta_by_user(152)

Timedelta('31 days 17:01:23')

In [507]:
df[(df.page == 'Cancel') | (df.page == 'Cancellation Confirmation')]['page'].value_counts()

Cancel                       52
Cancellation Confirmation    52
Name: page, dtype: int64

In [513]:
df[(df.page.str.startswith('Cancel'))]['page'].value_counts()

Cancel                       52
Cancellation Confirmation    52
Name: page, dtype: int64

In [515]:
df.shape[0]

278154

In [518]:
# Number of distinct users

df.userId.nunique()

225

In [533]:
df['auth'].value_counts()

Logged In    278102
Cancelled        52
Name: auth, dtype: int64

In [695]:
# from 2018-10-02 0:00 to 2018-12-03 0:00
# 62 days
# https://www.timeanddate.com/date/durationresult.html?m1=10&d1=02&y1=2018&m2=12&d2=03&y2=2018 

62//7

8

---

<a id="measuring-churn"></a>

## Measuring Churn

---

observation date recall that follow weekly cycles, so pick a last sunday or monday 0:00 date as end day

In [957]:
# Set the observation timeframe we want to do churn model.
# 4 Weeks. 

observation_end_date = pd.Timestamp('2018-12-03') # 49th Monday of 2018.
observation_start_date = observation_end_date - pd.Timedelta("28 days") # 45th Monday of 2018

In [1108]:
def check_last_event(ids):
    # Check the last event for a list of users.
    
    # return (page, auth, level, time)
    
    l = []
    
    for i in ids:
        page = df[df.userId == i].tail(1).page.values[0]
        auth = df[df.userId == i].tail(1).auth.values[0]
        level = df[df.userId == i].tail(1).level.values[0]
        
        l.append((i, page, auth, level))
        
    return l

---
<a id="standard-based-churn-rate"></a>

### Standard account-basd churn rate

Glance of churn rate for 2018 Nov full calendar.

Since the limitation of event data, we dont have access to Subscription database (information such as sub id, renew date, therefore, to utilize the event data, we calculate the standard account-based churn rate (for Nov 2018) as:

Number of users whose first event is a paid status last event is also a paid status and not cancel auth
/
Total distinct number of users in the month

In [966]:
# df[(df.datetime > '2018-10-02T00:00:00') & (df.datetime < '2018-12-03T00:00:00')] 

nov_start_date = '2018-11-01T00:00:00'
nov_end_date = '2018-12-01T00:00:00'

df_nov = df[(df.datetime > nov_start_date) & (df.datetime < nov_end_date)] 
df_nov

nov_uids = df_nov.userId.value_counts().index # distinct user ids in nov
n_nov_uids = len(nov_uids) # number of user ids

In [1033]:
# the very first event for each user

df_nov_first = df_nov.drop_duplicates('userId', keep='first').\
sort_values('userId')[['userId', 'auth', 'level', 'datetime']]


df_nov_first = df_nov_first.set_index('userId')
df_nov_first

             auth level            datetime
userId
2       Logged In  paid 2018-11-01 05:58:30
4       Logged In  paid 2018-11-04 21:23:21
5       Logged In  free 2018-11-08 04:53:37
6       Logged In  paid 2018-11-01 14:40:13
7       Logged In  free 2018-11-09 23:19:15
...           ...   ...                 ...
300020  Logged In  paid 2018-11-13 20:06:12
300021  Logged In  paid 2018-11-01 05:23:32
300022  Logged In  paid 2018-11-05 09:08:50
300023  Logged In  paid 2018-11-01 00:01:12
300025  Logged In  paid 2018-11-13 06:24:17

[187 rows x 3 columns]

In [1037]:
# Number of users who is paid at start
df_nov_starts_with_paid = df_nov_first[df_nov_first['level'] == 'paid']
df_nov_starts_with_paid

             auth level            datetime
userId
2       Logged In  paid 2018-11-01 05:58:30
4       Logged In  paid 2018-11-04 21:23:21
6       Logged In  paid 2018-11-01 14:40:13
9       Logged In  paid 2018-11-01 09:49:01
10      Logged In  paid 2018-11-03 22:27:42
...           ...   ...                 ...
300020  Logged In  paid 2018-11-13 20:06:12
300021  Logged In  paid 2018-11-01 05:23:32
300022  Logged In  paid 2018-11-05 09:08:50
300023  Logged In  paid 2018-11-01 00:01:12
300025  Logged In  paid 2018-11-13 06:24:17

[103 rows x 3 columns]

In [984]:
# the very last event for each user

df_nov_last = df_nov.drop_duplicates('userId', keep='last').\
sort_values('userId')[['userId', 'auth', 'level', 'datetime']]

df_nov_last = df_nov_last.set_index('userId')
df_nov_last

             auth level            datetime
userId
2       Logged In  paid 2018-11-22 06:30:04
4       Logged In  paid 2018-11-30 23:57:12
5       Logged In  free 2018-11-08 08:33:21
6       Logged In  paid 2018-11-30 06:48:26
7       Logged In  free 2018-11-23 14:46:51
...           ...   ...                 ...
300020  Logged In  paid 2018-11-13 22:15:34
300021  Logged In  paid 2018-11-30 19:16:57
300022  Logged In  paid 2018-11-28 01:28:28
300023  Logged In  paid 2018-11-30 01:49:21
300025  Logged In  paid 2018-11-30 15:12:50

[187 rows x 3 columns]

In [989]:
df_nov_first.auth.value_counts()

Logged In    187
Name: auth, dtype: int64

In [1002]:
df_nov_last.auth.value_counts()

Logged In    165
Cancelled     22
Name: auth, dtype: int64

In [1028]:
# Merger first and last. Then check who churn
# condition: 
# 1 - if begin with paid, end with free. (cancel before the very last), OR
# 2 - if begin with paid, end with paid but it is the last paid event (cancel is the last event)

df_nov_first_last = pd.merge(df_nov_first, df_nov_last, how='inner', on='userId')

df_nov_churn = df_nov_first_last[
    ((df_nov_first_last.level_x == 'paid') & (df_nov_first_last.level_y == 'free')) | 
    ((df_nov_first_last.level_x == 'paid') & (df_nov_first_last.auth_y == 'Cancelled'))
]

df_nov_churn

,auth_x,level_x,datetime_x,auth_y,level_y,datetime_y
userId,,,,,,
28,Logged In,paid,2018-11-01 00:02:48,Cancelled,paid,2018-11-06 08:20:32
29,Logged In,paid,2018-11-01 00:00:27,Cancelled,paid,2018-11-14 15:37:11
35,Logged In,paid,2018-11-01 13:23:02,Logged In,free,2018-11-30 18:24:09
39,Logged In,paid,2018-11-01 00:35:46,Logged In,free,2018-11-30 13:27:16
53,Logged In,paid,2018-11-04 08:20:10,Cancelled,paid,2018-11-19 20:34:56
54,Logged In,paid,2018-11-01 00:01:56,Cancelled,paid,2018-11-13 03:40:08
70,Logged In,paid,2018-11-02 09:20:40,Cancelled,paid,2018-11-15 06:34:27
92,Logged In,paid,2018-11-01 00:00:06,Logged In,free,2018-11-30 23:58:18
103,Logged In,paid,2018-11-03 16:27:37,Cancelled,paid,2018-11-04 22:01:31
106,Logged In,paid,2018-11-02 21:07:17,Cancelled,paid,2018-11-02 21:47:04
109,Logged In,paid,2018-11-06 01:12:05,Logged In,free,2018-11-16 20:33:04
131,Logged In,paid,2018-11-02 02:26:13,Logged In,free,2018-11-30 11:21:23
100007,Logged In,paid,2018-11-07 20:36:40,Cancelled,paid,2018-11-29 19:45:09
100008,Logged In,paid,2018-11-19 20:35:46,Logged In,free,2018-11-28 00:13:39
100013,Logged In,paid,2018-11-02 01:00:47,Cancelled,paid,2018-11-03 02:53:36
100014,Logged In,paid,2018-11-09 13:10:12,Cancelled,paid,2018-11-21 03:04:09
100016,Logged In,paid,2018-11-01 00:02:33,Logged In,free,2018-11-28 00:20:47
100018,Logged In,paid,2018-11-02 15:28:51,Logged In,free,2018-11-28 12:12:40
200011,Logged In,paid,2018-11-01 00:01:31,Cancelled,free,2018-11-02 09:09:24
200017,Logged In,paid,2018-11-02 02:56:48,Cancelled,paid,2018-11-16 04:16:43
200021,Logged In,paid,2018-11-01 16:41:21,Cancelled,paid,2018-11-02 13:58:53
200023,Logged In,paid,2018-11-01 00:06:11,Logged In,free,2018-11-30 23:58:10
300001,Logged In,paid,2018-11-04 20:52:21,Cancelled,paid,2018-11-24 05:42:24
300004,Logged In,paid,2018-11-14 21:17:46,Logged In,free,2018-11-15 06:41:25

In [1041]:
# Calculate Nov 2018 Churn Rate based on Standard account-based (paid-status or cancellation event)

print(f"Number of customers at the start of nov: {df_nov_starts_with_paid.shape[0]}")
print(f"Number of customers at the end of nov: {df_nov_churn.shape[0]}")

nov_churn_rate = df_nov_churn.shape[0] / df_nov_starts_with_paid.shape[0]

print(f"2018 Nov churn rate: {nov_churn_rate}")
print(f"2018 Nov retention rate: {1 - nov_churn_rate}")

Number of customers at the start of nov: 103
Number of customers at the end of nov: 24
2018 Nov churn rate: 0.23300970873786409
2018 Nov retention rate: 0.7669902912621359

---
<a id="activity-based-churn-rate"></a>
### Activity Based Churn for non-subscriber

In addtion to standard churn rate calculation, I would also calculate churn rate for non-paid user, based on activity
 measure. 2018-nov.
 
We can obtain an overview of the engagement, utilization of free user. 

How many of free user discontine to use the free service. 

Based on activity recency. Define an inactive time interval, eg 1 month.
Short gaps can be ignore



1. Observe on the start day. (Say nov 1), get all free uses have activities within oct 1 - nov 1, count the head count. 

2. Observe on the end day. (Say dec 1), get all users have activities within nov 1 - dec 1. Count the head count. 

3. Calculation: End head count / Start head count  (Retaintion Rate)
4. Churn Rate + Retaintion Rate = 1

In [1076]:
# Two observations: 
# 1. Observation on start date of the month 
# 2. Observation on end date of the month
# Recency interval: 30 days

nov_start_date = '2018-11-01T00:00:00'
nov_end_date = '2018-12-01T00:00:00'
recency_interval = '30 days'

# Convert to pd timestamp type
free_nov_ob_start_date = pd.Timestamp(nov_start_date)
free_nov_ob_end_date = pd.Timestamp(nov_end_date)

# Calcuate the inactivity limit for start and end
recency_start_date = free_nov_ob_start_date - pd.Timedelta(recency_interval)
recency_end_date = free_nov_ob_end_date - pd.Timedelta(recency_interval)

print(recency_start_date)
print(recency_end_date)

2018-10-02 00:00:00
2018-11-01 00:00:00

In [1096]:
# Free users count at the start

free_start_count = \
df[
    (df.datetime > recency_start_date) & 
    (df.datetime < recency_end_date) & 
    (df.level == 'free')
].groupby('userId').size().shape[0]

free_start_count

175

In [1101]:
# Free users count at the end

free_end_count = \
df[
    (df.datetime > recency_end_date) & 
    (df.datetime < nov_end_date) & 
    (df.level == 'free')
].groupby('userId').size().shape[0]

free_end_count # retain

103

In [1107]:
print(f"Number of free users churn for 2018 Nov (Based on activity recency): {free_start_count - free_end_count}")

print(f"Free Users Churn Rate for 2018 Nov (Based on activity recency): \
{(free_start_count - free_end_count) / free_start_count}")

print(f"Free Users Retain Rate for 2018 Nov (Based on activity recency): \
{free_end_count / free_start_count}")

Free Users Churn for month 2018 Nov (Based on activity recency): 72
Free Users Churn Rate for month 2018 Nov (Based on activity recency): 0.4114285714285714
Free Users Retain Rate for month 2018 Nov (Based on activity recency): 0.5885714285714285

---

<a id="measuring-customers"></a>

## Measuring Customers (Feature Engineering)


- Measuring counts, averages, and totals of customer events 
- Running QA tests on metrics 
- Choosing time periods and timestamps for metrics 
- Measuring how long a customer has been using a service 
- Measuring subscription metrics

---

In [1566]:
# The measuring metrics based on this timeframe (4 weeks)

print(observation_start_date)  # 45th Monday of 2018
print(observation_end_date)  # 49th Monday of 2018.

# 4 weeks in between
observation_end_date - observation_start_date

2018-11-05 00:00:00
2018-12-03 00:00:00

Timedelta('28 days 00:00:00')

In [1567]:
# Subset of the 4 weeks timeframe

df_last_4weeks = df[
    (df['datetime'] >= observation_start_date) & 
    (df['datetime'] < observation_end_date)
]

df_last_4weeks.head()

,ts,userId,sessionId,page,auth,level,itemInSession,location,gender,artist,song,length,fullname,datetime
123714,1541347223000,100,1590,NextSong,Logged In,paid,91,"Dallas-Fort Worth-Arlington, TX",M,The Alter Boys,Docking Bay 94,159.13751,Colin Larson,2018-11-05 00:00:23
123715,1541347231000,152,1584,NextSong,Logged In,free,55,"Los Angeles-Long Beach-Anaheim, CA",M,X-Ray Spex,Age,155.68934,Mishael Ortega,2018-11-05 00:00:31
123716,1541347317000,97,1538,NextSong,Logged In,paid,171,"Riverside-San Bernardino-Ontario, CA",F,Bright Eyes,Drunk Kid Catholic,190.11873,Jayleen Reed,2018-11-05 00:01:57
123717,1541347382000,100,1590,NextSong,Logged In,paid,92,"Dallas-Fort Worth-Arlington, TX",M,Jordin Sparks,Next To You,196.85832,Colin Larson,2018-11-05 00:03:02
123718,1541347386000,152,1584,NextSong,Logged In,free,56,"Los Angeles-Long Beach-Anaheim, CA",M,Ok Go,Don't Ask Me,165.56363,Mishael Ortega,2018-11-05 00:03:06

In [1568]:
df_last_4weeks.userId.nunique()

179

In [1569]:
n_like_4weeks = df_last_4weeks[df_last_4weeks['page'] == 'Thumbs Up'].groupby('userId').size()

n_like_4weeks

userId
2           8
4          60
5           4
6          69
7           3
         ...
300020      1
300021    111
300022     10
300023     64
300025     44
Length: 172, dtype: int64

In [1570]:
pd.date_range(start='2016-01-01', end='2020-12-31', freq='7D')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15', '2016-01-22',
               '2016-01-29', '2016-02-05', '2016-02-12', '2016-02-19',
               '2016-02-26', '2016-03-04',
               ...
               '2020-10-23', '2020-10-30', '2020-11-06', '2020-11-13',
               '2020-11-20', '2020-11-27', '2020-12-04', '2020-12-11',
               '2020-12-18', '2020-12-25'],
              dtype='datetime64[ns]', length=261, freq='7D')

In [1571]:
observation_start_date - pd.Timedelta('21 days')

Timestamp('2018-10-15 00:00:00')

In [1572]:
# Moving Periods. 4 weeks for each period. Move one week each step.

periods = pd.date_range(start=observation_start_date - pd.Timedelta('21 days'), end=observation_end_date, freq='7D')
periods

DatetimeIndex(['2018-10-15', '2018-10-22', '2018-10-29', '2018-11-05',
               '2018-11-12', '2018-11-19', '2018-11-26', '2018-12-03'],
              dtype='datetime64[ns]', freq='7D')

In [1573]:
# Softcopy for periods subset

df_p = df.copy()
df_p.head()

,ts,userId,sessionId,page,auth,level,itemInSession,location,gender,artist,song,length,fullname,datetime
0,1538352117000,30,29,NextSong,Logged In,paid,50,"Bakersfield, CA",M,Martha Tilston,Rockpools,277.89016,Colin Freeman,2018-10-01 08:01:57
1,1538352180000,9,8,NextSong,Logged In,free,79,"Boston-Cambridge-Newton, MA-NH",M,Five Iron Frenzy,Canada,236.09424,Micah Long,2018-10-01 08:03:00
2,1538352394000,30,29,NextSong,Logged In,paid,51,"Bakersfield, CA",M,Adam Lambert,Time For Miracles,282.82730,Colin Freeman,2018-10-01 08:06:34
3,1538352416000,9,8,NextSong,Logged In,free,80,"Boston-Cambridge-Newton, MA-NH",M,Enigma,Knocking On Forbidden Doors,262.71302,Micah Long,2018-10-01 08:06:56
4,1538352676000,30,29,NextSong,Logged In,paid,52,"Bakersfield, CA",M,Daft Punk,Harder Better Faster Stronger,223.60771,Colin Freeman,2018-10-01 08:11:16

In [1574]:
def period_from_datetime(x):
    period = 0 # default 0: out of window concerned. to filter out.
    
    if (x >= pd.Timestamp('2018-10-15')) & (x < pd.Timestamp('2018-11-12')): 
        period = 1
    
    if (x >= pd.Timestamp('2018-10-22')) & (x < pd.Timestamp('2018-11-19')):
        period = 2
    
    if (x >= pd.Timestamp('2018-10-29')) & (x < pd.Timestamp('2018-11-26')):
        period = 3
        
    if (x >= pd.Timestamp('2018-11-05')) & (x < pd.Timestamp('2018-12-03')):
        period = 4
        
    return period


# df_p[-20:]['datetime'].apply(period_from_datetime)

In [1575]:
# Add a column of period, assign each event to a period base on its datetime.

df_p['period'] = df_p['datetime'].apply(period_from_datetime)

In [1576]:
# p1,2,3,4 is what we concern. 0 is out of timeframe we don't consider. 

df_p[df_p.period.isin([1,2,3,4])].head(5)

,ts,userId,sessionId,page,auth,level,itemInSession,location,gender,artist,song,length,fullname,datetime,period
43037,1539532821000,54,782,NextSong,Logged In,paid,97,"Spokane-Spokane Valley, WA",F,The Red Jumpsuit Apparatus,Your Guardian Angel,320.75710,Alexi Warren,2018-10-15 00:00:21,1
43038,1539532831000,101,813,Downgrade,Logged In,paid,137,"Denver-Aurora-Lakewood, CO",M,NaN,NaN,NaN,Alex Hogan,2018-10-15 00:00:31,1
43039,1539532851000,25,827,Add to Playlist,Logged In,paid,90,"Tampa-St. Petersburg-Clearwater, FL",F,NaN,NaN,NaN,Madison Morales,2018-10-15 00:00:51,1
43040,1539532918000,143,552,NextSong,Logged In,free,15,"Virginia Beach-Norfolk-Newport News, VA-NC",F,Savatage,Drive,197.45914,Molly Harrison,2018-10-15 00:01:58,1
43041,1539532933000,25,827,NextSong,Logged In,paid,91,"Tampa-St. Petersburg-Clearwater, FL",F,The Strokes,The Modern Age,208.06485,Madison Morales,2018-10-15 00:02:13,1

In [1577]:
# Distinct Events

df['page'].value_counts()

NextSong                     228108
Thumbs Up                     12551
Home                          10082
Add to Playlist                6526
Add Friend                     4277
Roll Advert                    3933
Logout                         3226
Thumbs Down                    2546
Downgrade                      2055
Settings                       1514
Help                           1454
Upgrade                         499
About                           495
Save Settings                   310
Error                           252
Submit Upgrade                  159
Submit Downgrade                 63
Cancel                           52
Cancellation Confirmation        52
Name: page, dtype: int64

In [1578]:
# Summary df for n_like within 4 moving period, each period is 4 weeks

df_n_like = df_p[df_p.period.isin([1,2,3,4])]
df_n_like = df_n_like[df_n_like.page == 'Thumbs Up']
ds_like_count = df_n_like.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_like_count = pd.DataFrame(ds_like_count).reset_index()
df_n_like_count.columns = ['userId', 'period', 'n_like']
df_n_like_count.head(10)

   userId  period  n_like
0       2       2       1
1       2       3       3
2       2       4       8
3       3       2      10
4       3       3       3
5       4       1       5
6       4       2      10
7       4       3      20
8       4       4      60
9       5       2       5

In [1579]:
# Summary df for n_songplay within 4 moving period, each period is 4 weeks

df_n_play = df_p[df_p.period.isin([1,2,3,4])]
df_n_play = df_n_play[df_n_play.page == 'NextSong']
ds_nplay_count = df_n_play.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_play_count = pd.DataFrame(ds_nplay_count).reset_index()
df_n_play_count.columns = ['userId', 'period', 'n_songplay']
df_n_play_count.head(10)

   userId  period  n_songplay
0       2       2          50
1       2       3          99
2       2       4         247
3       3       2         154
4       3       3          38
5       4       1         102
6       4       2         294
7       4       3         478
8       4       4        1144
9       5       2          78

In [1580]:
# Summary df for n_displike within 4 moving period, each period is 4 weeks

df_n_dislike = df_p[df_p.period.isin([1,2,3,4])]
df_n_dislike = df_n_dislike[df_n_dislike.page == 'Thumbs Down']
ds_ndislike_count = df_n_dislike.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_dislike_count = pd.DataFrame(ds_ndislike_count).reset_index()
df_n_dislike_count.columns = ['userId', 'period', 'n_dislike']
df_n_dislike_count.head(10)

   userId  period  n_dislike
0       2       4          3
1       3       2          3
2       4       1          4
3       4       2          1
4       4       3          8
5       4       4         13
6       6       1          2
7       6       2          4
8       6       3         10
9       6       4         11

In [1581]:
# Summary df for n_addplaylist within 4 moving period, each period is 4 weeks

df_n_addplaylist = df_p[df_p.period.isin([1,2,3,4])]
df_n_addplaylist = df_n_addplaylist[df_n_addplaylist.page == 'Add to Playlist']
ds_n_addplaylist = df_n_addplaylist.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_addplaylist_count = pd.DataFrame(ds_n_addplaylist).reset_index()
df_n_addplaylist_count.columns = ['userId', 'period', 'n_addplaylist']
df_n_addplaylist_count.head(10)

   userId  period  n_addplaylist
0       2       3              1
1       2       4              7
2       3       2              3
3       3       3              1
4       4       1              4
5       4       2              7
6       4       3             10
7       4       4             38
8       5       2              4
9       5       4              2

In [1582]:
# Summary df for n_addfriend within 4 moving period, each period is 4 weeks

df_n_addfriend = df_p[df_p.period.isin([1,2,3,4])]
df_n_addfriend = df_n_addfriend[df_n_addfriend.page == 'Add Friend']
ds_n_addfriend = df_n_addfriend.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_addfriend_count = pd.DataFrame(ds_n_addfriend).reset_index()
df_n_addfriend_count.columns = ['userId', 'period', 'n_addfriend']
df_n_addfriend_count.head(10)

   userId  period  n_addfriend
0       2       2            2
1       2       3            4
2       2       4            7
3       3       2            1
4       4       2            5
5       4       3            9
6       4       4           31
7       5       2            2
8       5       4            1
9       6       1            1

In [1583]:
# Summary df for n_adview within 4 moving period, each period is 4 weeks

df_n_adview = df_p[df_p.period.isin([1,2,3,4])]
df_n_adview = df_n_adview[df_n_adview.page == 'Roll Advert']
ds_n_adview = df_n_adview.groupby(['userId', 'period'])['page'].count()

# turn groupby output to dataframe
df_n_adview_count = pd.DataFrame(ds_n_adview).reset_index()
df_n_adview_count.columns = ['userId', 'period', 'n_adview']
df_n_adview_count.head(10)

   userId  period  n_adview
0       3       3         1
1       4       1         4
2       5       2         4
3       5       4         3
4       6       1         1
5       6       2         1
6       6       3         1
7       6       4         2
8       7       1         2
9       7       2         9

In [1584]:
# Summary df for n_session within 4 moving period, each period is 4 weeks

df_n_session = df_p[df_p.period.isin([1,2,3,4])]

df_n_session = \
pd.DataFrame(df_n_session.groupby(['userId', 'period', 'sessionId']).size()).reset_index().drop([0], axis=1)

df_n_session_count = pd.DataFrame(df_n_session.groupby(['userId','period'])['sessionId'].count()).reset_index()
df_n_session_count.columns = ['userId', 'period', 'n_session']
df_n_session_count

     userId  period  n_session
0         2       2          1
1         2       3          2
2         2       4          3
3         3       2          2
4         3       3          1
..      ...     ...        ...
613  300024       1          1
614  300025       1          2
615  300025       2          3
616  300025       3          1
617  300025       4          6

[618 rows x 3 columns]

In [1585]:
# Summary df for n_itemsession within 4 moving period, each period is 4 weeks
# Total items in all sessions per period per user (represents usage, shoule be corelated to song play)

ds_n_itemsession = pd.DataFrame(
    df_p[df_p.period.isin([1,2,3,4])].groupby(['userId', 'period','sessionId'])['itemInSession'].count()
).reset_index().groupby(['userId', 'period'])['itemInSession'].sum()

df_n_itemsession_count = pd.DataFrame(ds_n_itemsession).reset_index()
df_n_itemsession_count.columns = ['userId', 'period', 'n_itemsession']

df_n_itemsession_count

     userId  period  n_itemsession
0         2       2             55
1         2       3            118
2         2       4            298
3         3       2            183
4         3       3             47
..      ...     ...            ...
613  300024       1            102
614  300025       1            191
615  300025       2            139
616  300025       3            185
617  300025       4            564

[618 rows x 3 columns]

In [1586]:
# Summary. Sessions Count, Session Items Count, Items per session each period. 

df_session_summary = pd.merge(df_n_session_count, df_n_itemsession_count)
df_session_summary['items_per_session'] = df_session_summary['n_itemsession'] / df_session_summary['n_session']
df_session_summary

     userId  period  n_session  n_itemsession  items_per_session
0         2       2          1             55          55.000000
1         2       3          2            118          59.000000
2         2       4          3            298          99.333333
3         3       2          2            183          91.500000
4         3       3          1             47          47.000000
..      ...     ...        ...            ...                ...
613  300024       1          1            102         102.000000
614  300025       1          2            191          95.500000
615  300025       2          3            139          46.333333
616  300025       3          1            185         185.000000
617  300025       4          6            564          94.000000

[618 rows x 5 columns]

In [1587]:
# Todo. Measure avg / sum of continous data metrics. e.g 'length'

df_duration = df_p[(df_p['page'] == 'NextSong') & df_p.period.isin([1,2,3,4])][['userId', 'period', 'length']]

df_duration.groupby(['userId', 'period'])['length'].sum()

userId  period
2       2          11945.95611
        3          23915.42291
        4          62124.84475
3       2          38639.29017
        3          10421.45543
                      ...
300024  1          22698.64417
300025  1          36197.72979
        2          27444.63957
        3          39919.26219
        4         111447.74303
Name: length, Length: 617, dtype: float64

In [1588]:
df_p[df_p['page'] == 'NextSong'].length.isnull().sum()

0

In [ ]:
df_p[(df_p.userId==2) & df_p.period.isin([0])]